body#photos-home {
	
	section#page-content {
		@include clearfix;
	}
	
	h1.page-title {
		@include toggleSizes(font-size, ($font-size--h1--xs * 1.25), $font-size--h1--sm, $font-size--h1--md, ($font-size--h1--lg * 1.75), ($font-size--h1--xl * 1.5));
		@include toggleSizes(padding-bottom, 15px, 30px, 45px, 45px, 45px);
	}
	
	article.grid-item {
		display: block;
		position: relative;
		list-style: none;
		padding: 0;
		float: left;
						
		line-height: 1;
		
		@include toggleSizes(margin, 0 0 10px 0, 0 0 10px 0, 0 0 20px 0, 0 0 20px 0, 0 0 20px 0);
		@include toggleSizes(max-width, 100%, 100%, 50%, 50%, 50%);
		@include toggleSizes(width, 100%, 100%, calc(50% - 10px), calc(50% - 10px), calc(50% - 10px));
		@include toggleSizes(height, 200px, 200px, 300px, 300px, 300px);
		
		@include md-up {
			&:nth-of-type(odd) {
				margin-left: 0;
				margin-right: 10px;
			}
			&:nth-of-type(even) {
				margin-left: 10px;
				margin-right: 0;
			}
		}
		
	}
	
	p.grid-caption {
		
		display: block;
		opacity: 0;
		
		width: 100%;
		
		padding: 10px 15px;			
		background: $brand;
		color: $black;
		
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
		
	}
	
	a.grid-link {
		
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		
		background: $yellow;
		background-position: center !important;
		background-size: cover !important;
		
		width: 100%;
		height: 100%;
		
		text-decoration: none;
		
		&:hover {
			outline: 3px solid $cyan;				
		}
		&:focus {
			outline: 3px solid $cyan;
		}
		&:focus, 
		&:hover {	
			p.grid-caption {
				opacity: 1;
			}
		}
		
	}
	
	nav.pagination {
	
		position: relative;
		display:        flex;
	
		width:          100%;
	
		@include sm-down {
			flex-direction: column;
		}
	
		margin-top: 30px;
	
		@include clearfix;
	
		p[class^="page--next-prev--"] {
	
			@extend h4;
			font-style: normal;
	
			position: relative;
			flex: 1;
			
			padding: 0;
	
			text-align: center;
	
			@include sm-down {
				margin: 15px 0 0 0;
	
				&:last-child {
					margin-bottom: 15px;
				}
			}
	
			@include md-up {
	
				margin: 30px 0;
	
				width: 50%;
				max-width: 50%;
			
				&:first-child {
					margin-right: 15px;
				}
				&:last-child {
					margin-left: 15px;
				}
				&:only-child {
					margin-left: 0;
					margin-right: 0;
				}
	
			}
	
			a {
				display: inline-block;
	
				&:hover {
					
				}
	
			}
	
			&:hover {
				outline:    none;
			}
	
			@include clearfix;
		}
	
		p.page--next-prev--prev {
			@include md-up {
				float:      left;
				text-align: left;
			}
		}
	
		p.page--next-prev--next {
			@include md-up {
				float:      right;
				text-align: right;
			}
		}
	
		p.page--next-prev--prev-blank {
			background: none;
	
			&:hover {
				background: none;
			}
	
			@include sm-down {
				display: none;
			}
		}
	
	}
	
}

