kbd {
    @include typography($code, "code");
    color: var(--color);
    background: var(--secondary-background);
    border-radius: 5px;
    padding:    0 5px;
    margin: 0;
    box-shadow: 0 0 var(--color), 0 0px var(--color), 0 1px var(--color), 0 2px var(--color), 0 3px var(--color), 0 4px var(--color);
    background-color: var(--background);
    color: var(--color);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid var(--color);
    border-radius: 0.25rem;
    display: inline-block;
    text-align: left;
    transform: translate3d(0, 0, 5px);
    transform-style: preserve-3d;
    transition: all 0.25s cubic-bezier(0.2, 1, 0.2, 1);
}

code {
    @include typography($code, "code");
    color: var(--color);
    background: var(--secondary-background);
    border-radius: 5px;
    padding:    0 2px;
}

pre {
    display: block;
    position: relative;

    background: var(--secondary-background);

    padding: $container-padding;

    margin: 0 0 22px;
    @include desktop {
        margin: 0 0 30px;
    }

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    * {
        background: none;
    }
}





// Light mode

.hll { background-color: var(--gray-700) }
.c { color: var(--gray-600); font-style: italic } /* Comment */
.err { color: var(--red); background-color: #e3d2d2 } /* Error */
.g { color: var(--gray-800) } /* Generic */
.k { color: var(--green); font-weight: bold } /* Keyword */
.l { color: var(--gray-800) } /* Literal */
.n { color: var(--gray-800) } /* Name */
.o { color: var(--gray-800) } /* Operator */
.x { color: var(--gray-800) } /* Other */
.p { color: var(--gray-800) } /* Punctuation */
.cm { color: var(--gray-600); font-style: italic } /* Comment.Multiline */
.cp { color: var(--red); font-weight: bold } /* Comment.Preproc */
.c1 { color: var(--gray-600); font-style: italic } /* Comment.Single */
.cs { color: var(--red); font-weight: bold; background-color: #520000 } /* Comment.Special */
.gd { color: var(--red) } /* Generic.Deleted */
.ge { color: var(--gray-800); font-style: italic } /* Generic.Emph */
.gr { color: var(--red) } /* Generic.Error */
.gh { color: var(--white); font-weight: bold } /* Generic.Heading */
.gi { color: var(--red) } /* Generic.Inserted */
.go { color: var(--gray-400) } /* Generic.Output */
.gp { color: var(--gray-400) } /* Generic.Prompt */
.gs { color: var(--gray-800); font-weight: bold } /* Generic.Strong */
.gu { color: var(--white); text-decoration: underline } /* Generic.Subheading */
.gt { color: var(--red) } /* Generic.Traceback */
.kc { color: var(--green); font-weight: bold } /* Keyword.Constant */
.kd { color: var(--green); font-weight: bold } /* Keyword.Declaration */
.kn { color: var(--green); font-weight: bold } /* Keyword.Namespace */
.kp { color: var(--green) } /* Keyword.Pseudo */
.kr { color: var(--green); font-weight: bold } /* Keyword.Reserved */
.kt { color: var(--green); font-weight: bold } /* Keyword.Type */
.ld { color: var(--gray-800) } /* Literal.Date */
.m { color: var(--blue) } /* Literal.Number */
.s { color: var(--orange) } /* Literal.String */
.na { color: var(--gray-800) } /* Name.Attribute */
.nb { color: var(--cyan) } /* Name.Builtin */
.nc { color: var(--blue); text-decoration: underline } /* Name.Class */
.no { color: var(--cyan) } /* Name.Constant */
.nd { color: var(--orange) } /* Name.Decorator */
.ni { color: var(--gray-800) } /* Name.Entity */
.ne { color: var(--gray-400) } /* Name.Exception */
.nf { color: var(--blue) } /* Name.Function */
.nl { color: var(--gray-800) } /* Name.Label */
.nn { color: var(--blue); text-decoration: underline } /* Name.Namespace */
.nx { color: var(--gray-800) } /* Name.Other */
.py { color: var(--gray-800) } /* Name.Property */
.nt { color: var(--green); font-weight: bold } /* Name.Tag */
.nv { color: var(--cyan) } /* Name.Variable */
.ow { color: var(--green); font-weight: bold } /* Operator.Word */
.w { color: var(--gray-600) } /* Text.Whitespace */
.mf { color: var(--blue) } /* Literal.Number.Float */
.mh { color: var(--blue) } /* Literal.Number.Hex */
.mi { color: var(--blue) } /* Literal.Number.Integer */
.mo { color: var(--blue) } /* Literal.Number.Oct */
.sb { color: var(--orange) } /* Literal.String.Backtick */
.sc { color: var(--orange) } /* Literal.String.Char */
.sd { color: var(--orange) } /* Literal.String.Doc */
.s2 { color: var(--orange) } /* Literal.String.Double */
.se { color: var(--orange) } /* Literal.String.Escape */
.sh { color: var(--orange) } /* Literal.String.Heredoc */
.si { color: var(--orange) } /* Literal.String.Interpol */
.sx { color: var(--orange) } /* Literal.String.Other */
.sr { color: var(--orange) } /* Literal.String.Regex */
.s1 { color: var(--orange) } /* Literal.String.Single */
.ss { color: var(--orange) } /* Literal.String.Symbol */
.bp { color: var(--cyan) } /* Name.Builtin.Pseudo */
.vc { color: var(--cyan) } /* Name.Variable.Class */
.vg { color: var(--cyan) } /* Name.Variable.Global */
.vi { color: var(--cyan) } /* Name.Variable.Instance */
.il { color: var(--blue) } /* Literal.Number.Integer.Long */

// Dark mode

@include darkMode() {
    .hll { background-color: var(--gray-200) }
    .c { color:  var(--gray-300); font-style: italic } /* Comment */
    .g { color:  var(--gray-200) } /* Generic */
    .l { color:  var(--gray-200) } /* Literal */
    .n { color:  var(--gray-200) } /* Name */
    .o { color:  var(--gray-200) } /* Operator */
    .x { color:  var(--gray-200) } /* Other */
    .p { color:  var(--gray-200) } /* Punctuation */
    .cm { color:  var(--gray-300); font-style: italic } /* Comment.Multiline */
    .c1 { color:  var(--gray-300); font-style: italic } /* Comment.Single */
    .ge { color:  var(--gray-200); font-style: italic } /* Generic.Emph */
    .gh { color: var(--white); font-weight: bold } /* Generic.Heading */
    .go { color: var(--gray-400) } /* Generic.Output */
    .gp { color: var(--gray-400) } /* Generic.Prompt */
    .gs { color:  var(--gray-200); font-weight: bold } /* Generic.Strong */
    .gu { color: var(--white); text-decoration: underline } /* Generic.Subheading */
    .ld { color:  var(--gray-200) } /* Literal.Date */
    .na { color:  var(--gray-200) } /* Name.Attribute */
    .ni { color:  var(--gray-200) } /* Name.Entity */
    .ne { color: var(--gray-400) } /* Name.Exception */
    .nl { color:  var(--gray-200) } /* Name.Label */
    .nx { color:  var(--gray-200) } /* Name.Other */
    .py { color:  var(--gray-200) } /* Name.Property */
    .w { color:  var(--gray-300) } /* Text.Whitespace */
}
