h1 {
	font-weight: 		bold;
	font-style: 		normal;
	text-align: 		left;
	text-decoration: 	none;
	text-transform: 	none;

	@include font($h1);
	&.display {
		@include font($h1-display);
	}
	
	&.page-title {
		@include font($h1-page-title);
	}
}

h2 {
	font-weight: 		bold;
	font-style: 		normal;
	text-align: 		center;
	text-decoration: 	none;
	text-transform: 	none;

	@include font($h2)
}

h3 {
	font-weight: 		bold;
	font-style: 		normal;
	text-align: 		left;
	text-decoration: 	none;
	text-transform: 	none;

	@include font($h3);
}

h4 {
	font-weight: 		bold;
	font-style: 		italic;
	text-align: 		left;
	text-decoration: 	none;
	text-transform: 	none;
	
	@include font($h4);
}

h5 {
	font-weight: 		bold;
	font-style: 		normal;
	text-align: 		left;
	text-decoration: 	none;
	text-transform: 	none;
	
	@include font($h5);
}

h2 + h3 {
	padding-top: 0 !important;
}
h3 + h4 {
	margin: 0;
	padding-top: 0 !important;
}