a {
    cursor: pointer;
    font-weight: inherit;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: auto;

    &:link {
        color: var(--link-color);
		text-decoration: underline;
    }
    &:visited {
        color: var(--link-color);
		text-decoration: underline;
    }
    &:hover {
        color: var(--link-hoverColor);
        text-decoration: none;
        cursor: pointer;
    }
    &:focus {
        color: var(--link-focusColor);
        background: var(--link-focusBackground);
        outline: 3px solid var(--link-outlineColor);
        outline-offset: 0;
        text-decoration: none;
    }
	&:focus:hover {
        outline: 3px solid var(--link-outlineColor);
		outline-offset: 3px;
	}
    &:active {
        text-decoration: underline !important;
    }

    &.link-secondary,
    &.post-published-date {
        &:link {
            color: var(--link-secondary-color);
            text-decoration: none;
        }
        &:visited {
            color: var(--link-secondary-color);
        }
        &:hover {
            color: var(--link-secondary-color);
            text-decoration: underline;
        }
        &:hover:focus {
            text-decoration: underline;
        }
        &:focus {
            color: var(--link-);
            background: var(--link-focusBackground);
            outline: 2px solid var(--link-outlineColor);
        }
    }
    
    &.no-underline {
        &:link {
            text-decoration: none !important;
        }
        &:visited {
            text-decoration: none !important;
        }
        &:hover {
            text-decoration: underline !important;
        }
        &:focus {
            color: var(--link-focusColor);
            background: var(--link-focusBackground);
            outline: 2px solid var(--link-outlineColor);
        }
    }
    
    &.bold {
        &:link {
            font-weight: 900;
        }
        &:visited {
            font-weight: 900;
        }
        &:hover {
            font-weight: 900;
        }
        &:focus {
            color: var(--link-focusColor);
            background: var(--link-focusBackground);
            outline: 2px solid var(--link-outlineColor);
        }
    }
	
	&.post-image {
		display: flex;
		position: relative;
		
        &:focus,
		&:hover:focus {
            outline: 3px solid var(--link-outlineColor);
			outline-offset: 3px;
        }
	}
}
