p, li, dd, dt {
    @include typography($p);
    font-style: normal;
    font-weight: normal;

    &.small {
        @include typography($small);
        line-height: 1.2;
    }

    &.small-caps,
    .small-caps {
        font-variant: small-caps !important;
        font-size: 120%;
    }

    &.lead {
        font-weight: bold;
    }

    &.no-padding {
        padding: 0 !important;
    }
}

p.lead,
article.blogpost section.post-body > p:first-of-type {
    @include typography($lead);
    font-weight: bold;
}

p {
    padding: 0 0 22px 0;
    @include desktop {
        padding: 0 0 30px 0;
    }

    &.lead {
        padding: 0;
    }
}

li {
    padding: 0;
}

dd.lead,
dt.lead {
    padding-bottom: 0;
}


strong, b,dt {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

center,
.center {
    text-align: center;
}
