p {
	
	@include font($body);

	&.lead {
		padding-bottom: 	0;
		font-weight:		bold;
	}

	span.small-caps {
		font-variant: 	small-caps !important;
		font-size: 		120%;
	}

}

strong, b,dt {
	font-weight: 	bold;
}

em, i {
	font-style: 	italic;
}

u {
	text-decoration: underline;
}

center {
	text-align: center;
}