body {
	position: relative;
	display: grid;

	grid-template-areas: "header" "main" "footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto minmax(calc(100vh - 90px), 1fr) auto;
}

body:has(.skip-link:focus) {
	grid-template-rows: auto auto minmax(calc(100vh - 90px), 1fr) auto;
}

section#page-content,
section#post-content,
section.post-body {
	margin-block-end: $container-padding * 4;
}
