html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    min-height: 100vh;

    font-kerning:  auto;
    letter-spacing: normal;
}

html,
body {
    background: var(--background);
    color: var(--color);
}

main {
    // Height = 100vh - header (height) - footer (margin-top)
    min-height: calc(100vh - 62px - 60px);

    @include tablet {
        min-height: calc(100vh - 66px - 90px);
    }

    @include desktop {
        min-height: calc(100vh - 67px - 90px);
    }

    z-index: 0;
}

.from-me .content {
    margin-left: auto;
    margin-right: 0;
}
.from-them .content {
    margin-left: 0;
    margin-right: auto;
}
.from-me .content,
.from-them .content {
	&.mobile-center {
		@include mobile() {
			margin-right: auto;
			margin-left: auto;
		}
	}
}