<aside id="webmentions--replies" class="post-activity post-activity-replies">
  <details class="webmention--replies">
    <summary class="webmention--replies">
      <span class="post-activity-icon">
        {% include fediverse/icons/replies.html %}
      </span>
      <p>Replies from the fediverse</p>
    </summary>
    
    {% if webmentions.size > 0 %}
    <ol class="webmentions--list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions--item webmention webmention--{{ webmention.type }}">
          {% if webmention.author %}
          <header class="webmention--meta">
            <section class="webmention--author h-card">
              {% if webmention.author.photo %}
                <a class="webmention--author webmention--author--photo u-url" href="{{ webmention.author.url }}" rel="nofollow">
                  <img class="webmention--author--photo bubble-clip u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
                </a>
              {% else %}
                <a class="webmention--reply--author-image u-url" href="{{ webmention.author.url }}" rel="nofollow">
                  {% include fediverse/icons/replies.html %}
                </a>
              {% endif %}
              <p class="webmention--reply--author-name p-name"><a class="webmention--author u-url" href="{{ webmention.author.url }}" rel="nofollow">{{ webmention.author.name}}</a><span class="webmention--reply--author-url">{{ webmention.author.url | remove: "http://" | remove: "https://" }}</span></p>
              
              {% if webmention.pubdate %}
                <a class="webmention--reply--publish-date u-url" href="{{ webmention.url }}" rel="nofollow">
                  <time class="webmention--reply--publish-date dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
                </a>
              {% endif %}
            </section>
          </header>
          {% endif %}
          
          <section class="webmention--reply--content p-content">
            {{ webmention.content }}
          </section>
        </li>
      {% endfor %}
    </ol>
    {% else %}
    <section class="webmentions--no-activity">
      <p class="webmentions--not-found">No replies were found</p>
    </section>
    {% endif %}
    
    
  </details>
</aside>

