<aside id="webmentions--reposts" class="post-activity post-activity-reposts">

  <span class="post-activity-icon">
    {% include fediverse/icons/reposts.html %}
  </span>
  
  {% if webmentions.size > 0 %}
  <ol class="webmentions--list">
    {% for webmention in webmentions %}
      <li id="webmention-{{ webmention.id }}" class="webmentions--item webmention webmention--{{ webmention.type }}">
        <div class="webmention--author p-author h-card">
          <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
            <img class="webmention--author--photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
          </a>
        </div>
      </li>
    {% endfor %}
  </ol>
  {% else %}
  <p class="webmentions--not-found">No reposts were found</p>
  {% endif %}
  
</aside>
