{% if webmentions.size > 0 %}
<ol class="webmentions--list">
  {% for webmention in webmentions %}
    <li id="webmention-{{ webmention.id }}" class="webmentions--item webmention webmention--{{ webmention.type }}">
      <div class="webmention--author p-author h-card">
        <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
          <img class="webmention--author--photo u-photo" src="{{ webmention.author.photo }}" alt="Avatar for {{ webmention.author.name }}" title="{{ webmention.author.name }}">
          <b class="p-name">{{ webmention.author.name }}</b>
          {{ webmention.content }}
        </a>
      </div>
    </li>
  {% endfor %}
</ol>
{% else %}
<p class="webmentions--not-found">No RSVPs were found</p>
{% endif %}