---
layout: default
---
			
{% include header.html %}

<main id="content">

	<section id="podcasts">

		<div class="container">

			<div class="logo">
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
			</div>
	
			<h1>
				Podcasts 
			</h1>

		</div>

	</section>

	<section id="dept-bad-ideas">
			
		<div class="container">

			<div class="pod-description">

				<img src="{{ site.url | append: site.baseurl | append: '/assets/images/department-of-bad-ideas-logo.svg' }}" alt="Department of Bad Ideas">

				<p>The <strong>Department of Bad Ideas</strong> is a podcast about policy, disconnected from reality.</p>
				<p>In each episode, our guests tell us how they'd fix public policy problems in the most impractical, unpalatable and impossible ways.</p>

				<p class="link"><a href="//badideas.podcast.johnpe.art/" title="Visit the Department of Bad Ideas website">Find out more</a></p>

			</div>


		</div>

	</section>

	<section id="pride-on">
			
		<div class="container">

			<div class="pod-description">

				<img src="{{ site.url | append: site.baseurl | append: '/assets/images/pride-on-podcast-logo.svg' }}" alt="PrideON podcast">

				<p>The <strong>PrideON</strong> podcast is the official podcast of the Civil Service LGBT+ Network.</p>
				<p>In each episode, we talk to inspiring LGBT+ civil servants about their lives, identities and what pride means to them.</p>

				<p class="link"><a href="//anchor.fm/civilservicelgbt/" title="Visit the PrideON podcast website">Find out more</a></p>

			</div>


		</div>

	</section>

	<!--<section id="wdydt">
			
		

	</section>-->

</main>

{% include footer.html %}