---
layout: default
---

{% include header.html %}
			
<main id="content" class="container">
			
	<div class="colophon">

		<h1 class="colophon-heading">Hello.</h1>

		<p>I’m <a href="/about" title="Find out more about me">John Peart</a>. I’m a policy professional with an interest in technology, services and diversity.</p>
										
		<p>I do a lot of <a href="//johnpe.art/writing" title="Read my blog">writing</a>, take a lot of <a href="//photos.johnpe.art" title="Visit my photo blog">photos</a> and <a href="//projects.johnpe.art" title="See my latest projects">build things in code</a>.</p>
		
		<p>You can find me on
				<a href="{{ site.twitter-url }}" title="Follow me on Twitter">Twitter</a> and
				<a href="{{ site.github-url }}" title="Find me on Github">Github</a>.</p>
							
	</div>

</main>

{% include footer.html %}