*.sass-cache
*.jekyll-cache
_config.yml
index.md
index.html
stream.md
/stream.html
Gemfile.lock
*_site
*.DS_Store
*_posts
*_archive
*_podcasts
*_photos
*_blogpost
*_writing
*_blog
*_photo
*_about
*_projects
*_ideas
*_now
*_writing
*_manuals
*_goals
*_wishlist
*_note
*_list
*_polaroid
*_reply
*_music
*_share
404.html
465.html
*_data
*_feed
/pages
/_includes/templates
/assets/images/guides
/assets/images/social
/assets/images/posts
/assets/images/photos
