*.sass-cache
*.jekyll-cache
_config.yml
index.md
Gemfile.lock
*_site
*.DS_Store
*_posts
*_guides
*_goals
*_photos
/photos
/about
/projects
/writing
/manuals
/podcast
/goals
404.html
*_data
/assets/images/guides
/assets/images/posts
/assets/images/photos