*.sass-cache
*.jekyll-cache
_config.yml
index.md
index.html
Gemfile.lock
*_site
*.DS_Store
*_posts
*_archive
*_pages
*_podcasts
*_photos
*_about
*_projects
*_writing
*_manuals
*_goals
*_wishlist
*_note
404.html
465.html
*_data
/assets/images/guides
/assets/images/posts
/assets/images/photos