header#site-header {
	display: block;
	position: relative;
	@include toggleColor(background, "background");
}
	
nav#header--site-nav a {
	font-weight: 		normal;
	text-decoration: 	none;
	
	&:link {
		@include toggleColor(color, "color");
	}
	&:visited {
		@include toggleColor(color, "color");
	}
	&:hover {
		@include toggleColor(color, "link-color--hover");
		text-decoration: 	underline;
	}
	&:focus {
		@include toggleColor(color, "link-color--focus");
		@include toggleColor(background, "link-background--focus");
		outline: 2px solid;
		@include toggleColor(outline-color, "outline-color");
	}
	&:active {
		text-decoration: 	none;
	}
}	

p#header--wordmark {
	position: relative;
	display: block;
	z-index: 10000;
	
	padding: 0;
	
	@include toggleSizes(font-size, $font-size--header-wordmark--xs, $font-size--header-wordmark--sm, $font-size--header-wordmark--md, $font-size--header-wordmark--lg, $font-size--header-wordmark--xl);
	@include toggleSizes(line-height, $line-height--header-wordmark--xs, $line-height--header-wordmark--sm, $line-height--header-wordmark--md, $line-height--header-wordmark--lg, $line-height--header-wordmark--xl);
	@include toggleSizes(padding, $padding--header-wordmark--xs, $padding--header-wordmark--sm, $padding--header-wordmark--md, $padding--header-wordmark--lg, $padding--header-wordmark--xl);

	a {
		display: inline-block;
	}
	a.header--wordmark-link {
		font-weight: 	bold;
		
		&:link {
			@include toggleColor(color, "link-color");
			text-decoration: none;
		}
		&:visited {
			@include toggleColor(color, "link-color");
		}
		&:hover {
			@include toggleColor(color, "link-color--hover");
			text-decoration: 	underline;	
		}
		&:focus {
			@include toggleColor(color, "link-color--focus");
			@include toggleColor(background, "link-background--focus");
			outline: 2px solid;
			@include toggleColor(outline-color, "outline-color");
		}
		&:active {
			text-decoration: 	underline;
		}
	}
	
	span.wordmark-hidden {
		@include xs {
			@include sr-only;	
		}
	}
	
}

header.site-header {
	
	ul.nav {
		display: block;
		position: relative;
		float: none;
		clear: both;
		z-index: 1000;
		
		padding-left: 0;
		
		&.closed {
			@include sr-only;
		}
		&.open {
			height: auto;
			width: 100%;
			opacity: 1;
		}
		// Hide the scroll bars
		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
		
		li {
			display: inline-block;
			@include toggleSizes(width, 100%, 100%, auto, auto, auto);
			@include toggleSizes(margin-right, 0, 0, 20px, 20px, 20px);
			@include toggleSizes(min-height, $header-min-height--small, $header-min-height--small, 0, 0, 0);
			@include toggleSizes(font-size, $font-size--header-menu--xs, $font-size--header-menu--sm, $font-size--header-menu--md, $font-size--header-menu--lg, $font-size--header-menu--xl);
			@include toggleSizes(line-height, $line-height--header-menu--xs, $line-height--header-menu--sm, $line-height--header-menu--md, $line-height--header-menu--lg, $line-height--header-menu--xl);	
			@include toggleSizes(padding, $padding--header-menu--xs, $padding--header-menu--sm, $padding--header-menu--md, $padding--header-menu--lg, $padding--header-menu--xl);
		}
		
		a {
			&:link {
				@include toggleColor(color, "emphasised-link-color");
				text-decoration: none;
			}
			&:visited {
				@include toggleColor(color, "emphasised-link-color");
				text-decoration: none;
			}
			&:hover {
				@include toggleColor(color, "link-color--hover");
				text-decoration: 	underline;	
			}
			&:focus {
				@include toggleColor(color, "link-color--focus");
				@include toggleColor(background, "link-background--focus");
				outline: 2px solid;
@include toggleColor(outline-color, "outline-color");
			}
			&:active {
				text-decoration: 	underline;
			}
		}
	}	
} 

button.menu-button {
	z-index: 99999999;
	
	display: block;
	position: absolute;
	min-width: unset;
	
	@include toggleSizes(width, 20px, 20px, 25px, 25px, 25px);
	@include toggleSizes(height, 20px, 20px, 25px, 25px, 25px);
	
	padding: 5px;
	top: 18px;
	right: 18px;
	box-sizing: content-box;
	
	@include toggleColor(background, "background");
	border: 0;
	
	svg {
		@include toggleSizes(width, 20px, 20px, 25px, 25px, 25px);
		@include toggleSizes(height, 20px, 20px, 25px, 25px, 25px);
	}
	
	svg path#menuicon {
		fill: map-get($colors, "gray-500");
		@include darkMode() {
			fill: map-get($colors, "gray-600");
		}
		transform-origin: center;
		transform: rotate(0deg);
		transition: 0.25s all;
	}
	
	&.open {
		svg#header-menu-toggle-image path#menuicon {
			@include toggleColor(fill, "color");
			transform-origin: center;
			transform: rotate(45deg);
			transition: 0.1s all;
		}
	}
	
	&:hover {
		svg#header-menu-toggle-image path#menuicon {
			@include toggleColor(fill, "link-color--hover");
			transition: 0.1s all;
		}
	}
	
	&:focus {
		@include toggleColor(background, "link-background--focus");
		outline: 2px solid;
		@include toggleColor(outline-color, "outline-color");
		svg#header-menu-toggle-image path#menuicon {
			@include toggleColor(fill, "link-color--focus");
			transition: 0.1s all;
		}
	}
	&:active {
		outline: 2px solid;
@include toggleColor(outline-color, "outline-color");
		@include toggleColor(background, "link-background--focus");
		svg#header-menu-toggle-image path#menuicon {
			@include toggleColor(fill, "link-color--focus");
			transform-origin: center;
			transform: rotate(22.5deg);
			transition: 0.1s all;
		}
	}
}

header#site-header {
	@include clearfix;
}