figure {
	display: block;
	position: relative;
	box-sizing: 	content-box;
	
	@include toggleDarkMode(color, $body-color, $body-color-dark);
	@include toggleSizes(
		margin-bottom, 
		$font-size--p--xs,
		$font-size--p--sm,
		$font-size--p--md,
		$font-size--p--lg,
		$font-size--p--xl
	);
	margin-top: 0;
	
	@include toggleSizes(width, 100%, 100%, ($md - 66px), ($lg - 50px), ($xl - 100px));
	@include toggleSizes(max-width, 100%, 100%, unset, unset, unset);
	@include toggleSizes(margin-left, 0, 0, -65px, -90px, -115px);
	@include toggleSizes(margin-right, 0, 0, -65px, -90px, -115px);
	
	figcaption {
		margin-top: $container-padding;
		max-width: 500px;
		@include toggleSizes(font-size, ($font-size--p--xs * 0.8), ($font-size--p--sm * 0.8), ($font-size--p--md * 0.8), ($font-size--p--lg * 0.8), ($font-size--p--xl * 0.8));
		@include toggleSizes(line-height, $line-height--p--xs, $line-height--p--sm, $line-height--p--md, $line-height--p--lg, $line-height--p--xl);
		padding-top: $container-padding * 0.5;
		padding-bottom: 0;
			
		@include toggleDarkMode(color, $gray-600, $gray-400);
		font-style: italic;	
		
		&:before {
			position: relative;
			display: block;
			border-top: 5px solid;
			@include toggleDarkMode(color, $gray-600, $gray-400);
			width: 150px;
			padding-top: $container-padding;
			content: "";
		}
		
		a {			
			&:link {
				@include toggleDarkMode(color, $gray-600, $gray-400);
			}
			&:visited {
				@include toggleDarkMode(color, $gray-600, $gray-400);
			}
			&:hover {
				@include toggleDarkMode(color, $link-color--hover, $link-color--hover-dark);
				text-decoration: 	$link-text-decoration-hover;
			}
			&:focus {
				@include toggleDarkMode(color, $link-color--focus, $link-color--focus-dark);
				@include toggleDarkMode(background, $link-background--focus, $link-background--focus-dark);
				@include toggleDarkMode(outline, $link-outline--focus, $link-outline--focus-dark);
			}
			&:active {
				text-decoration: 	$link-text-decoration-active;
			}
		}
		
	}
	
	img {
		display: block;
		position: relative;
		box-sizing: 	content-box;
		
		width: 100%;
		max-width: 100%;		
		height: auto;
		
		margin: 0;
		@include toggleSizes(margin-bottom, ($font-size--p--xs * 0.5), ($font-size--p--sm * 0.5), ($font-size--p--md * 0.5), ($font-size--p--lg * 0.5), ($font-size--p--xl * 0.5));
	
	}
	
}

img {
	display: block;
	position: relative;
	box-sizing: 	content-box;
	
	@include toggleSizes(width, 100%, 100%, ($md - 66px), ($lg - 50px), ($xl - 100px));
	@include toggleSizes(max-width, 100%, 100%, unset, unset, unset);
	@include toggleSizes(margin-left, 0, 0, -65px, -90px, -115px);
	@include toggleSizes(margin-right, 0, 0, -65px, -90px, -115px);
			
	height: auto;
}