@at-root {
	@-ms-viewport { 
		width: device-width;
	} // stylelint-disable-line at-rule-no-vendor-prefix
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
	min-height: 100vh;
	
	font-family: 			$font-family;
	font-kerning: 			auto;
	letter-spacing: 		normal;

	@include toggleDarkMode(background, $html-background, $html-background-dark);
	@include toggleDarkMode(color, $html-color, $html-color-dark);
}

body {
	@include toggleDarkMode(background, $body-background, $body-background-dark);
	@include toggleDarkMode(color, $body-color, $body-color-dark);
}

main {
	@include toggleSizes(
		min-height, 
		80vh, 
		80vh, 
		80vh, 
		80vh, 
		80vh
	);
}