<div class="post-author-card" class="vcard">
                
  {% include fediverse/memoji.html %}
  
  <div class="author-details">
    <p class="p-name author--wordmark"><a rel="author" class="p-author h-card" href="{{ site.url }}"><span class="p-given-name">John</span> <span class="p-family-name">Peart</span></a></p>

    <p><a href="//www.johnpe.art/" rel="me" class="u-url footer--site-link">www.johnpe.art</a></p>
  </div>
    
  <div class="author--icons">
    {% include social-icons/mastodon.html %}
    {% include social-icons/linkedin.html %}
    {% include social-icons/github.html %}
    <span class="footer--icons--separator"></span>
    {% include social-icons/buymeacoffee.html %}
  </div>
  
</div>