<div class="composite-image">
	<div class="overlay {{ page.composite.overlay.blur | prepend: 'overlay-' }}">
		<img class="overlay overlay--header" src="{{ page.composite.overlay.image }}" alt="{{ page.composite.overlay.alt }}">
	</div>
	
	<picture>
		{% if page.composite.background.source %}
		<source class="background {{ page.composite.background.fit: '' | default: 'cover' }}" srcset="{{ page.composite.background.source }}" type="image/webp">
		{% endif %}
		<img class="background {{ page.composite.background.fit: '' | default: 'cover' }}" src="{{ page.composite.background.image }}" alt="{{ page.composite.background.alt }}">
	</picture>
</div>


