{% if page.emoji %}
<svg class="hero-image" xmlns="http://www.w3.org/2000/svg" role="presentation" viewBox="0 0 800 400">
	<defs></defs>
	<g id="hero-image" stroke-dasharray="none" fill-opacity="1" stroke="none" fill="none" stroke-opacity="1">
	<title>Hero image: {{ page.emoji }}</title>
	
	{% assign size = page.emoji.size | minus: 1 %}
	{% assign count = 0 %}
	
	<!-- Row 1 -->
	<g id="x1y1">
	  <title>x1y1</title>
	  <text transform="translate(0 0)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x2y1">
	  <title>x2y1</title>
	  <text transform="translate(100 0)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x3y1">
	  <title>x3y1</title>
	  <text transform="translate(200 0)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x4y1">
	  <title>x4y1</title>
	  <text transform="translate(300 0)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x5y1">
	  <title>x5y1</title>
	  <text transform="translate(400 0)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x6y1">
	  <title>x6y1</title>
	  <text transform="translate(500 0)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x7y1">
	  <title>x7y1</title>
	  <text transform="translate(600 0)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x8y1">
	  <title>x8y1</title>
	  <text transform="translate(700 0)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	
	<!-- Row 2 -->
	<g id="x1y2">
	  <title>x1y2</title>
	  <text transform="translate(0 100)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x2y2">
	  <title>x2y2</title>
	  <text transform="translate(100 100)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x3y2">
	  <title>x3y2</title>
	  <text transform="translate(200 100)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x4y2">
	  <title>x4y2</title>
	  <text transform="translate(300 100)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x5y2">
	  <title>x5y2</title>
	  <text transform="translate(400 100)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x6y2">
	  <title>x6y2</title>
	  <text transform="translate(500 100)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x7y2">
	  <title>x7y2</title>
	  <text transform="translate(600 100)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x8y2">
	  <title>x8y2</title>
	  <text transform="translate(700 100)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>

	<!-- Row 3 -->
	<g id="x1y3">
	  <title>x1y3</title>
	  <text transform="translate(0 200)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x2y3">
	  <title>x2y3</title>
	  <text transform="translate(100 200)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x3y3">
	  <title>x3y3</title>
	  <text transform="translate(200 200)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x4y3">
	  <title>x4y3</title>
	  <text transform="translate(300 200)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x5y3">
	  <title>x5y3</title>
	  <text transform="translate(400 200)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x6y3">
	  <title>x6y3</title>
	  <text transform="translate(500 200)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x7y3">
	  <title>x7y3</title>
	  <text transform="translate(600 200)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x8y3">
	  <title>x8y3</title>
	  <text transform="translate(700 200)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>

	<!-- Row 4 -->
	<g id="x1y4">
	  <title>x1y4</title>
	  <text transform="translate(0 300)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x2y4">
	  <title>x2y4</title>
	  <text transform="translate(100 300)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x3y4">
	  <title>x3y4</title>
	  <text transform="translate(200 300)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x4y4">
	  <title>x4y4</title>
	  <text transform="translate(300 300)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x5y4">
	  <title>x5y4</title>
	  <text transform="translate(400 300)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x6y4">
	  <title>x6y4</title>
	  <text transform="translate(500 300)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x7y4">
	  <title>x7y4</title>
	  <text transform="translate(600 300)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
	<g id="x8y4">
	  <title>x8y4</title>
	  <text transform="translate(700 300)" fill="black">
		<tspan font-size="80" x="10" y="70">{{ page.emoji[count] }}</tspan>
		{%- if count == size -%}{%- assign count = 0 -%}{%- else -%}{%- assign count = count | plus: 1 -%}{%- endif -%}
	  </text>
	</g>
  </g>
</svg>
{% endif %}