{% if include.position == "first" %}
<figure class="apps-list">
{% endif %}

{% if include.type == "sheet" %}

<figure class="app-sheet">
  <dl class="dl--app">
    <img class="app-icon large" src="{{ site.url | append: site.baseurl | append: '/assets/images/posts' | append: page.url | append: include.image }}" alt="{{ include.alt }}">
    <dt class="app-name-label sr-only">App name</dt>
    <dd class="app-name">{{ include.name }}</dd>
    <dt class="app-description-label sr-only">In-app purchase description</dt>
    <dd class="app-description">{{ include.description }}</dd>
    {% if include.payment-type %}
    <dt class="app-type-label sr-only">Type</dt>
    <dd class="app-type">{{ include.payment-type }}</dd>
    {% endif %}
    <dt class="app-first-label">Developer</dt>
    <dd class="app-first">{{ include.developer }}</dd>
    <dt class="app-second-label">Price</dt>
    <dd class="app-second">{{ include.price | prepend: "£" }}{% if include.frequency %} per {{ include.frequency }}{% endif %}</dd>
  </dl>
</figure>

{% elsif include.type == "list" %}
  <dl class="dl--app">
      <img class="app-icon" src="{{ site.url | append: site.baseurl | append: '/assets/images/posts' | append: page.url | append: include.image }}" alt="{{ include.alt }}">
      <dt class="sr-only">App name</dt>
      <dd>{{ include.name }}</dd>
      <dt class="sr-only">Price</dt>
      {% if include.price contains "included" %}
      <dd class="small-caps">{{ include.price }}</dd>
      {% else %}
      <dd>{{ include.price | prepend: "£" }}{% if include.frequency %} per {{ include.frequency }}{% endif %}</dd>
      {% endif %}
  </dl>

{% elsif include.type == "total" %}

  <dl class="dl--total">
      <dt>Total</dt>
      <dd>{{ include.total | prepend: "£" }}{% if include.frequency %} per {{ include.frequency }}{% endif %}</dd>
  </dl>

{% elsif include.type == "subtotal" %}

  <dl class="dl--total">
      <dt>Sub-total</dt>
      <dd>{{ include.total | prepend: "£" }}{% if include.frequency %} per {{ include.frequency }}{% endif %}</dd>
  </dl>

{% endif %}

{% if include.position == "last" %}
</figure>
{% endif %}
