<section class="u-in-reply-to h-cite quote">
{% if page.collection == "reply" %}
	<aside class="stream--item--quoted--author">
		{% if page.reply_to.post.date %}On <time class="dt-published" datetime="{{ page.reply_to.post.date | date: '%FT%T%:z' }}">{{ page.reply_to.post.date | date: '%d %B %Y' }}</time>, {% endif %}
		<a href="{{ page.reply_to.author.url }}">{{ page.reply_to.author.name }}</a>
		{% if page.reply_to.original.url %}
			<a href="{{ page.reply_to.post.url }}" class="u-url">replied</a> to <a href="{{ page.reply_to.original.url }}" class="u-url">{% if page.reply_to.original.title %}<br>“{{ page.reply_to.original.title }}”{% else %}this post{% endif %}</a>
		{% else %}
			<a href="{{ page.reply_to.post.url }}" class="u-url">wrote</a>
		{% endif %}
	</aside>
	<section class="stream--item--quote conversation--item--reply from-them">
		<blockquote class="stream--item--quote--content conversation--item--content h-cite">
			{{ page.reply_to.post.content | markdownify }}
		</blockquote>
	</section>
{% elsif page.collection == "share" %}
	<aside class="stream--item--quoted--author">
		{% if page.reply_to.post.date %}On <time class="dt-published" datetime="{{ page.reply_to.post.date | date: '%FT%T%:z' }}">{{ page.reply_to.post.date | date: '%d %B %Y' }}</time>, {% endif %}
		<a href="{{ page.reply_to.author.url }}">{{ page.reply_to.author.name }}</a>
		{% if page.reply_to.publication %}at <a href="{{ page.reply_to.publication.url }}" class="u-url">{{ page.reply_to.publication.name }}</a>{% endif %} wrote
	</aside>
	<section class="stream--item--quote">
		{% if page.reply_to.post.image %}<img loading="lazy" class="post-image" src="{{ page.reply_to.post.image }}">{% endif %}
		{% if page.reply_to.post.title %}<h1 class="post-title"><a href="{{ page.reply_to.post.url }}" class="u-url">{{ page.reply_to.post.title }}</a></h1>{% endif %}
		{% if page.reply_to.post.content %}
		<blockquote class="stream--item--quote--content h-cite">
			{{ page.reply_to.post.content | markdownify  }}
		</blockquote>
		{% elsif page.reply_to.post.description %}
		<blockquote class="stream--item--quote--content h-cite">
			{{ page.reply_to.post.description | markdownify  }}
		</blockquote>
		{% endif %}
	</section>
{% endif %}
</section>
