<footer id="site-footer">
	
	<div class="container footer">

		<aside class="h-card" id="footer--wordmark">
			<p class="p-name p-author footer--wordmark" rel="author"><span class="p-given-name">John</span> <span class="p-family-name">Peart</span></p>
			<p><a href="//www.johnpe.art/" class="u-url footer--site-link">johnpe.art</a></p>
			<div class="footer--icons">
				{% include me/memoji.html %}
				<span class="footer--icons--separator"></span>
				{% include social-icons/mastodon.html %}
				{% include social-icons/linkedin.html %}
				{% include social-icons/github.html %}
				<span class="footer--icons--separator"></span>
				{% include social-icons/buymeacoffee.html %}
			</div>
			
		</aside>
		
		<nav id="footer--links">
			
			{% if site.menu-footer != false %}
			<ul>
				{% if site.data.footer-menu %}
					{% for item in site.data.footer-menu %}
					<li><a href="{{ item.link }}" class="footer--nav-link" title="Visit the {{ item.label }} page">{{ item.label }}</a></li>
					{% endfor %}
				{% else %}
					<li><a href="{{ domain }}/about" class="footer--nav-link" title="Visit the About me page">About me</a></li>
					<li><a href="{{ domain }}/writing" class="footer--nav-link" title="Visit the Writing page">Writing</a></li>
					<li><a href="{{ domain }}/photos" class="footer--nav-link" title="Visit the Photos pages">Photos</a></li>
					<li><a href="{{ domain }}/podcast" class="footer--nav-link" title="Visit the Podcasts page">Podcasts</a></li>
					<li><a href="{{ domain }}/goals" class="footer--nav-link" title="Visit the Goals pages">Goals</a></li>
					<li><a href="{{ domain }}/projects" class="footer--nav-link" title="Visit the Projects page">Projects</a></li>
					<li><a href="{{ domain }}/manuals" class="footer--nav-link" title="Visit the manuals Manuals for my projects">Manuals</a></li>
					<li><a href="{{ domain }}/wishlist" class="footer--nav-link" title="See my wishlist">Wishlist</a></li>
				{% endif %}
			</ul>
			{% endif %}	
			
		</nav>
	
	</div>
	
</footer>