<footer id="site-footer">
	
	<div class="container footer">

		{% unless page.collection == "posts" %}
		<aside class="h-card vcard" id="footer--wordmark">
			<p class="p-name footer--wordmark"><span class="p-given-name">John</span> <span class="p-family-name">Peart</span></p>
			<p><a href="//www.johnpe.art/" rel="me" class="u-url u-uid footer--site-link">www.johnpe.art</a></p>
			<div class="footer--icons">
				{% include fediverse/memoji.html %}
				<span class="footer--icons--separator"></span>
				{% include social-icons/mastodon.html %}
				{% include social-icons/linkedin.html %}
				{% include social-icons/github.html %}
				<span class="footer--icons--separator"></span>
				{% include social-icons/buymeacoffee.html %}
			</div>
		</aside>
		{% else %}
		<aside id="footer--wordmark">
			<p class="p-name footer--wordmark"><span class="p-given-name">John</span> <span class="p-family-name">Peart</span></p>
			<p><a href="//www.johnpe.art/" class="u-url footer--site-link no-underline">www.johnpe.art</a></p>
		</aside>
		{% endunless %}
		
		{% if site.footer-menu %}
		<nav id="footer--links">
			<ul>
				{% for menuitem in site.footer-menu %}
				<li><a href="{{ menuitem.link }}" class="footer--nav-link" title="Visit the {{ menuitem.label }} page">{{ menuitem.label }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		{% endif %}
	
	</div>
	
</footer>