{% if collection == "reply" or collection == "share" %}
<section class="speech-bubble from-them u-in-reply-to h-cite">
	{% include author.html from="them" %}
	<section class="quote content">
		{%- if page.reply_to.post.image -%}
		<img loading="lazy" class="post-image" src="{{ page.reply_to.post.image }}">
		{%- endif -%}
		{% if page.reply_to.post.title %}<h1 class="post-title"><a href="{{ page.reply_to.post.url }}" class="u-url link-secondary">{{ page.reply_to.post.title }}</a></h1>{% endif %}
		<blockquote cite="{{ page.reply_to.post.url }}"  class="text h-cite">
			{% if collection == "reply" %}
				{{ page.reply_to.post.content | markdownify }}
			{% elsif collection == "share" %}
				{% if page.reply_to.post.content %}
					{{ page.reply_to.post.content | remove: '"' | strip | prepend: '<q>' | append: '</q>' | markdownify  }}
				{% elsif page.reply_to.post.description %}
					{{ page.reply_to.post.description | remove: '"' | strip | prepend: '<q>' | append: '</q>' | markdownify  }}
				{% endif %}
			{% endif %}
		</blockquote>
	</section>
</section>
{% elsif collection == "music" %}
<section class="from-them u-in-reply-to h-cite">
	<section class="quote content mobile-center">
		<a class="music-link" href="{{ page.url }}" alt="Read more about {{ page.title }} by {{ page.artist }}">
			<div class="ipod-nano">
				<img class="music-artwork" src="{{ page.artwork }}" />
			</div>
		</a>
		<section class="music-metadata sr-only p-name">
			<h1 class="music-metadata-title">{{ page.title }}</h1>
			<p class="music-metadata-artist">{{ page.artist }}</p>
			<p class="star-rating" style="--rating: {{ page.rating }};" aria-label="I rated this music {{ page.rating }} out of 5 stars."></p>
		</section>
	</section>
</section>
{% endif %}
