{%- if collection == "blogpost" -%}
	{% assign verb = "wrote a blogpost" %}
	{% assign class = "speech-bubble" %}
{%- elsif collection == "weeknotes" %}
	{% assign verb = "wrote a week note" %}
	{% assign class = "" %}
{%- elsif collection == "now" %}
	{% assign verb = "wrote an update" %}
	{% assign class = "speech-bubble" %}
{%- elsif collection == "manual" -%}
	{% assign verb = "wrote a manual" %}
	{% assign class = "" %}
{% elsif collection == "photo" -%}
	{% assign verb = "posted a photo" %}
	{% assign class = "" %}
{% elsif collection == "note" -%}
	{% assign verb = "wrote a note" %}
	{% assign class = "" %}
{% elsif collection == "list" -%}
	{% assign verb = "wrote a list" %}
	{% assign class = "" %}
{% elsif collection == "music" -%}
	{% assign verb = "shared<br>" | append: page.title | append: " by " | append: page.artist %}
	{% assign class = "speech-bubble" %}
{% elsif collection == "reply" -%}
	{% assign verb = "replied" %}
	{% assign class = "speech-bubble" %}
{% elsif collection == "share" -%}
	{% assign verb = "shared and commented" %}
	{% assign class = "speech-bubble" %}
{% else -%}
	{% assign verb = "posted" %}
	{% assign class = "" %}
{%- endif -%}

<section class="{{ class }} from-me {{ collection }}">		
	{% include author.html from="me" %}
	<section class="content e-content">
		{% if include.format == "blogpost" or include.format == "now" or include.format == "manuals" %}
			{% if page.image %}<img class="post-image" loading="lazy" src="{{ page.image | prepend: '/assets/images' }}">{% else %}<img class="post-image" loading="lazy" src="/assets/images/site/social-media-blogpost.png">{% endif %}
			<h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
			<div class="text">
				{{ page.excerpt | markdownify }}
			</div>
		{% elsif include.format == "weeknotes" %}
			<a href="{{ page.url }}" title="Read the week note for {{ page.date | date: '%d %B %Y' }}" class="calendar-link">
				<h1 class="calendar-sheet">
					<span class="calendar-month">{{- page.date | date: "%B" | truncate: 3, "" -}}</span>
					<span class="calendar-date">{{- page.date | date: "%d" -}}</span>
					<span class="calendar-collection">Week note</span>
				</h1>
			</a>
		{% elsif include.format == "note" %}
			<h1 class="post-it {{ page.colour | default: 'yellow' }}"><a href="{{ page.url }}" class="block-link dark-link no-underline">{{ page.title }}</a></h1>
		{% elsif include.format == "photo" %}
			<div class="photo">
				<img src="{{ site.url | append: site.baseurl | append: '/assets/images' | append: page.image }}" class="u-photo" loading="lazy">
				<h1 class="photo--title p-name"><a href="{{ page.url }}">{{ page.title }}</a></h1>
			</div>
		{% elsif include.format == "list" %}
			<header class="list-header">
				<h1 class="p-name list-title">{{ page.title }}</h1>
			</header>
			<ul class="list-body">
				{% for item in page.list %}
					<li class="list-item list-item--{{ item.status }}">{{ item.todo }}</li>
				{% endfor %}
			</ul>		
		{% elsif include.format == "reply" or include.format == "share" or include.format == "music" %}
			<div class="text">
				{{ page.content }}
			</div>
		{% endif %}
	</section>

	{% if page.reply_to.original.url %}
	<a class="u-in-reply-to" href="{{ page.reply_to.original.url }}"></a>
	{% endif %}
	
	{% for posse in page.posse %}
	<a rel="syndication" class="u-syndication" href="{{ posse }}"></a>
	{% endfor %}
	
	{% include webmentions.html type="count" %}
</section>
{% include webmentions.html type="replies" %}
