<head prefix="og: http://ogp.me/ns#">

	{% assign author = "John Peart" %}
	{% assign pageurl = site.url | append: site.baseurl | append: page.url | replace: 'index.html','' %}

	{%- if page.collection == "posts" %}
		{% assign title = page.title | strip_html | truncate: 200 %}
		{% assign description = page.excerpt | strip_html | strip_newlines | truncate: 200 %}
		{% assign type = "article" %}
	{%- elsif page.collection == "reply" %}
		{% assign title = page.reply_to.author.name | prepend: "↩️ In reply to " | strip_html | truncate: 200 %}
		{% assign description = page.content | strip_html | truncate: 200 %}
		{% assign type = "reply" %}
		{% assign image = site.url | append: site.baseurl | append: site.image-path | append: site.reply-image %}
	{%- elsif page.collection == "note" %}
		{% assign title = page.title | prepend: "🗒️ " | strip_html | truncate: 200 %}
		{% assign description = page.content | strip_html | truncate: 200 %}
		{% assign type = "note" %}
	{%- elsif page.collection == "share" %}
		{% assign title = page.reply_to.post.title | prepend: "🔁 Commented on ”" | append: "“" | strip_html | truncate: 200 %}
		{% assign description = page.content | strip_html | truncate: 200 %}
		{% assign type = "share" %}
	{%- elsif page.collection == "music" %}
		{% assign title = page.title | append: "“ by " | append: page.artist | prepend: "🎧 Shared ”" | strip_html | truncate: 200 %}
		{% assign description = page.content | append: "by " | append: page.artist | strip_html | truncate: 200 %}
		{% assign type = "music" %}
	{%- elsif page.collection == "polaroid" %}
		{% assign title = page.title | prepend: "📷 " | strip_html | truncate: 200 %}
		{% assign description = page.content | strip_html | truncate: 200 %}
		{% assign type = "photo" %}
	{%- elsif page.collection == "game" %}
		{% assign title = page.title | prepend: "🎮 Shared ”" | append: "“" | strip_html | truncate: 200 %}
		{% assign description = page.content | strip_html | truncate: 200 %}
		{% assign type = "game" %}
	{%- elsif page.title -%}
		{% assign title = page.title | strip_html | strip_newlines | truncate: 200 %}
		{% assign description = page.excerpt | strip_html | strip_newlines | truncate: 200 %}
		{% assign type = "article" %}
	{%- else -%}
		{% assign title = site.title | strip_html | strip_newlines | truncate: 200 %}
		{% assign description = site.description | strip_html | strip_newlines | truncate: 200 %}
		{% assign type = "website" %}
	{%- endif -%}

	{% if page.image %}
		{% assign image = site.url | append: site.baseurl | append: site.image-path | append: page.image %}
	{% elsif page.collection %}
		{% assign image = site.url | append: site.baseurl | append: site.image-path | append: '/assets/images/site/social-media-' | append: page.collection | append: ".png" %}
	{% else %}
		{% assign image = site.url | append: site.baseurl | append: site.social-media-image %}
	{% endif %}

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<meta name="author" content="{{ author }}">

	<!-- Base URLS, duplicate URLs and feeds -->
	<meta name="url" content="{{ site.url | append: site.baseurl }}">
	<base href="{{ site.url | append: site.baseurl | append: page.url | replace: '/index.html','' }}">
	<!-- Links to top level resource in an hierarchical structure -->
	<link rel="index" href="{{ site.url | append: site.baseurl }}">
	<link rel="canonical" href="{{ pageurl }}">
	<link rel="alternate" href="{{ site.url | append: site.baseurl | append: '/feed.xml' }}" type="application/rss+xml" title="{{ site.title }}">
	<!-- Links to a document that describes a collection of records, documents, or other materials of historical interest. -->
	<link rel="archives" href="{{ site.url | append: site.baseurl | append: '/archives' }}">

	<!-- Gives information about the author -->
	{% if site.url %}<link rel="me" href="{{ site.url }}" type="text/html">{% endif %}
	{% if site.twitter-url %}<link rel="me" href="{{ site.twitter-url }}" type="text/html">{% endif %}
	{% if site.linkedin-url %}<link rel="me" href="{{ site.linkedin-url }}" type="text/html">{% endif %}
	{% if site.github-url %}<link rel="me" href="{{ site.github-url }}" type="text/html">{% endif %}
	{% if site.flickr-url %}<link rel="me" href="{{ site.flickr-url }}" type="text/html">{% endif %}
	{% if site.instagram-url %}<link rel="me" href="{{ site.instagram-url }}" type="text/html">{% endif %}
	{% if site.mastodon-url %}<link rel="me" href="{{ site.mastodon-url }}" type="text/html">{% endif %}
	{% if site.webmention-io %}<link href="mailto:{{ site.webmention-io.email }}" rel="me">{% endif %}

	<!-- Web mentions -->
	{% webmentions_head %}

	<!-- Facebook Open Graph settings -->
	<meta property="og:url" 			content="{{ pageurl }}">
	<meta property="og:type" 			content="{{ type }}">
	<meta property="og:title" 			content="{{ title }}">
	<meta property="og:image" 			content="{{ image }}">
	<meta property="og:description" 	content="{{ description }}">
	<meta property="og:site_name" 		content="{{ author }}">
	<meta property="og:locale" 			content="en_GB">
	<meta property="article:author" 	content="{{ author }}">
	<meta property="article:publisher" 	content="{{ author }}">

	<!-- Twitter Cards settings -->
	<meta name="twitter:card" 			content="summary_large_image">
	<meta name="twitter:site" 			content="{{ '@' | append: site.twitter-handle }}">
	<meta name="twitter:creator" 		content="{{ '@' | append: site.twitter-handle }}">
	<meta name="twitter:url" 			content="{{ pageurl }}">
	<meta name="twitter:title" 			content="{{ title }}">
	<meta name="twitter:description" 	content="{{ description }}">
	<meta name="twitter:image" 			content="{{ image }}">
	{% if page.image-alt %}<meta name="twitter:image:alt" 		content="{{ page.image-alt }}">{% endif %}

	<!-- Schema.org settings -->
	<meta itemprop="name" 				content="{{ title }}">
	<meta itemprop="description" 		content="{{ description }}">
	<meta itemprop="image" 				content="{{ image }}">

	<!-- Favicons -->
	<!-- Place favicon.ico in the root directory - no tag necessary -->
	<link rel="icon" href="{{ site.url | append: site.baseurl | append: site.favicon-svg }}">
	<link rel="mask-icon" href="{{ site.url | append: site.baseurl | append: site.favicon-pinned-svg }}" color="{{ site.theme-colour }}">
	<link rel="apple-touch-icon" href="{{ site.url | append: site.baseurl | append: site.favicon-large-png }}">

	<!-- Safari toolbar colors -->
	<meta name="theme-color" content="#fafafa" media="(prefers-color-scheme: light)">
	<meta name="theme-color" content="#1d1d1d" media="(prefers-color-scheme: dark)">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.url | append: site.baseurl | append: site.asset-path | append: site.css-path | append: '/styles.css' }}">

	<!-- JS -->
	<script type="text/javascript" src="{{ site.url | append: site.baseurl | append: site.js-path | append: '/scripts.js' }}" async></script>

</head>
