<aside id="author-card" class="h-card vcard p-author">

	<div class="author--photo card">
		<a class="author--photo--link" rel="me" href="https://www.johnpe.art" title="Visit my website">
			  <img class="u-photo memoji" alt="A Memoji avatar of John Peart" loading="lazy" src="/assets/images/me/memoji.png">
		</a>
	</div>

	<p class="p-name author--name card"><a rel="author" class="bold no-underline p-author u-uid" href="{{ site.url }}"><span class="p-given-name">John</span> <span class="p-family-name">Peart</span></a></p>
	<p class="author--url card"><a href="//www.johnpe.art" rel="me" class="u-url no-underline">www.johnpe.art</a></p>
	<div class="author-icon card mastodon">{% include social-icons/mastodon.html %}</div>
	<div class="author-icon card bluesky">{% include social-icons/bluesky.html %}</div>
	<div class="author-icon card linkedin">{% include social-icons/linkedin.html %}</div>
	<div class="author-icon card github">{% include social-icons/github.html %}</div>
	<div class="author-icon card bmac">{% include social-icons/buymeacoffee.html %}</div>

</aside>
