<header class="post-title {{ collection }}">
	{% if include.format == "blogpost" or include.format == "manuals" %}
		<aside class="published-date">
			<time datetime="{{page.date | date: '%Y-%m-%d'}}" class="published-datetime dt-published">
				<a href="{{ page.url }}" class="u-url post-published-date">
					{{ page.date | date: "%-d %B %Y" }}
				</a>
			</time>
		</aside>
		<h1 class="post-title p-name">{{ page.title | smartify }}</h1>
		{% if page.composite %}
			{% include images/composite.html %}
		{% elsif page.emoji %}
			{% include images/emoji-hero-image.html %}
		{% endif %}
	{% elsif include.format == "now" %}
		<aside class="published-date">
			<time datetime="{{ page.date | date: '%Y-%m-%d' }}" class="published-datetime dt-published">
				<a href="{{ page.url }}" class="u-url post-published-date">Now</a>
			</time>
		</aside>
		<h1 class="post-title p-name">{{ page.date | date: '%B %Y' }}</h1>
	{% elsif include.format == "note" %}
		<h1 class="post-it {{ page.colour | default: 'yellow' }}">{{ page.title }}</h1>
	{% elsif include.format == "photo" %}
		<div class="photo">
			<img src="{{ site.url | append: site.baseurl | append: '/assets/images' | append: page.image }}" class="u-photo hidden" loading="lazy">
			<h1 class="photo--title p-name"><a href="{{ page.url }}">{{ page.title }}</a></h1>
		</div>
	{% elsif include.format == "list" %}
		<header class="list-header">
			<h1 class="p-name list-title">{{ page.title }}</h1>
		</header>
		<ul class="list-body">
			{% for item in page.list %}
				<li class="list-item list-item--{{ item.status }}">{{ item.todo }}</li>
			{% endfor %}
		</ul>
	{% elsif include.format == "music" %}
		<a class="music-link" href="{{ page.url }}" alt="Read more about {{ page.title }} by {{ page.artist }}">
			<div class="ipod-nano">
				<img class="music-artwork" src="{{ page.artwork }}" />
			</div>
		</a>
		<section class="music-metadata p-name">
			<h1 class="music-metadata-title">{{ page.title }}</h1>
			<p class="music-metadata-artist">{{ page.artist }}</p>
			<p class="star-rating" style="--rating: {{ page.rating }};" aria-label="I rated this music {{ page.rating }} out of 5 stars."></p>
		</section>
	{% elsif include.format == "game" %}
		<aside class="published-date">
			<time datetime="{{page.date | date: '%Y-%m-%d'}}" class="published-datetime dt-published">
				<a href="{{ page.url }}" class="u-url post-published-date">
					{{ page.date | date: "%-d %B %Y" }}
				</a>
			</time>
		</aside>
		<h1 class="post-title p-name">{{ page.title | smartify }}</h1>
	{% elsif include.format == "about" %}
		<aside class="about">
			{% if page.dates.end == "present" %}
			<p class="secondary-title"><time datetime="{{ page.dates.start | date: '%Y-%m-%d' }}">{{ page.dates.start | date: '%B %Y' }}</time> to <time datetime="{{ site.time | date: '%Y-%m-%d' }}">{{ page.dates.end }}</time></p>
			{% else %}
			<p class="secondary-title"><time datetime="{{ page.dates.start | date: '%Y-%m-%d' }}">{{ page.dates.start | date: '%B %Y' }}</time> to <time datetime="{{ page.dates.end | date: '%Y-%m-%d' }}">{{ page.dates.end | date: '%B %Y' }}</time></p>
			{% endif %}
			<p class="secondary-title">{{ page.organisation }}</p>
		</aside>
		<h1 class="post-title p-name">{{ page.title | smartify }}</h1>
	{% else %}
		<aside class="published-date">
			<time datetime="{{page.date | date: '%Y-%m-%d'}}" class="published-datetime dt-published">
				<a href="{{ page.url }}" class="u-url post-published-date">
					{{ page.date | date: "%-d %B %Y" }}
				</a>
			</time>
		</aside>
		<h1 class="post-title p-name">{{ page.title | smartify }}</h1>
	{% endif %}
</header>