{% if include.type == "interactions" %}
<footer class="interactions counts">
	{% webmention_count page.url replies %}
	{% webmention_count page.url links %}
	{% webmention_count page.url reposts %}
	{% webmention_count page.url likes %}
</footer>
{% elsif include.type == "replies" %}
<footer class="interactions replies">
	{% webmention_replies page.url %}
</footer>
{% elsif include.type == "count" %}
<footer class="interactions counts">
	<aside class="interactions">
		{% webmention_count page.url replies %}
		{% webmention_count page.url links %}
		{% webmention_count page.url reposts %}
		{% webmention_count page.url likes %}
	</aside>
</footer>
{% elsif include.type == "count-and-replies" %}
<footer class="interactions counts replies">
	<aside class="interactions">
		{% webmention_count page.url replies %}
		{% webmention_count page.url links %}
		{% webmention_count page.url reposts %}
		{% webmention_count page.url likes %}
	</aside>
	{% webmention_replies page.url %}
</footer>
{% else %}
 <footer class="interactions actions replies">
	 {% webmentions page.url posts replies links likes reposts %}
 </footer>
 {% endif %}