{% if include.type == "stream" %}
<footer class="webmentions stream--item--interactions">
	<aside class="stream--item--interactions--count webmention webmention--count">
		{% webmention_count page.url replies %}
		{% webmention_count page.url reposts %}
		{% webmention_count page.url likes %}
		{% webmention_count page.url bookmarks %}
	</aside>
	{% webmention_replies page.url %}
</footer>
{% else %}
<footer class="webmentions">
	{% webmentions page.url posts replies likes reposts %}
</footer>
{% endif %}
