{% if include.type == "interactions" %}
<footer class="interactions counts">
	{% webmention_count page.url replies links %}
	{% webmention_count page.url reposts %}
	{% webmention_count page.url likes %}
	{% webmention_count page.url bookmarks %}
</footer>
{% elsif include.type == "replies" %}
<footer class="interactions replies">
	{% webmentions page.url posts replies links %}
</footer>
{% elsif include.type == "count" %}
<footer class="interactions counts">
	<aside class="interactions">
		{% webmention_count page.url replies links %}
		{% webmention_count page.url reposts %}
		{% webmention_count page.url likes %}
		{% webmention_count page.url bookmarks %}
	</aside>
</footer>
{% elsif include.type == "count-and-replies" %}
<footer class="interactions {% if page.collection %}interactions--post{% endif %} counts replies">
	<aside class="interactions">
		{% webmention_count page.url replies links %}
		{% webmention_count page.url reposts %}
		{% webmention_count page.url likes %}
		{% webmention_count page.url bookmarks %}
	</aside>
	{% webmentions page.url posts replies links %}
</footer>
{% elsif include.type == "post" %}
<footer class="interactions {% if page.collection %}interactions--post{% endif %} actions replies">
	{% webmentions page.url posts replies links bookmarks likes reposts %}
</footer>
{% include webmentions-form.html %}
{% else %}
<footer class="interactions {% if page.collection %}interactions--post{% endif %} replies">
	{% webmentions page.url posts replies links bookmarks likes reposts %}
</footer>
{% endif %}