// Home page styles
body#goals {
	
	section#page-content > section {
		@include toggleSizes(padding-bottom, 0, 0, ($font-size--p--md * 1.5), ($font-size--p--lg * 1.5), ($font-size--p--xl * 1.5));
		
		@include clearfix;
	}
	
	h1.page-title {
		@include toggleSizes(font-size, ($font-size--h1--xs * 1.25), $font-size--h1--sm, $font-size--h1--md, ($font-size--h1--lg * 1.75), ($font-size--h1--xl * 1.5));
		@include toggleSizes(padding-bottom, 15px, 30px, 45px, 45px, 45px);
	}
	
	article.goal-collection {
		@include toggleSizes(padding, ($font-size--p--xs * 0.5) 0, ($font-size--p--sm * 0.5) 0, ($font-size--p--md * 0.5) 0, ($font-size--p--lg * 0.5) 0, ($font-size--p--xl * 0.5) 0);
		@include toggleDarkMode(border-top, 1px solid $gray-400, 1px solid $gray-700);
	}
	
	h2.goal-year {
		
		font-weight: 		$font-weight--h3;
		font-style: 		normal;
		text-align: 		left;
		text-decoration: 	$text-decoration--h3;
		text-transform: 	$text-transform--h3;
		padding: 			0;
		
		@include toggleSizes(font-size, $font-size--h2--xs, $font-size--h2--sm, $font-size--h2--md, $font-size--h2--lg, $font-size--h2--xl);
		@include toggleSizes(line-height, $line-height--h2--xs, $line-height--h2--sm, $line-height--h2--md, $line-height--h2--lg, $line-height--h2--xl);
		
	}
	
	a.goal-url {
		&:link {
			@include toggleDarkMode(color, $cyan, $cyan);
			text-decoration: none;
		}
		&:visited {
			@include toggleDarkMode(color, $cyan, $cyan);
			text-decoration: none;
		}
		&:hover {
			@include toggleDarkMode(color, $link-color--hover, $link-color--hover-dark);
			text-decoration: 	underline;	
		}
		&:focus {
			@include toggleDarkMode(color, $link-color--focus, $link-color--focus-dark);
			@include toggleDarkMode(background, $link-background--focus, $link-background--focus-dark);
			@include toggleDarkMode(outline, $link-outline--focus, $link-outline--focus-dark);
		}
		&:active {
			text-decoration: 	$link-text-decoration-active;
		}
	}
	
	progress[value] {
		
		position: relative;
		display: block;
	
		-webkit-appearance: none;
				appearance: none;
				
		width: 		100%;
		max-width: 			600px;
		
		padding: 	0;
		margin: 	20px 0;
	
		&.standard {
		
			height: 	20px;
	
			&::-webkit-progress-bar {
				@include toggleDarkMode(background, $gray-200, $gray-700);
				border: 			none;
				border-radius: 		2px;
			}
			
			&::-webkit-progress-value {
				background-color: 	$cyan;			
				border-radius: 2px; 
				background-size: 600px;
			}
	
		}
	
		&.stretch-top {
	
			height: 10px;
			margin-bottom: 0;
	
			&::-webkit-progress-bar {
				@include toggleDarkMode(background, $gray-200, $gray-700);
				border: 			none;			
				border-top-left-radius: 2px; 
				border-top-right-radius: 2px;			
				border-bottom-left-radius: 0; 
				border-bottom-right-radius: 0;
			}
			
			&::-webkit-progress-value {
				background-color: 	$cyan;			
				border-top-left-radius: 2px; 
				border-top-right-radius: 2px; 		
				border-bottom-left-radius: 0; 
				border-bottom-right-radius: 0;
				background-size: 600px;
			}
	
		}
		&.stretch-bottom {
	
			height: 10px;
			margin-top: 0;
	
			&::-webkit-progress-bar {
				@include toggleDarkMode(background, $cyan, $cyan);
				border: 			none;			
				border-top-left-radius: 0; 
				border-top-right-radius: 0; 	
				border-bottom-left-radius: 2px; 
				border-bottom-right-radius: 2px;
			}
			
			&::-webkit-progress-value {
				background-color: 	$purple;		
				border-top-left-radius: 0; 
				border-top-right-radius: 0; 		
				border-bottom-left-radius: 2px; 
				border-bottom-right-radius: 2px; 
				background-size: 600px;
			}
	
		}
	}

	
}
body#goal {
	
	section#page-content > section {
		@include toggleSizes(padding-bottom, 0, 0, ($font-size--p--md * 1.5), ($font-size--p--lg * 1.5), ($font-size--p--xl * 1.5));
		
		@include clearfix;
	}
	
	header.goals-title {
		h1.page-title {
			@include toggleSizes(font-size, ($font-size--h1--xs * 1.25), $font-size--h1--sm, $font-size--h1--md, ($font-size--h1--lg * 1.75), ($font-size--h1--xl * 1.5));
			line-height: 1;
			@include toggleSizes(padding-bottom, 15px, 30px, 45px, 45px, 45px);
		}
	}
	
	h2.goal-title {
		text-align: left;
		
		@include toggleSizes(padding-bottom, ($font-size--h2--xs * 0.25), ($font-size--h2--sm * 0.25), ($font-size--h2--md * 0.25), ($font-size--h2--lg * 0.25), ($font-size--h2--xl * 0.25));
	}
	
	ul#goals-list {
		max-width: 			600px;
		
		padding: 			0;
		margin: 			0;
		
		list-style: 		none !important;
		
		li {
			list-style: 	none;
			padding: 		0;
						
			box-sizing: 	border-box;
	
			progress[value] {
				
				position: relative;
				display: block;

				-webkit-appearance: none;
						appearance: none;
						
				width: 		100%;
				
				padding: 	0;
				margin: 	20px 0;

				&.standard {
				
					height: 	20px;

					&::-webkit-progress-bar {
						@include toggleDarkMode(background, $gray-200, $gray-700);
						border: 			none;
						border-radius: 		2px;
					}
					
					&::-webkit-progress-value {
						background-color: 	$cyan;			
						border-radius: 2px; 
						background-size: 600px;
					}

				}

				&.stretch-top {

					height: 10px;
					margin-bottom: 0;

					&::-webkit-progress-bar {
						@include toggleDarkMode(background, $gray-200, $gray-700);
						border: 			none;			
						border-top-left-radius: 2px; 
						border-top-right-radius: 2px;			
						border-bottom-left-radius: 0; 
						border-bottom-right-radius: 0;
					}
					
					&::-webkit-progress-value {
						background-color: 	$cyan;			
						border-top-left-radius: 2px; 
						border-top-right-radius: 2px; 		
						border-bottom-left-radius: 0; 
						border-bottom-right-radius: 0;
						background-size: 600px;
					}

				}
				&.stretch-bottom {

					height: 10px;
					margin-top: 0;

					&::-webkit-progress-bar {
						@include toggleDarkMode(background, $cyan, $cyan);
						border: 			none;			
						border-top-left-radius: 0; 
						border-top-right-radius: 0; 	
						border-bottom-left-radius: 2px; 
						border-bottom-right-radius: 2px;
					}
					
					&::-webkit-progress-value {
						background-color: 	$purple;		
						border-top-left-radius: 0; 
						border-top-right-radius: 0; 		
						border-bottom-left-radius: 2px; 
						border-bottom-right-radius: 2px; 
						background-size: 600px;
					}

				}
			}
			&.totaliser {
				
				@include toggleDarkMode(background, $blockquote-background, $blockquote-background-dark);
				
				padding: 		20px;
				margin-top: 	60px;
				
				border-radius: 	5px;
				
				box-sizing: border-box;
				
				h2 {
					margin-top: 0;
					margin-bottom: 0;
					padding-top: 0;
				}
				
				progress[value] {
					
					&::-webkit-progress-bar {
						background-color: 	$gray-500;
					}
				}
			}	
		}
	}		
}