body.theme-eurovision {
	details {
		
	}
	
	summary {

		span.country,
		span.song-artist {
			display: block;
			width: 100%;
		}
		span.song-artist {
			font-weight: normal;
			@include toggleColor(color, "secondary-text--color");
		}
		
		&:hover,
		&:hover span {
			@include toggleColor(color, "link-color--hover");
		}
		&:focus,
		&:focus span {
			@include toggleColor(color, "color");
		}
		&:active,
		&:active span {
			@include toggleColor(color, "link-color--focus");
		}
		
	}
}