//	SASS VARIABLES				
//	All variables should go in this file				

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// BREAKPOINTS AND CONTAINER SIZING
//

// Breakpoints
$breakpoint: (
	"xs": 0,
	"sm": 600px,
	"md": 766px,
	"lg": 1000px,
	"xl": 1200px
);

$container: (
	"xs":    300px,
	"sm":    560px,
	"md":    600px,
	"lg":    800px,
	"xl":    900px
);

$container-padding: 	 			15px;

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// FONTS

// Font face
$font-family: 						"JP", ui-monospace, 'SFMono-Regular', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Roboto, "Segoe UI", Arial, sans-serif !default;
// Feature settings
$font-feature-settings:				"ss02", "tnum", "liga", "zero", "kern";
$sup-font-feature-settings:			"ss02", "tnum", "liga", "zero", "kern", "frac";

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// COLOURS

// PALETTE
// All colours used should be referenced here

$colors: (
	
	"white":   	 								#FAFAFA,
	"absolute-white":							#FFFFFF,
			
	"black":    	 							#1D1D1D,
	"absolute-black":							#000000,
			
	"gray-100":	 								#F8F9FA,
	"gray-200":	 								#E9ECEF,
	"gray-300":	 								#DEE2E6,
	"gray-400":	 								#CED4DA,
	"gray-500": 	 							#ADB5BD,
	"gray-600": 	 							#868E96,
	"gray-700": 	 							#495057,
	"gray-800": 	 							#343A40,
	"gray-900": 	 							#212529,
			
	"blue":    	 								#007AFF,
	"desaturated-blue": 						#3B5998,
	"purple":  	 								#C643FC,
	"magenta":   	 							#E6007E,
	"red":     	 								#B10E1E,
	"orange":  	 								#ff5E3A,
	"yellow":  	 								#FFED00,
	"bad-ideas-yellow":                 		#FFD700,
	"green":   	 								#0BD318,
	"cyan":    	 								#009FE3,
	
	
	/// main.scss colors
	"background":							#FAFAFA,
	"color":								#1D1D1D,
			
	"dark--background":						#1D1D1D,
	"dark--color":							#FAFAFA,
	
	/// links
	"link-color":								#1D1D1D,
	"emphasised-link-color":					#009FE3,
	"subtle-link-color":						#ADB5BD,
	"link-color--hover":						#009FE3,
	"link-color--focus":						#FAFAFA,
	"outline-color":				#009FE3,
	"link-background--focus":					#009FE3,
				
	"dark--link-color":							#FAFAFA,
	"dark--emphasised-link-color":				#009FE3,
	"dark--subtle-link-color":					#868E96,
	"dark--link-color--hover":					#009FE3,
	"dark--link-color--focus":					#FAFAFA,
	"dark--outline-color":						#009FE3,
	"dark--link-background--focus":				#009FE3,
		
		
	/// screenreader.scss colors		
	"skiplink-background":						#009FE3,
	"skiplink-color":							#FAFAFA,
		
	"dark--skiplink-background":				#009FE3,
	"dark--skiplink-color":						#1D1D1D,
	
	
	/// borders
	"border-color":								#CED4DA,
	"dark--border-color":						#495057,
			
			
	/// buttons		
	"button-color":								#FAFAFA,
	"button-background":						#009FE3,
	"button-color--hover":						#FAFAFA,
	"button-background--hover":					#1D1D1D,
	"button-color--focus":						#FAFAFA,
	"button-background--focus":					#1D1D1D,
	"button-border-color":						#009FE3,
	"button-outline-color--focus":				#009FE3,
			
	"dark--button-color":						#FAFAFA,
	"dark--button-background":					#009FE3,
	"dark--button-color--hover":				#009FE3,
	"dark--button-background--hover":			#1D1D1D,
	"dark--button-color--focus":				#FAFAFA,
	"dark--button-background--focus":			#1D1D1D,
	"dark--button-border-color":				#009FE3,
	"dark--button-outline-color--focus":		#009FE3,
	
	
	/// input fields
	"input-color":								#1D1D1D,
	"input-background":							#FFFFFF,
	"input-background--focus":					#F8F9FA,
	"input-border-color":						#1D1D1D,
	"input-label-hint-color": 					#868E96,
			
	"dark--input-color":						#FAFAFA,
	"dark--input-background":					#000000,
	"dark--input-background--focus":			#212529,
	"dark--input-border-color":					#FAFAFA,
	"dark--input-label-hint-color": 			#DEE2E6,
			
	"radio-background":							#E9ECEF,
	"radio-button-border-color":				#1D1D1D,
	"radio-button-center-color":				#009FE3,
	"radio-shadow":								#009FE3,
	"dark--radio-background":					#495057,
	"dark--radio-button-border-color":			#FAFAFA,
	"dark--radio-button-center-color":			#009FE3,

	
	/// images
	"figcaption-color":							#868E96,
	"figcaption-link-color":					#868E96,
	"dark--figcaption-color":					#CED4DA,
	"dark--figcaption-link-color":				#CED4DA,
	
	
	// Backgrounds
	"default-element-background":				#E9ECEF,
	"default-element-background--hover":		#DEE2E6,
	"dark--default-element-background":			#343A40,
	"dark--default-element-background--hover":	#495057,
	
	
	/// progress element
	"progress--bar--background":				#E9ECEF,
	"progress-total--bar--background":			#ADB5BD,
	"progress--value--background":				#009FE3,
	"progress--value--background-secondary":	#C643FC,
	"dark--progress--bar--background":			#495057,
	"dark--progress-total--bar--background":	#ADB5BD,
	"dark--progress--value--background":		#009FE3,
	"dark--progress--value--background-secondary":	#C643FC,
	
	
	/// post.scss
	"secondary-text--color":					#868E96,
	"dark--secondary-text--color":				#CED4DA,
	
	// chiplet
	"chiplet-background--default":				#009FE3,
	"chiplet-background--green":				#0BD318,
	"chiplet-color":							#FAFAFA,
	
	"dark--chiplet-background--default":		#009FE3,
	"dark--chiplet-background--green":			#0BD318,
	"dark--chiplet-color":						#FAFAFA,
	
	/// code styles
	"code-color":								#1D1D1D,
	"code-color--blockquote":					#1D1D1D,
	"code-background":							#E9ECEF,
	
	"dark--code-color":							#FAFAFA,
	"dark--code-color--blockquote":				#FAFAFA,
	"dark--code-background":						#495057,
	
);

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// TEXT SIZES

// PARAGRAPH TEXT
// Applies to 'p' and equivalent text

$body: (
	
	"font-size": (
		"xs": 22px,
		"sm": 22px,
		"md": 22px,
		"lg": 26px,
		"xl": 30px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.25,
		"xl": 1.2
	),
	"padding": (
		"xs": 0 0 22px 0,
		"sm": 0 0 22px 0,
		"md": 0 0 22px 0,
		"lg": 0 0 26px 0,
		"xl": 0 0 30px 0
	),
	"font-weight": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	),
	"font-style": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	)
	
);

$body--small: (
	
	"font-size": (
		"xs": 18px,
		"sm": 18px,
		"md": 18px,
		"lg": 22px,
		"xl": 26px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.25,
		"xl": 1.2
	),
	"padding": (
		"xs": 0,
		"sm": 0,
		"md": 0,
		"lg": 0,
		"xl": 0
	),
	"font-weight": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	),
	"font-style": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	),
	"text-transform": (
		"xs": uppercase,
		"sm": uppercase,
		"md": uppercase,
		"lg": uppercase,
		"xl": uppercase
	)
	
);

// Size
$font-size--p--xs:		22px;
$font-size--p--sm:		22px;
$font-size--p--md:		22px;
$font-size--p--lg:		26px;
$font-size--p--xl:		30px;
// Line height
$line-height--p--xs:	1.25;
$line-height--p--sm:	1.25;
$line-height--p--md:	1.25;
$line-height--p--lg:	1.25;
$line-height--p--xl:	1.2;
// Padding (bottom spacing)
$padding--p--xs:		0 0 $font-size--p--xs 0;
$padding--p--sm:		0 0 $font-size--p--sm 0;
$padding--p--md:		0 0 $font-size--p--md 0;
$padding--p--lg:		0 0 $font-size--p--lg 0;
$padding--p--xl:		0 0 $font-size--p--xl 0;

// HEADER WORDMARK TEXT
// Applies to the Wordmark only (smaller for the normal links)

$wordmark: (
	
	"font-size": (
		"xs": 30px,
		"sm": 30px,
		"md": 30px,
		"lg": 34px,
		"xl": 36px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 13px 0,
		"sm": 20px 0,
		"md": 20px 0,
		"lg": 18px 0,
		"xl": 17px 0
	)
	
);

$header-nav: (
	
	"font-size": (
		"xs": 26px,
		"sm": 22px,
		"md": 22px,
		"lg": 26px,
		"xl": 30px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 15px 0,
		"sm": 0 0 24px 0,
		"md": 0 0 24px 0,
		"lg": 0 0 22px 0,
		"xl": 0 0 20px 0
	),
	"min-height": (
		"xs": 56px,
		"sm": 56px,
		"md": 0,
		"lg": 0,
		"xl": 0
	),
	"margin-right": (
		"xs": 0,
		"sm": 0,
		"md": 20px,
		"lg": 20px,
		"xl": 20px
	),
	"width": (
		"xs": 100%,
		"sm": 100%,
		"md": auto,
		"lg": auto,
		"xl": auto
	)
	
);

$footer-body: (
	
	"font-size": (
		"xs": 18px,
		"sm": 18px,
		"md": 18px,
		"lg": 20px,
		"xl": 22px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.4,
		"xl": 1.4
	),
	"padding": (
		"xs": 0 0 9px 0,
		"sm": 0 0 9px 0,
		"md": 0 0 9px 0,
		"lg": 0 0 5px 0,
		"xl": 0 0 6px 0
	),
	"text-align": (
		"xs": left,
		"sm": right,
		"md": right,
		"lg": right,
		"xl": right
	)
	
);

$footer-wordmark: (
	
	"font-size": (
		"xs": 27px,
		"sm": 27px,
		"md": 27px,
		"lg": 30px,
		"xl": 32px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 0,
		"sm": 0,
		"md": 0,
		"lg": 0,
		"xl": 0
	)
	
);



// DISPLAY TEXT
// Applies to 'h1' size on home and 404 pages

$h1-display: (
	"font-size": (
		"xs": 66px,
		"sm": 90px,
		"md": 120px,
		"lg": 144px,
		"xl": 164px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 90px 0 15px 0,
		"sm": 105px 0 15px 0,
		"md": 150px 0 15px 0,
		"lg": 225px 0 15px 0,
		"xl": 240px 0 15px 0
	)
);

// HEADING 1 TEXT
// Applies to 'h1' and equivalent text
$h1: (
	"font-size": (
		"xs": 45px,
		"sm": 60px,
		"md": 60px,
		"lg": 75px,
		"xl": 75px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 90px  0 45px,
		"sm": 120px 0 60px,
		"md": 120px 0 60px,
		"lg": 150px 0 75px,
		"xl": 150px 0 75px,
	)
);

$h1-page-title: (
	"font-size": (
		"xs": 60px,
		"sm": 60px,
		"md": 60px,
		"lg": 120px,
		"xl": 120px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 90px  0 15px,
		"sm": 120px 0 30px,
		"md": 120px 0 45px,
		"lg": 150px 0 45px,
		"xl": 150px 0 45px,
	)
);


// POST DATE
// Applies to p element before 'h1' and equivalent text in post headers
// Padding (bottom spacing)
$h1-post-date: (
	"font-size": (
		"xs": 26px,
		"sm": 28px,
		"md": 28px,
		"lg": 23px,
		"xl": 42px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 90px  0 15px 0,
		"sm": 120px 0 30px 0,
		"md": 120px 0 30px 0,
		"lg": 150px 0 45px 0,
		"xl": 150px 0 45px 0,
	)
);

// HEADING 2 TEXT
// Applies to 'h2' and equivalent text
// Size
$font-size--h2--xs:		27px;
$font-size--h2--sm:		32px;
$font-size--h2--md:		32px;
$font-size--h2--lg:		36px;
$font-size--h2--xl:		40px;
// Line height
$line-height--h2--xs:	1.15;
$line-height--h2--sm:	1.15;
$line-height--h2--md:	1.15;
$line-height--h2--lg:	1.15;
$line-height--h2--xl:	1.15;
// Padding (bottom spacing)
$padding--h2--xs:		($font-size--h2--xs * 2) 0 $font-size--h2--xs 0;
$padding--h2--sm:		($font-size--h2--sm * 2) 0 $font-size--h2--sm 0;
$padding--h2--md:		($font-size--h2--md * 2) 0 $font-size--h2--md 0;
$padding--h2--lg:		($font-size--h2--lg * 2) 0 $font-size--h2--lg 0;
$padding--h2--xl:		($font-size--h2--xl * 2) 0 $font-size--h2--xl 0;
// Other styles
$font-weight--h2:		bold;
$font-style-h2:			normal;
$text-align--h2:		center;
$text-decoration--h2:	none;
$text-transform--h2:	none;

// HEADING 2 LOOP TITLE TEXT
// Applies to 'h2' and equivalent text that is in a loop
// Size
// Padding (bottom spacing)
$padding--h2--loop--xs:		($font-size--h2--xs * 2) 0 ($font-size--h2--xs * 0.5) 0;
$padding--h2--loop--sm:		($font-size--h2--sm * 2) 0 ($font-size--h2--sm * 0.5) 0;
$padding--h2--loop--md:		($font-size--h2--md * 2) 0 ($font-size--h2--md * 0.5) 0;
$padding--h2--loop--lg:		($font-size--h2--lg * 2) 0 ($font-size--h2--lg * 0.5) 0;
$padding--h2--loop--xl:		($font-size--h2--xl * 2) 0 ($font-size--h2--xl * 0.5) 0;

// HEADING 3 TEXT
// Applies to 'h3' and equivalent text
// Size
$font-size--h3--xs:		22px;
$font-size--h3--sm:		22px;
$font-size--h3--md:		22px;
$font-size--h3--lg:		26px;
$font-size--h3--xl:		30px;
// Line height
$line-height--h3--xs:	1.25;
$line-height--h3--sm:	1.25;
$line-height--h3--md:	1.25;
$line-height--h3--lg:	1.25;
$line-height--h3--xl:	1.25;
// Padding (bottom spacing)
$padding--h3--xs:		($font-size--h3--xs) 0 ($font-size--h3--xs * 0.66) 0;
$padding--h3--sm:		($font-size--h3--sm) 0 ($font-size--h3--sm * 0.66) 0;
$padding--h3--md:		($font-size--h3--md) 0 ($font-size--h3--md * 0.66) 0;
$padding--h3--lg:		($font-size--h3--lg) 0 ($font-size--h3--lg * 0.66) 0;
$padding--h3--xl:		($font-size--h3--xl) 0 ($font-size--h3--xl * 0.66) 0;
// Other styles
$font-weight--h3:		bold;
$font-style-h3:			normal;
$text-align--h3:		left;
$text-decoration--h3:	none;
$text-transform--h3:	none;

// HEADING 4 TEXT
// Applies to 'h4' and equivalent text
// Size
$font-size--h4--xs:		22px;
$font-size--h4--sm:		22px;
$font-size--h4--md:		22px;
$font-size--h4--lg:		26px;
$font-size--h4--xl:		30px;
// Line height
$line-height--h4--xs:	1.25;
$line-height--h4--sm:	1.25;
$line-height--h4--md:	1.25;
$line-height--h4--lg:	1.25;
$line-height--h4--xl:	1.25;
// Padding (bottom spacing)
$padding--h4--xs:		0 0 ($font-size--h4--xs * 0.5) 0;
$padding--h4--sm:		0 0 ($font-size--h4--sm * 0.5) 0;
$padding--h4--md:		0 0 ($font-size--h4--md * 0.5) 0;
$padding--h4--lg:		0 0 ($font-size--h4--lg * 0.5) 0;
$padding--h4--xl:		0 0 ($font-size--h4--xl * 0.5) 0;
// Other styles
$font-weight--h4:		bold;
$font-style-h4:			italic;
$text-align--h4:		left;
$text-decoration--h4:	none;
$text-transform--h4:	none;

// HEADING 5 TEXT
// Applies to 'h5' and equivalent text
// Size
$font-size--h5--xs:		22px;
$font-size--h5--sm:		22px;
$font-size--h5--md:		22px;
$font-size--h5--lg:		26px;
$font-size--h5--xl:		30px;
// Line height
$line-height--h5--xs:	1.25;
$line-height--h5--sm:	1.25;
$line-height--h5--md:	1.25;
$line-height--h5--lg:	1.25;
$line-height--h5--xl:	1.25;
// Padding (bottom spacing)
$padding--h5--xs:		$font-size--h5--xs 0;
$padding--h5--sm:		$font-size--h5--sm 0;
$padding--h5--md:		$font-size--h5--md 0;
$padding--h5--lg:		$font-size--h5--lg 0;
$padding--h5--xl:		$font-size--h5--xl 0;
// Other styles
$font-weight--h5:		bold;
$font-style-h5:			normal;
$text-align--h5:		left;
$text-decoration--h5:	none;
$text-transform--h5:	none;

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// FORM ELEMENTS

$touch-target-size:                 44px;

$input-size:                       	40px;
$border-width-form-element:         3px;
$border-focus-width:                1px;
$input-border-color:                map-get($colors, "black");
$input-error-color:                 map-get($colors, "red");
$input-focus-color:                 map-get($colors, "cyan");
$input-padding:                     5px;

$radios-size:                       40px;
$radios-label-padding-left-right:   20px;