//	SASS VARIABLES
//	All variables should go in this file

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// BREAKPOINTS AND CONTAINER SIZING
//

// Breakpoints
$breakpoint: (
	"xs": 0,
	"sm": 600px,
	"md": 766px,
	"lg": 1000px,
	"xl": 1200px
);

$container: (
	"xs":    300px,
	"sm":    560px,
	"md":    600px,
	"lg":    800px,
	"xl":    900px
);

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// COLOURS

// PALETTE
// All colours used should be referenced here

$colors: (

	"white":   	 								#FAFAFA,
	"absolute-white":							#FFFFFF,

	"black":    	 							#1D1D1D,
	"absolute-black":							#000000,

	"gray-100":	 								#F8F9FA,
	"gray-200":	 								#E9ECEF,
	"gray-300":	 								#DEE2E6,
	"gray-400":	 								#CED4DA,
	"gray-500": 	 							#ADB5BD,
	"gray-600": 	 							#868E96,
	"gray-700": 	 							#495057,
	"gray-800": 	 							#343A40,
	"gray-900": 	 							#212529,

	"blue":    	 								#007AFF,
	"desaturated-blue": 						#3B5998,
	"purple":  	 								#C643FC,
	"magenta":   	 							#E6007E,
	"red":     	 								#B10E1E,
	"orange":  	 								#ff5E3A,
	"yellow":  	 								#FFD700,
	"green":   	 								#0BD318,
	"cyan":    	 								#009FE3,


	/// main.scss colors
	"background":							#FAFAFA,
	"color":								#1D1D1D,

	"dark--background":						#1D1D1D,
	"dark--color":							#FAFAFA,

	/// links
	"link-color":								#1D1D1D,
	"link-color--secondary":					#495057,
	"subtle-link-color":						#ADB5BD,

	"dark--link-color":							#FAFAFA,
	"dark--link-color--secondary":				#CED4DA,
	"dark--subtle-link-color":					#868E96,

	"dark--skiplink-color":						#1D1D1D,

	"dark--border-color":						#495057,

	"dark--icon-color":							#CED4DA,

	"dark--button-color":						#FAFAFA,
	"dark--button-background":					#009FE3,
	"dark--button-background--secondary":		#DEE2E6,
	"dark--button-color--hover":				#FAFAFA,
	"dark--button-background--hover":			darken(#DEE2E6, 20%),
	"dark--button-color--focus":				#1D1D1D,
	"dark--button-background--focus":			#FFD700,
	"dark--button-border-color":				#009FE3,
	"dark--button-outline-color--focus":		#FFD700,

	"dark--input-color":						#FAFAFA,
	"dark--input-background":					#000000,
	"dark--input-background--focus":			#212529,
	"dark--input-border-color":					#FAFAFA,
	"dark--input-label-hint-color": 			#DEE2E6,

	"dark--radio-background":					#495057,
	"dark--radio-button-border-color":			#FAFAFA,
	"dark--radio-button-center-color":			#009FE3,

	"dark--figcaption-color":					#CED4DA,
	"dark--figcaption-link-color":				#CED4DA,

	"dark--default-element-background":			#343A40,
	"dark--default-element-background--hover":	#495057,

	"dark--progress--bar--background":			#495057,

	"dark--secondary-text--color":				#CED4DA,

	"dark--code-color":							#FAFAFA,
	"dark--code-color--blockquote":				#FAFAFA,
	"dark--secondary-background":					#495057,


	"dark--dropdown-menu--background":					#343A40
);




// DEPRECATED

// FONTS
// Font face
$font-family: 						"JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Roboto, "Segoe UI", Arial, sans-serif !default;
// Font face – Marker pen
$font-family-postitnote:			"Permanent Marker", 'Segoe Print', 'Marker Felt', Chilanka, TSCu_Comic, casual, cursive;
// Feature settings
$font-feature-settings:				"ss02", "tnum", "liga", "zero", "kern";
$sup-font-feature-settings:			"ss02", "tnum", "liga", "zero", "kern", "frac";

$body--chiplet: (

	"font-size": (
		"xs": 11px,
		"sm": 11px,
		"md": 11px,
		"lg": 13px,
		"xl": 15px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 7px,
		"sm": 7px,
		"md": 7px,
		"lg": 7px,
		"xl": 7px
	),
	"font-weight": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	),
	"font-style": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	),
	"text-transform": (
		"xs": uppercase,
		"sm": uppercase,
		"md": uppercase,
		"lg": uppercase,
		"xl": uppercase
	),
	"font-variant": (
		"xs": small-caps,
		"sm": small-caps,
		"md": small-caps,
		"lg": small-caps,
		"xl": small-caps
	),
	"vertical-align": (
		"xs": middle,
		"sm": middle,
		"md": middle,
		"lg": middle,
		"xl": middle
	),
	"border-radius": (
		"xs": 6px,
		"sm": 6px,
		"md": 6px,
		"lg": 8px,
		"xl": 8px
	),

);

// HEADER WORDMARK TEXT
// Applies to the Wordmark only (smaller for the normal links)

$wordmark: (

	"font-size": (
		"xs": 30px,
		"sm": 30px,
		"md": 30px,
		"lg": 34px,
		"xl": 36px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 18px 0,
		"sm": 18px 0,
		"md": 18px 0,
		"lg": 16px 0,
		"xl": 15px 0
	)

);

$header-nav: (

	"font-size": (
		"xs": 26px,
		"sm": 22px,
		"md": 22px,
		"lg": 26px,
		"xl": 30px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 15px 0,
		"sm": 0 0 24px 0,
		"md": 0 0 24px 0,
		"lg": 0 0 22px 0,
		"xl": 0 0 20px 0
	),
	"min-height": (
		"xs": 56px,
		"sm": 56px,
		"md": 0,
		"lg": 0,
		"xl": 0
	),
	"margin-right": (
		"xs": 0,
		"sm": 0,
		"md": 20px,
		"lg": 20px,
		"xl": 20px
	),
	"width": (
		"xs": 100%,
		"sm": 100%,
		"md": auto,
		"lg": auto,
		"xl": auto
	)

);

$footer-body: (

	"font-size": (
		"xs": 18px,
		"sm": 18px,
		"md": 18px,
		"lg": 20px,
		"xl": 22px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.4,
		"xl": 1.4
	),
	"padding": (
		"xs": 0 0 9px 0,
		"sm": 0 0 9px 0,
		"md": 0 0 9px 0,
		"lg": 0 0 5px 0,
		"xl": 0 0 6px 0
	),
	"text-align": (
		"xs": left,
		"sm": right,
		"md": right,
		"lg": right,
		"xl": right
	)

);

$footer-wordmark: (

	"font-size": (
		"xs": 27px,
		"sm": 27px,
		"md": 27px,
		"lg": 30px,
		"xl": 32px
	),
	"padding": (
		"xs": 0,
		"sm": 0,
		"md": 0,
		"lg": 0,
		"xl": 0
	)

);
