//	SASS VARIABLES				
//	All variables should go in this file				

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// BREAKPOINTS AND CONTAINER SIZING
//

// Breakpoints
$breakpoint: (
	"xs": 0,
	"sm": 600px,
	"md": 766px,
	"lg": 1000px,
	"xl": 1200px
);

$container: (
	"xs":    300px,
	"sm":    560px,
	"md":    600px,
	"lg":    800px,
	"xl":    900px
);

$container-padding: 	 			15px;

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// FONTS

// Font face
$font-family: 						"JP", ui-monospace, 'SFMono-Regular', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Roboto, "Segoe UI", Arial, sans-serif !default;
// Feature settings
$font-feature-settings:				"ss02", "tnum", "liga", "zero", "kern";
$sup-font-feature-settings:			"ss02", "tnum", "liga", "zero", "kern", "frac";

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// COLOURS

// PALETTE
// All colours used should be referenced here

$colors: (
	
	"white":   	 								#FAFAFA,
	"absolute-white":							#FFFFFF,
			
	"black":    	 							#1D1D1D,
	"absolute-black":							#000000,
			
	"gray-100":	 								#F8F9FA,
	"gray-200":	 								#E9ECEF,
	"gray-300":	 								#DEE2E6,
	"gray-400":	 								#CED4DA,
	"gray-500": 	 							#ADB5BD,
	"gray-600": 	 							#868E96,
	"gray-700": 	 							#495057,
	"gray-800": 	 							#343A40,
	"gray-900": 	 							#212529,
			
	"blue":    	 								#007AFF,
	"desaturated-blue": 						#3B5998,
	"purple":  	 								#C643FC,
	"magenta":   	 							#E6007E,
	"red":     	 								#B10E1E,
	"orange":  	 								#ff5E3A,
	"yellow":  	 								#FFD700,
	"bad-ideas-yellow":                 		#FFD700,
	"green":   	 								#0BD318,
	"cyan":    	 								#009FE3,
	
	
	/// main.scss colors
	"background":							#FAFAFA,
	"color":								#1D1D1D,
			
	"dark--background":						#1D1D1D,
	"dark--color":							#FAFAFA,
	
	/// links
	"link-color":								#1D1D1D,
	"link-color--secondary":					#495057,
	"emphasised-link-color":					#009FE3,
	"subtle-link-color":						#ADB5BD,
	"link-color--hover":						#009FE3,
	"link-color--focus":						#FAFAFA,
	"outline-color":							#009FE3,
	"link-background--focus":					#009FE3,
				
	"dark--link-color":							#FAFAFA,
	"dark--link-color--secondary":				#CED4DA,
	"dark--emphasised-link-color":				#009FE3,
	"dark--subtle-link-color":					#868E96,
	"dark--link-color--hover":					#009FE3,
	"dark--link-color--focus":					#FAFAFA,
	"dark--outline-color":						#009FE3,
	"dark--link-background--focus":				#009FE3,
		
		
	/// screenreader.scss colors		
	"skiplink-background":						#009FE3,
	"skiplink-color":							#FAFAFA,
		
	"dark--skiplink-background":				#009FE3,
	"dark--skiplink-color":						#1D1D1D,
	
	
	/// borders
	"border-color":								#CED4DA,
	"dark--border-color":						#495057,
	
	/// icon colours
	"icon-color":								#868E96,
	"dark--icon-color":							#CED4DA,
			
			
	/// buttons		
	"button-color":								#FAFAFA,
	"button-background":						#009FE3,
	"button-background--secondary":				#868E96,
	"button-color--hover":						#FAFAFA,
	"button-background--hover":					darken(#868E96, 20%),
	"button-color--focus":						#1D1D1D,
	"button-background--focus":					#FFD700,
	"button-border-color":						#009FE3,
	"button-outline-color--focus":				#FFD700,
			
	"dark--button-color":						#FAFAFA,
	"dark--button-background":					#009FE3,
	"dark--button-background--secondary":		#DEE2E6,
	"dark--button-color--hover":				#FAFAFA,
	"dark--button-background--hover":			darken(#DEE2E6, 20%),
	"dark--button-color--focus":				#1D1D1D,
	"dark--button-background--focus":			#FFD700,
	"dark--button-border-color":				#009FE3,
	"dark--button-outline-color--focus":		#FFD700,
	
	
	/// input fields
	"input-color":								#1D1D1D,
	"input-background":							#FFFFFF,
	"input-background--focus":					#F8F9FA,
	"input-border-color":						#1D1D1D,
	"input-label-hint-color": 					#868E96,
			
	"dark--input-color":						#FAFAFA,
	"dark--input-background":					#000000,
	"dark--input-background--focus":			#212529,
	"dark--input-border-color":					#FAFAFA,
	"dark--input-label-hint-color": 			#DEE2E6,
			
	"radio-background":							#E9ECEF,
	"radio-button-border-color":				#1D1D1D,
	"radio-button-center-color":				#009FE3,
	"radio-shadow":								#009FE3,
	"dark--radio-background":					#495057,
	"dark--radio-button-border-color":			#FAFAFA,
	"dark--radio-button-center-color":			#009FE3,

	
	/// images
	"figcaption-color":							#868E96,
	"figcaption-link-color":					#868E96,
	"dark--figcaption-color":					#CED4DA,
	"dark--figcaption-link-color":				#CED4DA,
	
	
	// Backgrounds
	"default-element-background":				#E9ECEF,
	"default-element-background--hover":		#DEE2E6,
	"dark--default-element-background":			#343A40,
	"dark--default-element-background--hover":	#495057,
	
	
	/// progress element
	"progress--bar--background":				#E9ECEF,
	"progress-total--bar--background":			#ADB5BD,
	"progress--value--background":				#009FE3,
	"progress--value--background-secondary":	#C643FC,
	"dark--progress--bar--background":			#495057,
	"dark--progress-total--bar--background":	#ADB5BD,
	"dark--progress--value--background":		#009FE3,
	"dark--progress--value--background-secondary":	#C643FC,
	
	
	/// post.scss
	"secondary-text--color":					#868E96,
	"dark--secondary-text--color":				#CED4DA,
	
	// chiplet
	"chiplet-background--default":				#009FE3,
	"chiplet-background--green":				#0BD318,
	"chiplet-color":							#FAFAFA,
	
	"dark--chiplet-background--default":		#009FE3,
	"dark--chiplet-background--green":			#0BD318,
	"dark--chiplet-color":						#FAFAFA,
	
	/// code styles
	"code-color":								#1D1D1D,
	"code-color--blockquote":					#1D1D1D,
	"code-background":							#E9ECEF,
	
	"dark--code-color":							#FAFAFA,
	"dark--code-color--blockquote":				#FAFAFA,
	"dark--code-background":					#495057,
	
	// box shadow
	"shadow":									0 4px 30px rgba(0, 0, 0, 0.1),
	"dark--shadow":								0 4px 30px rgba(0, 0, 0, 0.1),
	
	/// drop down menu
	"dropdown-menu--background":					#DEE2E6,
	"dropdown-menu--glass":							rgba(250, 250, 250, 0.25),
	"dropdown-menu--button--background":			transparent,
	"dropdown-menu--color":							#1D1D1D,
	"dropdown-menu--background--hover":				#009FE3,
	"dropdown-menu--background--focus":				#009FE3,
	"dropdown-menu--outline--focus":				#009FE3,
	"dropdown-menu--color--hover":					#FAFAFA,
	"dropdown-menu--color--focus":					#FAFAFA,
	
	"dark--dropdown-menu--background":					#343A40,
	"dark--dropdown-menu--glass":						rgba(33, 37, 41, 0.25),
	"dark--dropdown-menu--button--background":			transparent,
	"dark--dropdown-menu--color":						#FAFAFA,
	"dark--dropdown-menu--background--hover":			#009FE3,
	"dark--dropdown-menu--background--focus":			#009FE3,
	"dark--dropdown-menu--outline--focus":				#009FE3,
	"dark--dropdown-menu--color--hover":				#FAFAFA,
	"dark--dropdown-menu--color--focus":				#FAFAFA,
	
	// glass
	"glass":							linear-gradient(145deg, rgba(248, 249, 250, 0.25), rgba(233, 236, 239, 0.75)),
	"dark--glass":						linear-gradient(145deg, rgba(33, 37, 41, 0.75), rgba(52, 58, 64, 0.75))
	
);

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// TEXT SIZES

// PARAGRAPH TEXT
// Applies to 'p' and equivalent text

$body: (
	
	"font-size": (
		"xs": 22px,
		"sm": 22px,
		"md": 22px,
		"lg": 26px,
		"xl": 30px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.25,
		"xl": 1.2
	),
	"padding": (
		"xs": 0 0 22px 0,
		"sm": 0 0 22px 0,
		"md": 0 0 22px 0,
		"lg": 0 0 26px 0,
		"xl": 0 0 30px 0
	),
	"font-weight": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	),
	"font-style": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	)
	
);

$list: (
	
	"font-size": (
		"xs": 22px,
		"sm": 22px,
		"md": 22px,
		"lg": 26px,
		"xl": 30px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.25,
		"xl": 1.2
	),
	"padding": (
		"xs": 0 0 0 0,
		"sm": 0 0 0 0,
		"md": 0 0 0 0,
		"lg": 0 0 0 0,
		"xl": 0 0 0 0
	),
	"font-weight": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	),
	"font-style": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	)
	
);


$body--lead: (
	
	"font-size": (
	"xs": 26px,
	"sm": 26px,
	"md": 26px,
	"lg": 32px,
	"xl": 43px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.25,
		"xl": 1.2
	),
	"padding": (
		"xs": 0 0 22px 0,
		"sm": 0 0 22px 0,
		"md": 0 0 22px 0,
		"lg": 0 0 26px 0,
		"xl": 0 0 30px 0
	),
	"font-weight": (
		"xs": bold,
		"sm": bold,
		"md": bold,
		"lg": bold,
		"xl": bold
	),
	"font-style": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	)
	
);

$body--small: (
	
	"font-size": (
		"xs": 18px,
		"sm": 18px,
		"md": 18px,
		"lg": 22px,
		"xl": 26px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.25,
		"xl": 1.2
	),
	"padding": (
		"xs": 0,
		"sm": 0,
		"md": 0,
		"lg": 0,
		"xl": 0
	),
	"font-weight": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	),
	"font-style": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	)
	
);

$body--chiplet: (
	
	"font-size": (
		"xs": 11px,
		"sm": 11px,
		"md": 11px,
		"lg": 13px,
		"xl": 15px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 7px,
		"sm": 7px,
		"md": 7px,
		"lg": 7px,
		"xl": 7px
	),
	"font-weight": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	),
	"font-style": (
		"xs": normal,
		"sm": normal,
		"md": normal,
		"lg": normal,
		"xl": normal
	),
	"text-transform": (
		"xs": uppercase,
		"sm": uppercase,
		"md": uppercase,
		"lg": uppercase,
		"xl": uppercase
	),
	"font-variant": (
		"xs": small-caps,
		"sm": small-caps,
		"md": small-caps,
		"lg": small-caps,
		"xl": small-caps
	),
	"vertical-align": (
		"xs": middle,
		"sm": middle,
		"md": middle,
		"lg": middle,
		"xl": middle
	),
	"border-radius": (
		"xs": 6px,
		"sm": 6px,
		"md": 6px,
		"lg": 8px,
		"xl": 8px
	),
	
);

// HEADER WORDMARK TEXT
// Applies to the Wordmark only (smaller for the normal links)

$wordmark: (
	
	"font-size": (
		"xs": 30px,
		"sm": 30px,
		"md": 30px,
		"lg": 34px,
		"xl": 36px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 18px 0,
		"sm": 18px 0,
		"md": 18px 0,
		"lg": 16px 0,
		"xl": 15px 0
	)
	
);

$header-nav: (
	
	"font-size": (
		"xs": 26px,
		"sm": 22px,
		"md": 22px,
		"lg": 26px,
		"xl": 30px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 15px 0,
		"sm": 0 0 24px 0,
		"md": 0 0 24px 0,
		"lg": 0 0 22px 0,
		"xl": 0 0 20px 0
	),
	"min-height": (
		"xs": 56px,
		"sm": 56px,
		"md": 0,
		"lg": 0,
		"xl": 0
	),
	"margin-right": (
		"xs": 0,
		"sm": 0,
		"md": 20px,
		"lg": 20px,
		"xl": 20px
	),
	"width": (
		"xs": 100%,
		"sm": 100%,
		"md": auto,
		"lg": auto,
		"xl": auto
	)
	
);

$footer-body: (
	
	"font-size": (
		"xs": 18px,
		"sm": 18px,
		"md": 18px,
		"lg": 20px,
		"xl": 22px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.4,
		"xl": 1.4
	),
	"padding": (
		"xs": 0 0 9px 0,
		"sm": 0 0 9px 0,
		"md": 0 0 9px 0,
		"lg": 0 0 5px 0,
		"xl": 0 0 6px 0
	),
	"text-align": (
		"xs": left,
		"sm": right,
		"md": right,
		"lg": right,
		"xl": right
	)
	
);

$footer-wordmark: (
	
	"font-size": (
		"xs": 27px,
		"sm": 27px,
		"md": 27px,
		"lg": 30px,
		"xl": 32px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 0,
		"sm": 0,
		"md": 0,
		"lg": 0,
		"xl": 0
	)
	
);



// DISPLAY TEXT
// Applies to 'h1' size on home and 404 pages

$h1-display: (
	"font-size": (
		"xs": 66px,
		"sm": 90px,
		"md": 120px,
		"lg": 144px,
		"xl": 164px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 90px 0 15px 0,
		"sm": 105px 0 15px 0,
		"md": 150px 0 15px 0,
		"lg": 225px 0 15px 0,
		"xl": 240px 0 15px 0
	)
);

// HEADING 1 TEXT
// Applies to 'h1' and equivalent text
$h1: (
	"font-size": (
		"xs": 45px,
		"sm": 60px,
		"md": 60px,
		"lg": 75px,
		"xl": 75px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 90px  0 45px,
		"sm": 120px 0 60px,
		"md": 120px 0 60px,
		"lg": 150px 0 75px,
		"xl": 150px 0 75px,
	)
);

$h1-page-title: (
	"font-size": (
		"xs": 60px,
		"sm": 60px,
		"md": 60px,
		"lg": 120px,
		"xl": 120px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 90px  0 15px,
		"sm": 120px 0 30px,
		"md": 120px 0 45px,
		"lg": 150px 0 45px,
		"xl": 150px 0 45px,
	)
);


// POST DATE
// Applies to p element before 'h1' and equivalent text in post headers
// Padding (bottom spacing)
$h1-post-date: (
	"font-size": (
		"xs": 26px,
		"sm": 28px,
		"md": 28px,
		"lg": 23px,
		"xl": 42px
	),
	"line-height": (
		"xs": 1,
		"sm": 1,
		"md": 1,
		"lg": 1,
		"xl": 1
	),
	"padding": (
		"xs": 90px  0 15px 0,
		"sm": 120px 0 30px 0,
		"md": 120px 0 30px 0,
		"lg": 150px 0 45px 0,
		"xl": 150px 0 45px 0,
	)
);

// HEADING 2 TEXT
// Applies to 'h2' and equivalent text
$h2: (
	"font-size": (
		"xs": 27px,
		"sm": 32px,
		"md": 32px,
		"lg": 36px,
		"xl": 40px
	),
	"line-height": (
		"xs": 1.15,
		"sm": 1.15,
		"md": 1.15,
		"lg": 1.15,
		"xl": 1.15
	),
	"padding": (
		"xs": 54px 0 27px 0,
		"sm": 64px 0 32px 0,
		"md": 64px 0 32px 0,
		"lg": 72px 0 36px 0,
		"xl": 80px 0 40px 0
	)
);

// HEADING 2 LOOP TITLE TEXT
// Applies to 'h2' and equivalent text that is in a loop
$h2-loop-title: (
	"font-size": (
		"xs": 35px,
		"sm": 40px,
		"md": 40px,
		"lg": 45px,
		"xl": 50px
	),
	"line-height": (
		"xs": 0.8,
		"sm": 0.8,
		"md": 0.8,
		"lg": 0.8,
		"xl": 0.8
	),
	"padding": (
		"xs": 27px 0,
		"sm": 32px 0,
		"md": 32px 0,
		"lg": 36px 0,
		"xl": 40px 0
	),
	"float": (
		"xs": none,
		"sm": left,
		"md": left,
		"lg": left,
		"xl": left
	),
	"width": (
		"xs": 100%,
		"sm": 20%,
		"md": 25%,
		"lg": 25%,
		"xl": 25%	
	),
	"text-align": (
		"xs": left,
		"sm": left,
		"md": left,
		"lg": left,
		"xl": left
	),
	"top": (
		"xs": 0,
		"sm": 0,
		"md": 0,
		"lg": 0,
		"xl": 0
	),
	"position": (
		"xs": relative,
		"sm": sticky,
		"md": sticky,
		"lg": sticky,
		"xl": sticky
	)
);

// HEADING 3 TEXT
// Applies to 'h3' and equivalent text
$h3: (
	"font-size": (
		"xs": 22px,
		"sm": 22px,
		"md": 22px,
		"lg": 26px,
		"xl": 30px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.25,
		"xl": 1.25
	),
	"padding": (
		"xs": 22px 0 15px 0,
		"sm": 22px 0 15px 0,
		"md": 22px 0 15px 0,
		"lg": 26px 0 17px 0,
		"xl": 30px 0 20px 0
	)
);

// HEADING 4 TEXT
// Applies to 'h4' and equivalent text
$h4: (
	"font-size": (
		"xs": 22px,
		"sm": 22px,
		"md": 22px,
		"lg": 26px,
		"xl": 30px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.25,
		"xl": 1.25
	),
	"padding": (
		"xs": 0 0 11px 0,
		"sm": 0 0 11px 0,
		"md": 0 0 11px 0,
		"lg": 0 0 13px 0,
		"xl": 0 0 15px 0
	)
);

// HEADING 5 TEXT
// Applies to 'h5' and equivalent text
$h5: (
	"font-size": (
		"xs": 22px,
		"sm": 22px,
		"md": 22px,
		"lg": 26px,
		"xl": 30px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.25,
		"xl": 1.25
	),
	"padding": (
		"xs": 22px 0,
		"sm": 22px 0,
		"md": 22px 0,
		"lg": 26px 0,
		"xl": 30px 0
	)
);

// HEADING 1 TEXT
// Applies to 'h1' and equivalent text
$legend: (
	"font-size": (
		"xs": 27px,
		"sm": 32px,
		"md": 32px,
		"lg": 36px,
		"xl": 40px
	),
	"line-height": (
		"xs": 1.15,
		"sm": 1.15,
		"md": 1.15,
		"lg": 1.15,
		"xl": 1.15
	),
	"padding": (
		"xs": 0 0 27px 0,
		"sm": 0 0 32px 0,
		"md": 0 0 32px 0,
		"lg": 0 0 36px 0,
		"xl": 0 0 40px 0
	)
);

$sub-legend: (
	
	"font-size": (
		"xs": 22px,
		"sm": 22px,
		"md": 22px,
		"lg": 26px,
		"xl": 30px
	),
	"line-height": (
		"xs": 1.25,
		"sm": 1.25,
		"md": 1.25,
		"lg": 1.25,
		"xl": 1.2
	),
	"padding": (
		"xs": 0 0 22px 0,
		"sm": 0 0 22px 0,
		"md": 0 0 22px 0,
		"lg": 0 0 26px 0,
		"xl": 0 0 30px 0
	)

	
);
// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// FORM ELEMENTS

$form-elements: (
	"touch-target-size":                44px,
	
	"input-size":                       40px,
	"border-width-form-element":        3px,
	"border-focus-width":               1px,
	"input-border-color":               map-get($colors, "black"),
	"input-error-color":                map-get($colors, "red"),
	"input-focus-color":                map-get($colors, "cyan"),
	"input-padding":                    10px 15px,
	
	"radios-size":                      40px,
	"radios-label-padding-left-right":  20px
);