<figure class="apps-list">
  <dl class="apps-list--app--info">
      <img class="apps-list--app--icon" src="{{ site.url | append: site.baseurl | append: '/assets/images/posts' | append: page.url | append: include.image }}" alt="{{ include.alt }}">
      
      <dt class="apps-list--app--name">App name</dt>
      <dd class="apps-list--app--name">{{ include.name }}</dd>
    
      <dt class="apps-list--app--price">Price</dt>
      <dd class="apps-list--app--price">{{ include.price | prepend: "£" }}{% if include.frequency %} per {{ include.frequency }}{% endif %}</dd>

  </dl>
</figure>
