<footer id="post-footer">
	
	<dl class="meta-data">
		<aside id="meta-data--published" class="meta-data meta-data-details">
			<dt class="post-date">Published</dt>
			<dd>
				<a href="{{ page.url }}" class="no-underline u-url u-uid">
					<time datetime="{{ page.date | date: '%Y-%m-%d %H:%M'}}" class="dt-published">
						{{ page.date | date: '%-d %B %Y' }}
					</time>
				</a>
			</dd>
		</aside>
	
		{% if page.categories %}
		<aside id="meta-data--categories" class="meta-data meta-data-details">
			<dt class="post-categories">Categories</dt>
			<dd>{% for categories in page.categories %}<span class="p-category">{{ categories }}</span>{% if forloop.last==false %}, {% endif %}{% endfor %}</dd>
		</aside>
		{% endif %}
	</dl>
	
	{% include fediverse/author-card.html %}
	
	{% include fediverse/activity.html %}
				
</footer>