body#images-home {

	details[open] {
		padding-bottom: $container-padding * 2;
	}
	details[open] > summary {
		margin-bottom: $container-padding * 0.5;
	}

	a.file-button {

		display: inline-block;

		border-radius: 7.5px;

		@include toggleSizes(font-size, ($font-size--p--xs * 0.7), ($font-size--p--sm * 0.7), ($font-size--p--md * 0.7), ($font-size--p--lg * 0.7), ($font-size--p--xl * 0.7));
		@include toggleSizes(line-height, ($line-height--p--xs * 0.7), ($line-height--p--sm * 0.7), ($line-height--p--md * 0.7), ($line-height--p--lg * 0.7), ($line-height--p--xl * 0.7));

		&:link,
		&:visited {

			padding: $container-padding;

			@include toggleDarkMode(background, $gray-600, $gray-400);
			@include toggleDarkMode(color, $white, $black);

			text-decoration: none;
		}
		&:hover {

			@include toggleDarkMode(background, $brand, $brand);
			@include toggleDarkMode(color, $white, $white);

		}
		&:focus {
			@include toggleDarkMode(color, $link-color--focus, $link-color--focus-dark);
			@include toggleDarkMode(background, $link-background--focus, $link-background--focus-dark);
			@include toggleDarkMode(outline, $link-outline--focus, $link-outline--focus-dark);
			border-radius: 0px;
		}
		&:active {

		}

	}

	summary.foldername > h3 {
		max-width: 90%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	summary.file-info {
		display: block;

		span.filename,
		span.filedate {
			display: block;
		}
		span.filename {
			font-weight: bold;
		}
		span.filedate {
			color: $gray-500;
			font-weight: normal;
		}
	}

	details.file {

		@include toggleSizes(font-size, $font-size--p--xs, $font-size--p--sm, $font-size--p--md, $font-size--p--lg, $font-size--p--xl);
		@include toggleSizes(line-height, $line-height--p--xs, $line-height--p--sm, $line-height--p--md, $line-height--p--lg, $line-height--p--xl);

		@include toggleDarkMode(background, $gray-200, $gray-800);

		padding: ($container-padding * 0.5);
		margin-bottom: $container-padding;
		border-radius: 15px;

		> summary {
			border: none;
			border-radius: 7.5px;
			padding: ($container-padding * 0.5);

			&::before {
				text-align: right;
			}

			&:focus,
			&:active {
				outline: none;
				box-shadow: 0 0 0 2pt $brand;
			}
		}
	}

	div.file-buttons {
		position: relative;
		display: block;
		width: 100%;
	}

	div.folder-info {
		margin-bottom: $container-padding;
	}


}
