body.debug:after {

    content: "Mobile";
    @include tablet {
        content: "Tablet";
    }
    @include desktop {
        content: "Desktop";
    }

    display: inline-block;
	position: fixed;
    position: sticky;
	position: --webkit-sticky;
    bottom: 0;
    @include typography($p, "default");
	background: var(--glass-background);
        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
    color: var(--color);
    text-align: center;
    line-height: 1 !important;
    padding: $container-padding !important;
    font-weight: 900 !important;
    z-index: 999999;
}
