body.debug:after {

    content: "Mobile";
    @include tablet {
        content: "Tablet";
    }
    @include desktop {
        content: "Desktop";
    }

    display: inline-block;
	position: fixed;
    position: sticky;
	position: --webkit-sticky;
    bottom: $container-padding;
	margin: 0 auto $container-padding $container-padding;
	@include glass(20px, 2, true);
    @include typography($p, "default");
	color: var(--color);
    text-align: center;
    line-height: 1 !important;
    padding: $container-padding !important;
    font-weight: 900 !important;
    z-index: 999999;
}
