body.debug:after {

    content: "Mobile";
    @include tablet {
        content: "Tablet";
    }
    @include desktop {
        content: "Desktop";
    }

    display: inline-block;
    position: fixed;
    margin: auto $container-padding;
    bottom: $container-padding;
    @include glass(10px, 2, true);
    border-radius: $border-radius;
    @include typography($p, "marker");
    text-align: center;
    line-height: 1 !important;
    padding: $container-padding !important;
    font-weight: 900 !important;
    z-index: 999999;
}
