@mixin glass($blur: 5px, $shadow: 3, $effect: false, $bg: --glass-background, $float: true) {

    @if $float == true {
        border-radius: $border-radius;
        border: 1px solid var(--glass-border);
    }

    background: var($bg);

    @if $shadow != false {
        box-shadow: shadow($shadow);
        @include darkMode() {
            box-shadow: shadow(3);    
        }
    }

    @if $effect == true {
        -webkit-backdrop-filter: blur($blur);
                backdrop-filter: blur($blur);
    }

}
