@mixin glass($blur: 5px, $shadow: 3) {

	background: var(--glass-background, colour("gray-100"));
	box-shadow: shadow($shadow);

	border-radius: $border-radius;
	border: 1px solid var(--glass-border, colour("absolute-white"));

	-webkit-backdrop-filter: blur($blur);
			backdrop-filter: blur($blur);

}
