@mixin plastic($shape, $depth: 5px) {

    // corner radius
    border-radius: $border-radius !important;
    // depth
    @if $shape == raised {
            // border
            border: 1px solid var(--glass-border);
            box-shadow:  #{$depth} #{$depth} #{$depth} var(--plastic-shadow-1),
                        -#{$depth} -#{$depth} #{$depth} var(--plastic-shadow-2);
    } @else if $shape == inset {
            // border
            border: 1px solid var(--glass-border);
            box-shadow: inset  #{$depth} #{$depth} #{$depth} var(--plastic-shadow-1),
                        inset -#{$depth} -#{$depth} #{$depth} var(--plastic-shadow-2);
    } @else {
        @error "Unknown shape #{$shape}. Use 'raised' or 'inset'.";
    }

}
