@mixin supports-sticky {

    @supports (position: sticky) or (position: -webkit-sticky) or (position: -moz-sticky) {
        position: -webkit-sticky;
        position:  sticky;
        @content;
    }

}
