@mixin typography-common($font-family: default) {
    @if ($font-family == "default") {
        font-family: $font-family-default;
    } @else if ($font-family == "marker") {
        font-family: $font-family-postitnote;
    } @else {
        font-family: $font-family-default;
    }

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    color: var(--color);
}

@mixin typography($font, $type: "default") {

    @if ($type == "default") {
        @include typography-common;
    } @else if ($type == "marker") {
        @include typography-common("marker");
    } @else {
        @include typography-common;
    }

    @each $style, $sizes in $font {
        @include responsive(
            $style,
            map-get($sizes, "mobile"),
            map-get($sizes, "tablet"),
            map-get($sizes, "desktop")
        )
    }

}
