body[id$='post'] {

    section.post-body ul > li::before {
        position: absolute;
        content: "\2014";

        left: 15px;
        @include tablet {
            left: -11px;
        }
        @include desktop {
            left: -15px;
        }
    }

    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

.blogpost-post blockquote {
    border-radius: $border-radius;
    box-shadow: shadow(2);
}