body#editor {

    * {
        &.hidden {
            display: none;
        }
    }

    nav#editor-toolbar {

        padding: $container-padding 0;

        details {
            margin-right: $container-padding;
        }

        @include clearfix();
    }
    section#section-githubLogin {

        padding-top: $container-padding * 5;

        p.get-token {
            padding: 0;
            margin-top: $container-padding;
        }
    }

    h1.page-title {
        text-align: center;
        padding-top: 0;
    }

    #form-githubLogin {
        max-width: 600px;
        padding: $container-padding;
        margin: $container-padding auto;

        text-align: center;
        input {
            text-align: center;
        }
    }

    // Text editor

    input#fileName {
        @extend h2;
        text-align: left;
    }

    textarea#textEditor {
        height: calc(100vh - 250px);
        box-sizing: border-box;
    }

    input#fileName,
    textarea#textEditor {
        width: 100%;

        padding: $container-padding 0;

        background: var(--background, colour("white"));
        border: none;
        border-radius: 0;

        resize: none;

        caret-color: var(--caret-color, colour("cyan"));

        overflow: visible;

        &:hover,
        &:focus {
            border: none;
            outline: none;
            -webkit-box-shadow: none;

            &::placeholder {
                color: var(--color, colour("black"));
            }
        }
    }

}
