body#home {

    .colophon {

        max-width: 750px;
		min-height: 70vh;
		
		@include tablet() {
			min-height: 50vh;
		}
		@include desktop {
			min-height: 70vh;
		}
		
        h1.display {
            margin-left: -3px;
            @include tablet {
                margin-left: -8px;
            }
            @include desktop {
                margin-left: -10px;
            }
        }

    }

}
