body#loop {

    section#page-content > section {
        padding-bottom: 0;
        @include tablet {
            padding-bottom: $container-padding * 2;
        }
        @include desktop {
            padding-bottom: $container-padding * 3;
        }

        @include clearfix;
    }

    ul.loop {
        padding-left: 0;
        padding-bottom: 0;

        float: none;
        width: 100%;
        padding-top: $container-padding * 2;

        @include tablet-up {
            float: left;
            width: 75%;
            padding-top: $container-padding * 3;
        }

        li:before {
            position: absolute;
            content: none;

            left: 0;
        }

        p.loop-item-date {

            @include typography($p, "default");
            padding-bottom: 0;

            time {
                font-weight: bold;
            }
        }

        p.loop-item-title {

            @include typography($large, "default");

            a {
                &:link {
                    color: var(--cyan, colour("cyan"));
                    text-decoration: none;
                }
                &:visited {
                    color: var(--cyan, colour("cyan"));
                    text-decoration: none;
                }
                &:hover {
                    color: var(--link-hoverColor, colour("cyan"));
                    text-decoration: underline;
                }
                &:focus {
                    color: var(--link-focusColor, colour("white"));
                }
                &:active {
                    color: var(--link-hoverColor, colour("cyan"));
                    text-decoration: underline;
                }
            }

        }

    }

}
