body#manuals {

	section#page-content > section {
		@include toggleSizes(
			padding-bottom,
			0,
			0,
			($font-size--p--md * 1.5),
			($font-size--p--lg * 1.5),
			($font-size--p--xl * 1.5)
		);
		
		@include clearfix;
	}
	
	article.project {
		@include toggleSizes(
			padding,
			($font-size--p--xs * 0.5) 0,
			($font-size--p--sm * 0.5) 0,
			($font-size--p--md * 0.5) 0,
			($font-size--p--lg * 0.5) 0,
			($font-size--p--xl * 0.5) 0
		);
		
		border-top: 1px solid;
		@include toggleColor(border-color, "border-color");
	}
	
	h2.project-name {
		
		@include font($h3);
		text-align: 		left;
		padding: 			0 !important;
		
	}
	
	a.project-url {
		&:link {
			@include toggleColor(color, "emphasised-link-color");
			text-decoration: none;
		}
		&:visited {
			@include toggleColor(color, "emphasised-link-color");
			text-decoration: none;
		}
		&:hover {
			@include toggleColor(color, "link-color--hover");
			text-decoration: 	underline;	
		}
		&:focus {
			@include toggleColor(color, "link-color--focus");
			@include toggleColor(background, "link-background--focus");
			outline: 2px solid;
			@include toggleColor(outline-color, "outline-color");
		}
		&:active {
			text-decoration: 	underline;
		}
	}
	
	p.project-notes {
		padding: 0;
	}

}