body#four-oh-four {

    .colophon {

        max-width: 750px;

        h1.display {
            margin-left: -3px;
            @include tablet {
                margin-left: -8px;
            }
            @include desktop {
                margin-left: -10px;
            }
        }

    }

}
