// Home page styles

body#podcasts {

	section {
		padding-top: 			75px;
		padding-bottom: 		50px;

		&#podcasts {
			padding: 0;
		}
	}

	img.featured {
		margin: 0;
		padding: 0;
		width: unset;
		max-width: 200px;
		width: 100%;
		margin: 0 0 30px 0;

		@include tablet-up {
			max-width: 300px;
			margin: 100px 0 30px 0;
		}
	}

	section#pride-on {

		color: colour("white");

		padding-top: 0;
		padding-bottom: 100px;

		div.container {
			padding-top: 15px;
			padding-bottom: 15px;

			background:  colour("magenta");
			background-image: url('/assets/images/podcasts/pride-on-arrows.svg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			@include clearfix;
		}

		div.pod-description {
			max-width: 65ch;

			float: left;
			margin-left: 30px;

			p:last-child {
				padding-bottom: 0;
			}
			margin-bottom: 50px;
		}

		img {
			width: 100%;
			max-width: 300px;
			margin: 0 0 30px 0;
			@include tablet {
				margin-top: 100px;
			}
		}

		p.link {
			margin-top: 20px;

			a {

				display: inline-block;

				&:link {
					color: colour("white");
					text-decoration: none;
					border: 2px solid colour("white");
					padding: 10px 25px;
				}
				&:visited {
					color: colour("black");
					text-decoration: none;
				}
				&:hover {
					color: colour("magenta");
					outline: 2px solid colour("white");
					outline-offset: 2px !important;
					background: colour("white");
				}
				&:focus {
					outline: 2px solid colour("white");
					outline-offset: 0px;
					border: 2px solid colour("magenta");
					color: colour("magenta");
					background: colour("white");
				}
				&:active {
					outline-offset: 4px !important;
				}
			}
		}

	}

	footer#site-footer section.container {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

}
