// Home page styles

body#podcasts {

	section {
		padding-top: 			75px;
		padding-bottom: 		50px;
		
		&#podcasts {
			padding: 0;
		}
	}
	
	img.featured {
		margin: 0;
		padding: 0;
		width: unset;
		max-width: unset;
		width: 100%;
	
		@include toggleSizes(
			max-width,
			200px,
			200px,
			300px,
			300px,
			300px
		);
		@include toggleSizes(
			margin-top,
			0,
			0,
			100px,
			100px,
			100px
		);
		@include toggleSizes(
			margin-bottom,
			30px,
			30px,
			30px,
			30px,
			30px
		);
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	section#pride-on { 

		color: map-get($colors, "white");

		padding-top: 0;
		padding-bottom: 100px;

		div.container {
			padding-top: 15px;
			padding-bottom: 15px;
			
			background:  map-get($colors, "magenta");
			background-image: url('/assets/images/podcasts/pride-on-arrows.svg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			
			@include clearfix;
		}

		div.pod-description {
			max-width: 65ch;

			float: left;
			margin-left: 30px;

			p:last-child {
				padding-bottom: 0;
			}
			margin-bottom: 50px;
		}

		img {
			width: 100%;
			max-width: 300px;			
			@include toggleSizes(
				margin-top,
				0,
				0,
				100px,
				100px,
				100px
			);
			@include toggleSizes(
				margin-bottom,
				30px,
				30px,
				30px,
				30px,
				30px
			);
		}

		p.link {
			margin-top: 20px;

			a {
				
				display: inline-block;
				
				&:link {
					color: map-get($colors, "white");
					text-decoration: none;
					border: 2px solid map-get($colors, "white");
					padding: 10px 25px;
				}
				&:visited {
					color: map-get($colors, "black");
					text-decoration: none;					
				}
				&:hover {
					color: map-get($colors, "magenta");
					outline: 2px solid map-get($colors, "white");
					outline-offset: 2px !important;
					background: map-get($colors, "white");
				}
				&:focus {
					outline: 2px solid map-get($colors, "white");
					outline-offset: 0px;
					border: 2px solid map-get($colors, "magenta");
					color: map-get($colors, "magenta");
					background: map-get($colors, "white");
				}
				&:active {
					outline-offset: 4px !important;					
				}
			}
		}
	
	}

	footer#site-footer section.container {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

}