body[id$='post'] {

	figure.featured-image {
		margin-bottom: $container-padding * 3;
	}
	section.post-body > p:first-of-type {
		@include font($body--lead);
	}
	
	header.post-title {
		h1.post-title {
			padding-top: 0;
		}
	}
	
	aside.post-published-date p {
		font-weight: bold;
		@include toggleColor(color, "secondary-text--color");
		@include font($h1-post-date);
	}
	aside.post-published-date p a.post-published-date  {
		font-weight: bold;
		&:link {
			@include toggleColor(color, "secondary-text--color");
			text-decoration: none;
		}
		&:visited {
			@include toggleColor(color, "secondary-text--color");
		}
		&:hover {
			@include toggleColor(color, "secondary-text--color");
			text-decoration: 	underline;
		}
		&:focus {
			@include toggleColor(color, "link-color--focus");
			@include toggleColor(background, "link-background--focus");
			outline: 2px solid;
			@include toggleColor(outline-color, "outline-color");
		}
		&:active {
			text-decoration: 	underline;
		}
	}
	
	section.post-body ul > li::before {
		position: absolute;
		content: "\2014";

		@include toggleSizes(
			left,
			22px,
			-(11px),
			-(11px),
			-(13px),
			-(15px)
		);
	}

	#markdown-toc {

		@include toggleColor(background, "default-element-background");
		padding:	20px;

		> li {
			> a {
				font-weight: bold;
			}

			&::before {
				display: none !important;
			}
		}

		a {
			&:link {
				@include toggleColor(color, "link-color");
				text-decoration: none;
			}
			&:visited {
				@include toggleColor(color, "link-color");
			}
			&:hover {
				@include toggleColor(color, "link-color--hover");
				text-decoration: 	underline;
			}
			&:focus {
				@include toggleColor(color, "link-color--focus");
				@include toggleColor(background, "link-background--focus");
				outline: 2px solid;
				@include toggleColor(outline-color, "outline-color");
			}
			&:active {
				text-decoration: 	underline;
			}
		}

	}

	ul#markdown-toc {

		> li > ul {

			padding-left: 0;
			margin: 0;

			li {
				@include toggleSizes(
					padding-left,
					0,
					0,
					15px,
					15px,
					15px
				);
				margin: 0;

				&::before {

					position: relative;
					@include toggleSizes(
						display,
						none,
						none,
						inline-block,
						inline-block,
						inline-block
					);
					@include toggleSizes(
						left,
						0,
						0,
						-15px,
						-15px,
						-15px
					);

				}
			}

		}

	}

	ol#markdown-toc {

		list-style-type: none;

		> li > ol {
			padding-left: 50px;
			margin: 0;
		}

		li:last-child > ol {
			padding-bottom: 11px;
		}

	}


	details.table-of-contents {
		&[open] {
			border-bottom: 1px solid;
			@include toggleColor(border-color, "border-color");
		}
	}

	details.table-of-contents #markdown-toc {
		background: none;
		padding: $container-padding 0;
	}

	fieldset#toggle-esc-entries {

		@include toggleColor(background, "default-element-background");

		padding: 15px 10px 10px;
		margin-bottom: 20px;

		@include sm-up {
			padding: 20px;
		}

		legend {
			@include sr-only;
		}

		div.radio-input {

			display: inline-block;
			width: 100%;

			margin-bottom: 10px;

			@include sm-up {
				float: left;
				clear: none;
				width: 50%;

				&:nth-of-type(3),
				&:nth-of-type(4) {
					margin-bottom: 0px;
				}
			}


			label {
				font-weight: normal;
				vertical-align: middle;
				line-height: map-get($form-elements, "$input-size");
			}

		}

		@include clearfix;

	}

	div#esc-entries {

		&[data-show="all"] {
			details.esc-entry {
				display: block;
			}
		}
		&[data-show="sf1"] {
			details.esc-entry {
				display: none;
			}
			details.esc-entry[data-semifinal="1"] {
				display: block;
			}
		}
		&[data-show="sf2"] {
			details.esc-entry {
				display: none;
			}
			details.esc-entry[data-semifinal="2"] {
				display: block;
			}
		}
		&[data-show="final"] {
			details.esc-entry[data-final="true"] {
				display: block;
			}
			details.esc-entry[data-final="false"] {
				display: none;
			}
		}

	}

	div.twitter-tweet {

		margin-left: auto;
		margin-right: auto;

		-webkit-font-feature-settings: 	normal !important;
		   -moz-font-feature-settings: 	normal !important;
			   -o-font-feature-settings: 	normal !important;
				font-feature-settings:	normal !important;

		@include toggleSizes(
			padding,
			0 0 $container-padding 0,
			0 0 $container-padding 0,
			0 0 $container-padding 0,
			0 0 $container-padding 0,
			0 0 $container-padding 0
		);
	}

	div.footnotes {

		&:before {
			display: block;

			@include font($h3);

			font-weight: 		bold;
			font-style: 		normal;
			text-align: 		left;
			text-decoration: 	none;
			text-transform: 	none;

			content: "Footnotes";

		}

		@include toggleSizes(
			padding-top,
			45px,
			60px,
			60px,
			90px,
			120px
		);
		@include toggleSizes(
			max-width,
			400px,
			500px,
			450px,
			600px,
			600px
		);

		ul, ol {
			@include toggleSizes(
				padding-left,
				(18px),
				(18px),
				0,
				0,
				0
			);
		}
		li, p {
			@include font($body--small);
			margin-bottom: $container-padding;
		}
		a.reversefootnote {
			text-decoration: none;
			font-family: $font-family !important;
		}

	}

	footer.post-meta {
		display: grid;
		
		@include toggleSizes(
			margin-top,
			$container-padding * 2,
			$container-padding * 2,
			$container-padding * 3,
			$container-padding * 4,
			$container-padding * 5
		);
		
		@include toggleSizes(
			grid-template-columns,
			1fr,
			1fr,
			1fr,
			1fr 1fr,
			1fr 1fr
		);
		
		@include toggleSizes(
			grid-template-rows,
			auto auto auto auto,
			auto auto auto auto,
			auto auto auto auto,
			auto,
			auto
		);
		
		@include toggleSizes(
			grid-template-areas,
			"meta" "likes" "reposts" "author",
			"meta" "likes" "reposts" "author",
			"meta" "likes" "reposts" "author",
			"likes reposts" "meta author",
			"likes reposts" "meta author"
		);
		
		@include toggleSizes(
			grid-gap,
			$container-padding,
			$container-padding,
			$container-padding,
			$container-padding,
			$container-padding
		);
		
		div.post-author-card {
			display: grid;
			grid-area: author;
			
			align-content: center;
			
			@include toggleSizes(
				padding,
				$container-padding,
				$container-padding,
				$container-padding,
				$container-padding,
				$container-padding
			);
			
			@include toggleSizes(
				grid-template-columns,
				1fr 2fr,
				57px auto auto,
				57px auto auto,
				114px 1fr,
				140px 1fr
			);
			
			@include toggleSizes(
				grid-template-rows,
				auto auto,
				auto,
				auto,
				auto auto,
				auto auto
			);
			
			@include toggleSizes(
				grid-template-areas,
				"memoji author" "icons icons",
				"memoji author icons",
				"memoji author icons",
				"memoji author" "memoji icons",
				"memoji author" "memoji icons"
			)
			
			// border-top: 3px solid; 
			@include toggleColor(background, "default-element-background");
			@include toggleSizes(
				border-radius,
				15px,
				15px,
				20px,
				20px,
				20px
			);
			
			@include toggleSizes(
				grid-gap,
				$container-padding * 2,
				$container-padding * 2,
				$container-padding * 2,
				$container-padding * 2,
				$container-padding * 2
			);
		}

		p, dl, dt, dd {
			@include font($body--small);
		}
		
		div.author-details {
			grid-area: author;
			display: grid;
			@include toggleSizes(
				justify-items,
				flex-start,
				flex-start,
				flex-start,
				flex-start,
				flex-start
			);
		}
		
		p.author--wordmark {
			position: relative;
			display: block;
			@include toggleColor(color, "color");
			@include font($body);
			font-weight: 	bold !important;
			padding-bottom: 0 !important;
		}
		
		a.p-author {			
			&:link, 
			&:visited {
				text-decoration: none;
			}
		}
		
		a.memoji {
			grid-area: memoji;
			display: grid;
			position: relative;
			justify-self: center;
		}
		
		img.footer--memoji {
			display: block;
			position: relative;
			
			box-sizing: border-box;
			
			margin: 0;
			padding: 0;
			
			
			@include toggleSizes(
				width,
				57px,
				57px,
				57px,
				114px,
				140px
			);
			@include toggleSizes(
				height,
				57px,
				57px,
				57px,
				114px,
				140px
			);

			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: grayscale(100%);
			
			@include toggleSizes(
				border-radius,
				5px,
				5px,
				13px,
				13px,
				13px
			);
		}
		
		.author--icons {
			grid-area: icons;
			
			display: grid;
			position: relative;
			
			grid-template-columns: auto auto auto auto auto;
			align-items: center;
			
			@include toggleSizes(
				justify-items,
				center,
				flex-end,
				flex-end,
				flex-start,
				flex-start
			);
			
			padding: 0;
			margin: 0;
						
			* {
				line-height: 30px !important;
				text-decoration: none;
			}
			
			span.footer--icons--separator {
				display: inline-block;
				height: 30px;
				width: 2px;
				margin: 0 10px 0 5px;
				border-right: 2px solid;
				@include toggleColor(border-color, "border-color");
				content: "";
			}
			
			a {
				
				display: inline-block;
				position: relative;
				
				margin: 0;
				margin-right: 10px;
				padding: 0;
				
				svg.footer--icons--social {
					display: block;
					position: relative;
					
					height: 30px;
					width: 30px;
					margin: 0;
					padding: 0;
								
					path {
						@include toggleColor(fill, "color");
					}
				}
				
				
				&:link svg path {
					fill: map-get($colors, "gray-600");
					@include darkMode() {
						fill: map-get($colors, "gray-400");	
					} 
				}
				&:visited svg path {
					fill: map-get($colors, "gray-600");
					@include darkMode() {
						fill: map-get($colors, "gray-400");	
					} 
				}
				&:hover svg path {
					@include toggleColor(fill, "link-color--hover");
					text-decoration: none;
				}
				&:focus svg {
					background: transparent;
					border: none;
					outline: none;
				}
				&:focus svg path {
					fill: white;
					outline: none;
				}
				&:active svg path {
					text-decoration: 	none;
				}
				
			}
		}
		
		dl.meta-data {
			grid-area: meta;
			display: grid;
			grid-gap: $container-padding;
		}
		div.meta-data-details {
			@include toggleColor(background, "default-element-background");
			@include toggleSizes(
				border-radius,
				15px,
				15px,
				20px,
				20px,
				20px
			);
			@include toggleSizes(
				padding,
				$container-padding,
				$container-padding,
				$container-padding,
				$container-padding,
				$container-padding
			);
		}
		dt, dd {
			
		}
		dt {
			font-weight: 	bold;
		}
		dd {
			text-transform: capitalize;
		}
		
	}

	iframe {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
}