body[id$='post'] {

	time.published-datetime {
		@include typography($post-date);
		display: block;
		line-height: 1;
		color: var(--secondary-color, colour("gray-600"));
		font-weight: bold;
	}

	section.post-body ul > li::before {
		position: absolute;
		content: "\2014";

		left: 15px;
		@include tablet {
			left: -11px;
		}
		@include desktop {
			left: -15px;
		}
	}

	#markdown-toc {

		@include glass(20px, 2);
		padding: $container-padding;

		> li {
			> a {
				font-weight: bold;
			}

			&::before {
				display: none !important;
			}
		}

	}

	ul#markdown-toc {

		> li > ul {

			padding-left: 0;
			margin: 0;

			li {
				padding-left: 0;
				@include tablet-up {
					padding-left: 15px;
				}
				margin: 0;

				&::before {

					display: none;
					@include tablet-up {
						display: inline-block;
						position: relative;
						left: -15px;
					}

				}
			}

		}

	}

	ol#markdown-toc {

		list-style-type: none;

		> li > ol {
			padding-left: 50px;
			margin: 0;
		}

		li:last-child > ol {
			padding-bottom: 11px;
		}

	}


	details.table-of-contents {
		&[open] {
			border-bottom: 1px solid;
			border-color: var(--secondary-borderColor, colour("gray-400"));
		}
	}

	details.table-of-contents #markdown-toc {
		background: none;
		padding: $container-padding 0;
	}

	div#esc-entries {

		&[data-show="all"] {
			details {
				display: block;
			}
		}
		&[data-show="sf1"] {
			details {
				display: none;
			}
			details[data-semifinal="1"] {
				display: block;
			}
		}
		&[data-show="sf2"] {
			details {
				display: none;
			}
			details[data-semifinal="2"] {
				display: block;
			}
		}
		&[data-show="final"] {
			details[data-final="true"] {
				display: block;
			}
			details[data-final="false"] {
				display: none;
			}
		}

	}

	div.twitter-tweet {

		margin-left: auto;
		margin-right: auto;

		-webkit-font-feature-settings: 	normal !important;
		   -moz-font-feature-settings: 	normal !important;
			   -o-font-feature-settings: 	normal !important;
				font-feature-settings:	normal !important;
		padding:0 0 $container-padding 0;
	}

	div.footnotes {

		&:before {
			display: block;

			@include typography($h3);

			font-weight: 		bold;
			font-style: 		normal;
			text-align: 		left;
			text-decoration: 	none;
			text-transform: 	none;

			content: "Footnotes";

		}

		padding-top: 45px;
		max-width: 400px;
		@include tablet {
			padding-top: 60px;
			max-width: 450px;
		}
		@include desktop {
			padding-top: 120px;
			max-width: 600px;
		}

		ul, ol {
			padding-left: 18px;
			@include tablet-up {
				padding-left: 0;
			}
		}
		li, p {
			@include typography($small);
			line-height: 1.2;
			margin-bottom: $container-padding;
		}
		a.reversefootnote {
			text-decoration: none;
			font-family: $font-family !important;
		}

	}

	iframe {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

}
