body#projects {
	
	section#page-content > section {
		@include toggleSizes(
			padding-bottom,
			0,
			0,
			($font-size--p--md * 1.5),
			($font-size--p--lg * 1.5),
			($font-size--p--xl * 1.5)
		);
		
		@include clearfix;
	}
				
	h2.projects-header {
		text-align: 		left;
		
		@include toggleSizes(
			font-size,
			($font-size--h2--xs * 1.25),
			($font-size--h2--sm *1.25),
			($font-size--h2--md * 1.5),
			($font-size--h2--lg * 1.5),
			($font-size--h2--xl * 1.5)
		);
		
		&.projects-blogs {
			padding-top: 0;
		}
	}
	
	article.project-entry {
		@include toggleSizes(
			padding,
			($font-size--p--xs * 0.5) 0,
			($font-size--p--sm * 0.5) 0,
			($font-size--p--md * 0.5) 0,
			($font-size--p--lg * 0.5) 0,
			($font-size--p--xl * 0.5) 0
		);
		border-top: 1px solid;
		@include toggleColor(border-color, "border-color");
	}
				
	h3.project-name {
		
		font-weight: 		$font-weight--h3;
		font-style: 		normal;
		text-align: 		left;
		text-decoration: 	$text-decoration--h3;
		text-transform: 	$text-transform--h3;
		padding: 			0;
		
		@include toggleSizes(
			font-size,
			$font-size--h3--xs,
			$font-size--h3--sm,
			$font-size--h3--md,
			$font-size--h3--lg,
			$font-size--h3--xl
		);
		@include toggleSizes(
			line-height,
			$line-height--h3--xs,
			$line-height--h3--sm,
			$line-height--h3--md,
			$line-height--h3--lg,
			$line-height--h3--xl
		);
		
	}
	
	a.project-url {
		&:link {
			@include toggleColor(color, "emphasised-link-color");
			text-decoration: none;
		}
		&:visited {
			@include toggleColor(color, "emphasised-link-color");
			text-decoration: none;
		}
		&:hover {
			@include toggleColor(color, "link-color--hover");
			text-decoration: 	underline;	
		}
		&:focus {
			@include toggleColor(color, "link-color--focus");
			@include toggleColor(background, "link-background--focus");
			outline: 2px solid;
			@include toggleColor(outline-color, "outline-color");
		}
		&:active {
			text-decoration: 	underline;
		}
	}
	
	p.project-notes {
		padding: 0;
	}
	
	
}