body[id^='stream'] {

	article.social {
		display: grid;
		position: relative;

		padding: $container-padding * 2 0 0;
		margin-bottom: $container-padding;
	}

	.stream-footer {

		display: grid;
		position: relative;

		grid-template-columns: auto auto 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "likes boosts date" "likes boosts name";
		grid-column-gap: $container-padding;
		align-items: center;
		margin-bottom: $container-padding * 2;

		p {
			padding: 0;
		}

		aside#webmentions--likes {
			grid-area: likes;
		}
		aside#webmentions--reposts {
			grid-area: boosts;
		}
		p.name {
			grid-area: name;
			justify-self: flex-end;
		}
		p.date {
			grid-area: date;
			justify-self: flex-end;
		}

		.post-activity {
			@include plastic(inset, 4px);
			padding: $container-padding;
		}

		span.icon {
			display: inline-block;
			position: relative;
			content: "";
			height: 13px;
			width: 13px;
			@include tablet {
				height: 15px;
				width: 15px;
			}
			@include desktop {
				height: 18px;
				width: 18px;
			}
			margin-right: 10px;
		}
		aside#webmentions--likes span.icon {
			background-image: var(--heart-icon);
		}
		aside#webmentions--reposts span.icon {
			background-image: var(--share-icon);
		}
	}
}
