body[id^='stream'] {
	
	article.social {
		display: grid;
		position: relative;
		
		padding: $container-padding * 2 0;
		margin-bottom: $container-padding;
		
		border-bottom: 1px solid;
		@include toggleColor(border-color, "border-color");
		
		&:last-child {
			border: none;
		}
	}
	
	.stream-footer {
		
		display: grid;
		position: relative;
		
		@include toggleSizes(
			grid-template-columns,
			1fr 1fr,
			auto auto 1fr,
			auto auto 1fr,
			auto auto 1fr,
			auto auto 1fr
		);
		grid-gap: $container-padding;
		
		@include toggleSizes(
			grid-template-areas,
			"likes boosts" "meta meta",
			"likes boosts meta",
			"likes boosts meta",
			"likes boosts meta",
			"likes boosts meta"
		);
		
		@include toggleSizes(
			justify-items,
			center,
			flex-start,
			flex-start,
			flex-start,
			flex-start	
		);
		
		align-items: center;
		
		margin-top: $container-padding * 2;
		
		aside.post-activity {
			grid-gap: 0;
			
			&.post-activity-likes {
				@include sm-down() {
					justify-self: flex-end;
				}
			}
			
			&.post-activity-reposts {
				@include sm-down() {
					justify-self: flex-start;
				}
			}
		}
		
		div.meta {
			grid-area: meta;
			width: 100%;
			@include toggleSizes(
				text-align,
				center,
				right,
				right,
				right,
				right
			);
			padding: 0;
			@include sm-down() {
				padding-top: $container-padding;
			}
			
			p {
				padding: 0;
			}
		}
	}
}