// Wishlist styles

body#wishlist {

	aside.intro-text {

		span.item-giftidea {
			position: relative;

			color: map-get($colors, "white");
			background: map-get($colors, "cyan");

			border: 1px solid;
			@include toggleColor(border-color, "chiplet-background--default");
			border-radius: 6px;

			padding: 0px 7px;
			text-transform: uppercase;
			font-variant: small-caps !important;
			font-size: 70%;
			top: -5px;
			vertical-align: middle;
		}

	}

	h2.wishlist-header {
		text-align: left;
		@include font($h2);
	}

	ul {
		padding: 			0;
		margin: 			0;

		list-style: 		none !important;

		li.wishlist-item {

			display: block;
			&.hidden {
				display: none;
			}

			list-style: 	none;
			padding: 		20px 0;

			box-sizing: 	border-box;

			border-top: 1px solid;
			@include toggleColor(border-color, "border-color");

			div.item-info {

				display: block;
				@include toggleSizes(
					float,
					none,
					left,
					left,
					left,
					left
				);
				@include toggleSizes(
					clear,
					both,
					none,
					none,
					none,
					none
				);
				@include toggleSizes(
					width,
					100%,
					70%,
					70%,
					70%,
					70%
				);

			}
			aside.item-metadata {

				display: block;
				@include toggleSizes(
					float,
					none,
					right,
					right,
					right,
					right
				);
				@include toggleSizes(
					clear,
					both,
					none,
					none,
					none,
					none
				);
				@include toggleSizes(
					width,
					100%,
					30%,
					30%,
					30%,
					30%
				);
				@include toggleSizes(
					padding,
					10px 0 0 0,
					0,
					0,
					0,
					0
				);

			}

			p.item-name,
			p.item-extradetails {
				display: block;
				width: 100%;
				padding-bottom: 0;
			}
			a.item-link {
				&:link {
					@include toggleColor(color, "emphasised-link-color");
					text-decoration: none;
				}
				&:visited {
					@include toggleColor(color, "emphasised-link-color");
					text-decoration: none;
				}
				&:hover {
					@include toggleColor(color, "link-color--hover");
					text-decoration: 	underline;
				}
				&:focus {
					@include toggleColor(color, "link-color--focus");
					@include toggleColor(background, "link-background--focus");
					outline: 2px solid;
					@include toggleColor(outline-color, "outline-color");
				}
				&:active {
					text-decoration: 	underline;
				}
			}
			p.item-name,
			a.item-link {
				font-weight: bold;
			}
			span.item-price {
				margin-left: 20px;
				float: right;
			}
			span.item-giftidea {
				@include toggleColor(background, "chiplet-background--default");
				border: 1px solid;
				@include toggleColor(border-color, "chiplet-background--default");
			}
			span.item-purchased {
				@include toggleColor(background, "chiplet-background--green");
				border: 1px solid;
				@include toggleColor(border-color, "chiplet-background--green");
			}
			span.item-giftidea,
			span.item-purchased {
				position: relative;
				float: left;
				@include font($body--chiplet);
				@include toggleColor(color, "chiplet-color");
			}

			@include clearfix;
		}
	}

	fieldset#toggle-purchased {
		
		display: block;
		position: relative;
		width: 100%;

		@include toggleColor(background, "default-element-background");

		padding: 15px 10px 10px;

		@include sm-up {
			text-align: right;
			padding: 20px;
		}

		legend {
			
			display: inline;
			position: relative;
			
			@include font($body);
			font-weight: bold !important;
			
			max-height: map-get($form-elements, "radios-size");
			vertical-align: middle;
			text-align: left;
			float: left;
			font-weight: bold;
			@include sm-up {
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}

		div.radio-input {

			margin-bottom: 10px;

			@include sm-up {
				display: inline-block;
				margin-bottom: 0;
			}

			label {
				font-weight: normal;
				vertical-align: middle;
				line-height: map-get($form-elements, "$input-size");
			}
		}

		@include clearfix;

	}

}