// Wishlist styles

body#wishlist {

	aside.intro-text {

		span.item-giftidea {
			position: relative;

			color: colour("white");
			background: colour("cyan");

			border: 1px solid;
			border-color: colour("cyan");
			border-radius: 6px;

			padding: 0px 7px;
			text-transform: uppercase;
			font-variant: small-caps !important;
			font-size: 70%;
			top: -5px;
			vertical-align: middle;
		}

	}

	h2.wishlist-header {
		text-align: left;
		@include typography($h2);
	}

	ul {
		padding: 			0;
		margin: 			0;

		list-style: 		none !important;

		li.wishlist-item {

			display: block;
			&.hidden {
				display: none;
			}

			list-style: 	none;
			padding: 		20px 0 20px 0;

			box-sizing: 	border-box;

			border-top: 1px solid;
			border-color: colour("gray-600");

			div.item-info {

				display: block;
				float: none;
				clear: both;
				width: 100%;

				@include tablet-up {
					float: left;
					clear: none;
					width: 70%;
				}

			}
			aside.item-metadata {

				display: block;
				float: none;
				clear: both;
				width: 100%;
				padding: 10px 0 0 0;

				@include tablet-up {
					padding: 0;
					float: right;
					clear: none;
					width: 30%;
				}

			}

			p.item-name,
			p.item-extradetails {
				display: block;
				width: 100%;
				padding-bottom: 0;
			}
			a.item-link {
				&:link {
					color: colour("cyan");
					text-decoration: none;
				}
				&:visited {
					color: colour("cyan");
					text-decoration: none;
				}
				&:hover {
					color: colour("cyan");
					text-decoration: 	underline;
				}
				&:focus {
					color: colour("white");
					background: colour("cyan");
					outline: 2px solid;
					outline-color: colour("cyan");
				}
				&:active {
					text-decoration: 	underline;
				}
			}
			p.item-name,
			a.item-link {
				font-weight: bold;
			}
			span.item-price {
				margin-left: 20px;
				float: right;
			}
			span.item-giftidea,
			span.item-purchased {
				position: relative;
				float: left;
			}

			@include clearfix;
		}
	}

	fieldset#toggle-purchased {

		display: block;
		position: relative;
		width: 100%;

		background: colour("gray-200");

		padding: 15px 10px 10px;

		@include tablet-up {
			text-align: right;
			padding: 20px;
		}

		legend {

			display: inline;
			position: relative;

			@include typography($p);
			font-weight: bold !important;

			max-height: form("radios-size");
			vertical-align: middle;
			text-align: left;
			float: left;
			font-weight: bold;
			@include tablet-up {
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}

		div.radio-input {

			margin-bottom: 10px;

			@include tablet-up {
				display: inline-block;
				margin-bottom: 0;
			}

			label {
				font-weight: normal;
				vertical-align: middle;
				line-height: form("input-size");
			}
		}

		@include clearfix;

	}

}
