---
layout: blog/page
---

{% for entry in site.data.projects %}
{% if entry.hidden != true %}
<section>
	
	<header>	
		<h2 class="projects-header projects-{{ entry.section | slugify }}">{{ entry.section | smartify }}</h2>
	</header>

	{% for project in entry.projects %}
	{% if project.hidden != true %}
	<article class="project-entry">
		<h3 class="project-name"><a href="{{ project.url }}" class="project-url">{{ project.name | smartify }}</a></h3>
		<p class="project-notes">{{ project.notes }}</p>
	</article>
	{% endif %}
	{% endfor %}
	
</section>
{% endif %}
{% endfor %}