---
layout: blog/page
---

{% for entry in site.data.projects %}
{% if entry.hidden != true %}
<section>
	
	<header>	
		<h2 class="projects-header projects-{{ entry.section | slugify }}">{{ entry.section | smartify }}</h2>
	</header>

	{% for project in entry.projects %}
	{% if project.hidden != true %}
	<article>
		<p class="projects-title"><a href="{{ project.url }}" title="Visit {{ project.name }}">{{ project.name | smartify }}</a></p>
		<p class="projects-notes">{{ project.notes | smartify }}</p>
	</article>
	{% endif %}
	{% endfor %}
	
</section>
{% endif %}
{% endfor %}