---
layout: blog/page
---

{{ content }}


{% assign organisations = site.about | sort: "date" | where: "type", "career" | group_by: "organisation" | reverse %}
{% if organisations != empty %}
<section>
	
	<header>	
		<h2 class="about-header about-career">Career</h2>
	</header>


	{% include blog/about.html %}
	
</section>
{% endif %}

{% assign organisations = site.about | sort: "date" | where: "type", "volunteering" | group_by: "organisation" | reverse %}
{% if organisations != empty %}
<section>
	
	<header>	
		<h2 class="about-header about-education">Volunteering</h2>
	</header>


	{% include blog/about.html %}
	
</section>
{% endif %}

{% assign organisations = site.about | sort: "date" | where: "type", "education" | group_by: "organisation" | reverse %}
{% if organisations != empty %}
<section>
	
	<header>	
		<h2 class="about-header about-education">Education</h2>
	</header>


	{% include blog/about.html %}
	
</section>
{% endif %}