

figure.app-sheet {
	
	display: block;
	box-sizing: border-box;
	
	@include toggleColor(background, "default-element-background");
	@include toggleColor(color, "color");
	
	@include toggleSizes(
		border-radius,
		20px,
		20px,
		30px,
		30px,
		30px
	);
	
	@include toggleSizes(
		padding,
		15px,
		15px,
		20px,
		20px,
		20px
	);
	margin-left: auto;
	margin-right: auto;
	@include toggleSizes(
		margin-bottom, 
		22px,
		22px,
		22px,
		26px,
		30px
	);	
	
	max-width: 600px;
	
	header.app-sheet--app--header {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto;
		grid-template-areas: 'icon text';
		
		grid-area: header;
	}
	
	div.app-sheet--app--developer,
	div.app-sheet--app--price {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto;
		grid-template-areas: 'dd dt';
					
		border-top: 2px solid;
		@include toggleColor(border-color, "border-color");
	}
	
	img.app-sheet--app--icon {
		@include toggleSizes(
			max-width,
			57px,
			57px,
			104px,
			104px,
			104px
		);
		@include toggleSizes(
			border-radius,
			10px,
			10px,
			20px,
			20px,
			20px
		);
		margin-right: 20px;
		margin-bottom: 20px;
		
		grid-area: icon;
		
		-webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
		box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
		
		@include md-up {
			-webkit-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.1);
			box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.1);
		}
	}
	
	dt.app-sheet--app--name,
	dt.app-sheet--app--description {
		@include sr-only();
	}
	
	
	span.app-sheet--app--iap-label {
		@include font($body--small);
		@include toggleColor(color, "secondary-text--color");
	}
	
	dd.app-sheet--app--name {
		font-weight: 		bold;
		font-style: 		normal;
		text-align: 		center;
		text-decoration: 	none;
		text-transform: 	none;
		
		@include font($h2);
		line-height: 1;
		padding: 0 0 5px 0;
	}
	
	dd.app-sheet--app--description {
		@include font($body--small);
		@include toggleColor(color, "secondary-text--color");
	}
	
	dt.app-sheet--app--developer, 
	dt.app-sheet--app--price {
		line-height: 1;
		padding: 10px 0 15px 0;
	}
	dd.app-sheet--app--developer,
	dd.app-sheet--app--price {
		line-height: 1;
		padding: 10px 0 15px 0;
		text-align: right;
	}
	
	div.app-sheet--block:last-child {
		dd, dt {
			padding-bottom: 5px;
		}
	}
	
	@include clearfix();
}

figure.apps-list {
	
	display: block;
	box-sizing: border-box;
	
	@include toggleColor(background, "default-element-background");
	@include toggleColor(color, "color");

	padding: 15px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	
	&:hover {
		@include toggleColor(background, "default-element-background--hover");
	}
	
	dl.apps-list--app--info {
		display: grid;
		
		grid-template-rows: auto auto;
		grid-template-columns: auto 1fr;
		grid-template-areas: 'icon name' 'icon price';
		align-items: center;
		
		@include md-up() {
			grid-template-rows: 1fr;
			grid-template-columns: auto 1fr auto;
			grid-template-areas: 'icon name price';
		}
		column-gap: 20px;
	}
	
	dt.apps-list--app--name, 
	dt.apps-list--app--price {
		@include sr-only();
	}
	
	dd, dt {
		padding: 0;
		
		&.small-caps {
			@include font($body--small);
			@include toggleColor(color, "secondary-text--color");
		}
	}
	
	img.apps-list--app--icon {
		grid-area: icon;
		max-height: 57px;
		max-width: 57px;
		border-radius: 10px;
		margin: 0;
		
		-webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
		box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
	}
	
}

figure.app-totals {
	
	display: block;
	box-sizing: border-box;
	
	@include toggleColor(background, "default-element-background");
	@include toggleColor(color, "color");
	
	padding: 15px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	
	border-top: 2px solid;
	@include toggleColor(border-color, "border-color");
	
	&.app-totals--total {
		@include toggleSizes(
			margin-bottom, 
			22px,
			22px,
			22px,
			26px,
			30px
		);
	}
	
	&.app-totals--sub-total {			
		&:hover {
			@include toggleColor(background, "default-element-background--hover");
		}
	}
	
	dl.app-totals {
		display: grid;
		
		grid-template-rows: auto auto;
		grid-template-columns: 1fr;
		grid-template-areas: 'label' 'price';
		align-items: center;
		
		@include md-up() {
			grid-template-rows: 1fr;
			grid-template-columns: 1fr auto;
			grid-template-areas: 'label price';
		}
		column-gap: 20px;
	}
	
	dd, dt {
		padding: 0;
	}
	
}