.from-me aside.author {
    text-align: right;
}

aside.author .hidden {
    display: none;
}

aside.author {
	@include typography($small, "default");
	color: var(--secondary-color);
	line-height: 1.2;
	text-align: left;
	padding: 0 $container-padding $container-padding * 0.5 $container-padding;
}

#author-card {
    grid-area: author;

    display: grid;
    position: relative;
    height: 100%;

	border-radius: $border-radius;
    text-align: center;

    grid-gap: $container-padding;

	* {
		align-content: center;
		justify-content: center;
	}
	p {
		height: 100%;
		padding: $container-padding;
	}

	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"photo photo name name name"
		"photo photo url url url"
		"mastodon bluesky linkedin github bmac";

}
footer #author-card {
	@include tablet() {
		grid-template-columns: auto repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"photo name name name mastodon bluesky linkedin"
			"photo github bmac url url url url";
	}
	@include desktop() {
		grid-template-columns: auto repeat(8, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"photo name name name name name mastodon bluesky linkedin"
			"photo github bmac url url url url url url";
	}
}

.author--photo {
	grid-area: photo;
}

.author--name {
	grid-area: name;
}
.author--url {
	grid-area: url;
}

.mastodon {
	grid-area: mastodon;
}
.bluesky {
	grid-area: bluesky;
}
.linkedin {
	grid-area: linkedin;
}
.github {
	grid-area: github;
}
.bmac {
	grid-area: bmac;
}

img.memoji {
    display: block;
    position: relative;

    box-sizing: border-box;

    margin: 0 auto;
    padding: $container-padding;

	width: 130px;
	height: 130px;
	aspect-ratio: 1;
	@include tablet-up {
		width: 160px;
		height: 160px;
	}
}

.author-icon.card {
	padding: $container-padding * 0.5;
}

a.author--photo--link {
	display: block;
}

a.footer--site-link {

	display: grid;
	position: relative;
	margin: 0;

	svg.footer--icons--social {
		display: block;
		position: relative;

		max-height: 50px;
		max-width: 50px;
		height: 100%;
		width: 100%;

		margin: 0;
		padding: 5px;

		path {
			fill: var(--color);
		}
	}


	&:link svg path,
	&:visited svg path {
		fill: var(--icon-background);
	}
	&:hover svg path {
		background: var(--background);
		fill: var(--icon-hoverBackground);
		text-decoration: none;
	}
	&:focus {
		outline-offset: 0;
		outline: 5px solid var(--link-outlineColor);
	}
	&:focus svg path {
		background: var(--link-outlineColor);
		fill: var(--white);
		outline: none;
	}
	&:active svg path {
		text-decoration: none;
	}

}
