blockquote {
	@include toggleColor(background, "default-element-background");
	padding: 20px;
	@include toggleSizes(
		margin,
		0 0 22px 0,
		0 0 22px 0,
		0 0 22px 0,
		0 0 26px 0,
		0 0 30px 0
	);

	p {
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}

	code, kbd {
		font-family: $font-family;
		@include toggleColor(color, "code-color--blockquote");
	}

	ul {
		padding-left: 33px;
	}
	ol {

		padding-left: 55px;
		&:last-child {
			padding-bottom: 0;
		}
	}

	p ~ ol,
	p ~ ul {
		margin-top: -22px;
		padding-bottom: 6px;
	}

}