button,
.button {
	all: unset;
	
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	
	cursor: pointer;
	
	padding: $container-padding * 0.5 $container-padding;
    margin: 0;
	
    @include typography($p, "default");
	color: var(--button-color);
    line-height: 1 !important;
	text-align: center;
	
	height: auto;
    width: 100%;
	&.width-auto {
		width: auto;	
	}
	
	border: 3px solid transparent;
	background: var(--button-background);
	border-radius: $border-radius * 0.7;
	
	&:link,
	&:visited {
		text-decoration: none;
		color: var(--button-color);
		background: var(--button-background);
	}
    &:hover {
		border: 3px solid var(--button-border);
		color: 		var(--button-hoverColor);
		background: var(--button-hoverBackground);
    }
	&:focus,
    &:focus-visible {
		outline: 3px solid var(--link-outlineColor);
	    outline-offset: form("outline-active-offset");
    }
    &:hover:focus {
	    outline-offset: form("outline-active-offset");
    }
    &:active {
		color: var(--button-color);
		background: var(--button-background);
		box-shadow: none;
		text-decoration: none !important;
		outline: 3px solid var(--button-border);
	    outline-offset: form("outline-active-offset");
    }

    &:disabled,
    &:disabled:focus, &:disabled:hover, &:disabled:active {
		box-shadow: none;
		text-decoration: none !important;
        background: var(--secondary-background);
        color: var(--secondary-color);
        text-align: center;
        cursor: unset;
        outline: none;
    }
}
