button {
    cursor: pointer;
    @include typography($p, "default");

    width: 100%;
    border: 1px solid;
    padding: $container-padding;
    margin: 0 0 $container-padding 0;
    outline-offset: form("outline-focus-offset");
    line-height: 1 !important;

    @include tablet-up {
        width: auto;
    }

    &:hover {
        background: var(--button-hoverBackground);
        color: var(--button-color);
    }

    &:focus {
        outline: form("border-width") solid var(--button-outlineColor);
    }


    &:hover:focus {
        background: var(--button-hoverFocusBackground);
    }

    &:active {
        outline: form("border-width") solid var(--button-outlineColor);
        outline-offset: form("outline-active-offset");
    }
}

.button {
    color: var(--button-color);
    background: var(--button-background);

    @include plastic(raised, 6px);
    transition: background 0.25s;
    transition: box-shadow 0.25s;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: var(--button-hoverColor);
        background: var(--button-hoverBackground);
        @include plastic(raised, 2px);
        transition: background 0.25s;
        transition: box-shadow 0.25s;
    }

    &:focus {
        background: var(--button-focusBackground);
        @include plastic(raised, 2px);
        transition: background 0.25s;
        transition: box-shadow 0.25s;
    }

    &:hover:focus {
        background: var(--button-hoverFocusBackground);
        @include plastic(raised, 2px);
        transition: background 0.25s;
        transition: box-shadow 0.25s;
    }

    &:active {
        background: var(--button-activeBackground);
        @include plastic(inset, 4px);
        transition: background 0.25s;
        transition: box-shadow 0.25s;
        outline: none;
    }
}

.button--dropdown-menu-item {
    text-align: left;
    border: none;
    padding: $container-padding !important;
    outline-offset: form("outline-offset");
    margin: 0 !important;

    display: block;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;

    &:hover {
        background: var(--dropdownButton-hoverBackground);
        color: var(--dropdownButton-hoverColor);
    }

    &:focus {
        color: var(--dropdownButton-focusColor);
    }

    &:hover:focus {
        background: var(--dropdownButton-hoverBackground);
        color: var(--dropdownButton-hoverColor);
    }

    &:active {
        background: var(--dropdownButton-hoverBackground);
        color: var(--dropdownButton-hoverColor);
    }

    &:disabled,
    &:disabled:focus, &:disabled:hover, &:disabled:active {
        background: var(--dropdownButton-disabledBackground);
        color: var(--dropdownButton-disabledColor);
        text-align: center;
        cursor: unset;
        outline: none;
    }

}

// The .button--dropdown-menu-item button sits inside a list element.
// This sets the padding around the button.
li.dropdown-item {
    padding: $container-padding $container-padding 0;
    &:last-child {
        padding: $container-padding;
    }
}
