.weeknotes .content,
.weeknotes .weeknotes {
    display: block;
    position: relative;

	@include clearfix();
}

.weeknotes .content {
	text-align: right;
}

.weeknotes .weeknotes {
	text-align: center;
}

.weeknotes h1 {
	padding: 0;
}

.calendar-sheet {

	display: grid;
	position: relative;

	align-self: center;
	aspect-ratio: 1;

	width: 250px;
	@include tablet {
		width: 300px;
	}
	@include desktop {
		width: 350px;
	}
	padding: 0;
	margin: 0 0 $container-padding 0;

	text-align: center;
	line-height: 1;

	background: var(--gray-300);
	border-radius: $border-radius * 4;
	box-shadow:
		0 0 var(--white),
		0 0 var(--gray-300),
		0 2px var(--gray-200),
		0 4px var(--gray-400),
		0 6px var(--gray-300),
		0 8px var(--gray-400),
		0 10px 3px rgba(0,0,0,0.12), 0 10px 2px rgba(0,0,0,0.24);
	border: 2px solid var(--gray-300);

	.calendar-month {
		@include typography($h1);
		align-self: flex-start;
		border-radius: $border-radius * 4 - 2px $border-radius * 4 - 2px 0 0;
		font-weight: bold;
		padding: $container-padding !important;
		text-transform: uppercase;
		background: var(--red);
		color: var(--white);
	}
	.calendar-date {
		@include typography($calendar);
		background: var(--white);
		color: var(--black);
		font-weight: bold;
		align-self: center;
		padding: 0 !important;
		line-height: 1 !important;
	}
	.calendar-collection {
    	@include typography($marker, "marker");
		background: var(--white);
		align-self: flex-end;
		color: var(--red);
		border-radius: 0 0 $border-radius * 4 $border-radius * 4;
		padding: $container-padding !important;
		text-transform: uppercase;
	}

}

.calendar-title {
	display: block;
	margin-top: $container-padding * 4;
}

a.calendar-link {
	display: inline-block;
	position: relative;

	&:link,
	&:visited {
		text-decoration: none;
	}
	&:hover {
		color: var(--white);
		text-decoration: underline;
		.calendar-month {
			background: var(--cyan);
		}
		.calendar-date,
		.calendar-collection {
			text-decoration: none;
		}
	}

	&:focus {
		.calendar-sheet {
			outline: 3px solid var(--cyan);
			outline-offset: 3px;
		}
	}

	&:active {

	}
}
