dd {

	@include font($body);
	font-weight:		normal;

	&.lead {
		padding-bottom: 	0;
		font-weight:		bold;
	}

	span.small-caps {
		font-variant: 	small-caps !important;
		font-size: 		120%;
	}

}

dt {
	@include font($body);
	padding-bottom: 0 !important;
	
	font-weight:		normal;
	
	&.lead {
		padding-bottom: 	0;
		font-weight:		bold;
	}
	
	span.small-caps {
		font-variant: 	small-caps !important;
		font-size: 		120%;
	}
}
