details {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;

	&[open] > summary::-webkit-details-marker,
	&[open] > summary::marker {
		display: none;
		list-style-image: none;
		content: '';
	}

	&[open] > summary:before {
		content: '–';
	}

	&[open] {
		@include toggleSizes(
			padding-bottom,
			22px,
			22px,
			22px,
			26px,
			30px
		);
	}

	p {
		@include toggleSizes(
			padding,
			0 0 11px 0,
			0 0 11px 0,
			0 0 11px 0,
			0 0 13px 0,
			0 0 15px 0
		);
	}

	*:last-child {
		padding-bottom: 0;
	}

	> div.container {
		width: calc(100% - (#{$container-padding} * 2));
		margin: 0 0 0 ($container-padding * 2);
		padding: 0;
	}
}

summary {

	/* Hide the marker completely. */
	list-style-image: none;
	&::marker,
	&::-webkit-details-marker {
	  display: none;
	  list-style-image: none;
	  content: '';
	  width: 0;
	  height: 0;
	}

	&:before {
		display: block;
		position: relative;
		top: 0;
		right: 0;
		left: auto;
		content: '+';
		width: $container-padding * 2;
		float: right;

		text-align: left;
		font-weight: bold;
		line-height: 1;
		@include toggleSizes(
			font-size,
			22px,
			22px,
			22px,
			26px,
			30px
		);
	}

	display: block;
	position: relative;
	text-align: left;
	box-sizing: border-box;

	cursor: pointer;

	@include toggleSizes(
		padding,
		11px 0,
		11px 0,
		11px 0,
		13px 0,
		15px 0
	);

	border-top: 1px solid;
	@include toggleColor(border-color, "border-color");


	h1, h2, h3, h4, h5, h6 {
		max-width: calc(100% - 30px);
		float: left;
		display: inline-block;

		text-align: left;
		padding: 0;
		font-style: normal;
		cursor: pointer;

		@include toggleSizes(
			font-size,
			22px,
			22px,
			22px,
			26px,
			30px
		);
		line-height: 1.25;
	}

	&:hover {
		@include toggleColor(color, "link-color--hover");
	}
	&:focus {
		@include toggleColor(color, "color");
		background: unset;
		border-top: 1px solid transparent;
		outline: 3px solid;
		@include toggleColor(outline-color, "outline-color");
		outline-offset: 3px;
	}
	&:active {
		@include toggleColor(color, "link-color--focus");
		@include toggleColor(background, "link-background--focus");		
		border-top: 1px solid transparent;
		outline: 3px solid;
		@include toggleColor(outline, "outline-color");
		outline-offset: 0px;
	}

	@include clearfix;

}