details {
    display: block;
    position: relative;
    margin: 0 0 $container-padding 0;

    > .container {
        width: calc(100% - (#{$container-padding} * 2));
        margin: 0 $container-padding;
        padding: 0;
    }
}

details[open] {

    > summary::-webkit-details-marker,
    > summary::marker {
        display: none;
        list-style-image: none;
        content: '';
    }

    > summary:before {
        content: '–';
    }

    > summary {
        margin-bottom: $container-padding;
    }

    margin-bottom: $container-padding;
}

summary {

    /* Hide the marker completely. */
    list-style-image: none;
    &::marker,
    &::-webkit-details-marker {
      display: none;
      list-style-image: none;
      content: '';
      width: 0;
      height: 0;
    }

    &:before {
        display: block;
        position: relative;
        top: 0;
        right: 0;
        left: auto;
        content: '+';
        width: $container-padding * 2;
        float: right;

        text-align: right;
        font-weight: bold;
        line-height: 1;
        @include typography($p, "default");
        color: unset;
    }

    display: block;
    position: relative;
	box-sizing: border-box;

    cursor: pointer;
	
    font-style: normal;
    text-align: left;

    padding: $container-padding;

    @include typography($p, "default");
	color: var(--button-color);
	text-align: center;
	
	background: var(--button-background);
	border: 1px solid var(--button-border);
	box-shadow: 
		0 0 var(--button-border),
		0 0 var(--button-border),
		0 1px var(--button-border),
		0 2px var(--button-border),
		0 3px var(--button-border),
		0 4px var(--button-border),
		0 5px var(--button-border);
	border-radius: $border-radius;
	
    &:hover {
		box-shadow: 
			0 0 var(--button-border),
			0 0 var(--button-border),
			0 1px var(--button-border),
			0 2px var(--button-border),
			0 3px var(--button-border);
			transform: translate3d(0,2px,5px);
    }
    &:focus-visible {
		outline: 3px solid var(--link-outlineColor);
	    outline-offset: form("outline-focus-offset");
    }
    &:hover:focus {
	    outline-offset: form("outline-active-offset");
    }
    &:active {
		box-shadow: 0 0 1px 1px var(--secondary-background);
		transform: translate3d(0,5px,0);
		outline: none;
    }

    h1, h2, h3, h4, h5, h6, p {
        @include typography($p, "default");
        max-width: calc(100% - 30px);
        width: 100%;
        float: left;
        display: inline-block;
        text-align: left;
        padding: 0;
        font-style: normal;
        text-align: left;
        color: unset;
    }

    @include clearfix;

}

// Drop down menu
details.dropdown-menu {
    position: relative;
    display: inline;
    width: auto;
    margin: 0 0 $container-padding 0;
    padding: 0;

    &[open] > summary::-webkit-details-marker,
    &[open] > summary::marker {
        display: none;
        list-style-image: none;
        content: '';
    }

    &[open] {
        padding-bottom: 0;
    }

    &.full-width {
        display: flex;
        flex-grow: 1;
        min-width: 0;
        margin-right: 0 !important;

        > summary {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: scroll;

            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            &::-webkit-scrollbar {
              display: none;
            }
        }
    }
}

summary.dropdown-menu {
    &:before {
        display: none;
    }
    margin: 0 !important;
    border-radius: $border-radius;
    @include clearfix;
    > * {
        font-weight: bold;
    }
}

ul.dropdown-menu {
    position: absolute;
    min-width: 300px;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    list-style: none;

    section {
        position: relative;
        z-index: 100;
        margin: $container-padding 0;
		padding-bottom: 7px;
        max-width: 100%;
		
		background: var(--button-background);
		border: 1px solid var(--button-border);
		border-radius: $border-radius;
     }

}
