div#esc-entries {

	&[data-show="all"] {
		details {
			display: block;
		}
	}
	&[data-show="sf1"] {
		details {
			display: none;
		}
		details[data-semifinal="1"] {
			display: block;
		}
	}
	&[data-show="sf2"] {
		details {
			display: none;
		}
		details[data-semifinal="2"] {
			display: block;
		}
	}
	&[data-show="final"] {
		details[data-final="true"] {
			display: block;
		}
		details[data-final="false"] {
			display: none;
		}
	}

}
