div#esc-entries {

	&[data-show="all"] {
		article.eurovision {
			display: block;
		}
	}
	&[data-show="sf1"] {
		article.eurovision {
			display: none;
		}
		article.eurovision[data-semifinal="1"] {
			display: block;
		}
	}
	&[data-show="sf2"] {
		article.eurovision {
			display: none;
		}
		article.eurovision[data-semifinal="2"] {
			display: block;
		}
	}
	&[data-show="final"] {
		article.eurovision[data-final="true"] {
			display: block;
		}
		article.eurovision[data-final="false"] {
			display: none;
		}
	}

}

article.eurovision:before {
		content: "";
		display: block;
		position: relative;
    	height: 10px;
    	border-radius: 3px;
    	@include plastic(inset, 2px);
		margin: $container-padding * 3 0 $container-padding * 4;
	}
	
.speech-bubble.eurovision.from-them .country {
	padding: 0;
	width: 100%;
}

header.esc-country {
	display: flex;
	align-items: center;
	padding: $container-padding * 0.5 $container-padding;
    margin-left: 0;
    margin-right: auto;
	
	max-width: 450px;
    @include tablet() {
        max-width: 500px;
    }
    @include desktop {
        max-width: 650px;
    }
    clear: both;
	
	.flag {
		all: unset;
		width: 50px;
		margin-right: $container-padding;
	}
	.country {
		width: 100%;
		padding: 0;
	}
	.country-name {
		display: block;
		width: 100%;
		color: var(--webmention-fromThemColor);
	}
	.song-title,
	.artist,
	.song-by {
		color: var(--gray-600);
	}
	.song-by {
		font-weight: 400;
	}
}

.post-image.eurovision {
	display: block;
	position: relative;
	background: var(--glass-background);
	-webkit-backdrop-filter: blur(20px); 
	backdrop-filter: blur(20px);
	width: 100%;
	padding: $container-padding * 3;
}

.post-image.eurovision-heart {
    border-radius: 0;
	height: 150px;
	width: 150px;
	@include desktop() {
		height: 200px;
		width: 200px;
	}
	margin: 0 auto;
}

.eurovision-points.speech-bubble {
	padding-top: 0;
}