div.footnotes {

    &:before {
        display: block;

        @include typography($h3);

        font-weight: bold;
        font-style: normal;
        text-align: left;
        text-decoration: none;
        text-transform: none;

        content: "Footnotes";

    }

    padding-top: 45px;
    max-width: 400px;
    @include tablet {
        padding-top: 60px;
        max-width: 450px;
    }
    @include desktop {
        padding-top: 120px;
        max-width: 600px;
    }

    ul, ol {
        padding-left: $container-padding * 2;
        @include tablet-up {
            padding-left: 0;
        }
    }
    li, p {
        @include typography($small);
        line-height: 1.2;
        margin-bottom: $container-padding;
    }
    a.reversefootnote {
        text-decoration: none;
    }

}
