footer#site-footer,
footer#post-footer {
	display: grid;
	grid-gap: $container-padding;
	padding-block-end: $container-padding;
	@include tablet-up() {
		padding-block-end: $container-padding * 4;
	}
}
footer#site-footer.without-pagination {
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "author";
}

footer#site-footer.with-pagination {
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: "pagination" "author";
}

footer#post-footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "webmentions" "wmForm" "post-meta" "author";
}

dl.meta-data {
    grid-area: post-meta;

    display: grid;
    grid-gap: $container-padding;
    grid-template-rows: auto auto;
	@include tablet-up() {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
    height: 100%;

    aside {
        padding: $container-padding;
		border-radius: $border-radius;
    }

    p, dl, dt, dd {
        @include typography($metadata);
            line-height: 1.2;
    }
    dt, dd {
        display: block;
        position: relative;
        width: 100%;
    }
    dt {
        font-weight: bold;
    }
    dd {
        text-transform: capitalize;
    }

}
