footer#site-footer {
	display: block;
	position: relative;

	padding-top: 60px;
	padding-bottom: 45px;

	@include tablet {
		padding-top: 90px;
		padding-bottom: 60px;
	}
	@include desktop {
		padding-top: 120px;
		padding-bottom: 60px;
	}

	.footer {
		display: block;
		position: relative;
		@include clearfix();
	}
}

aside#footer--wordmark {

	display: block;
	position: relative;
	float: none;
	width: 100%;

	@include tablet-up {
		float: left;
		width: 50%;
	}

	p.footer--wordmark {
		font-weight: 	bold;
		padding-bottom: 0;
		@include typography($p);
	}

	p.footer--wordmark a {
		&:link,
		&:visited {
			text-decoration: none;
		}
	}
	a.footer--site-link {
		@include typography($p);
	}

}

nav#footer--links {
	display: block;
	position: relative;
	float: none;
	width: 100%;

	@include tablet-up {
		float: right;
		width: 50%;
	}

	a {
		font-weight: 		normal;
		text-decoration: 	none;

		&:link {
			color: colour("gray-600");
		}
		&:visited {
			color: colour("gray-600");
		}
		&:hover {
			color: colour("cyan");
			text-decoration: 	underline;
		}
		&:focus {
			color: colour("white");
			background: colour("cyan");
			outline: 2px solid;
			outline-color: colour("cyan");
		}
		&:active {
			text-decoration: 	none;
		}
	}

	li {
		display: inline-block;
		position: relative;

		width: 50%;
		float: left;

		border: none !important;

		@include typography($small);
		padding-bottom: $container-padding * 0.5;
		text-align: right;

		&:last-child {
			float: left;
			@include tablet-up {
				float: right;
			}
		}

	}

	ul {
		padding: 0;
		margin: 0;

		list-style: none;

		float: left;
		@include tablet-up {
			float: right;
		}
		@include clearfix;
	}

}

footer#site-footer {
	@include clearfix;
}

footer#site-footer img.footer--memoji {

	display: block;
	position: relative;

	margin: 0;
	padding: 0;

	max-width: 30px;
	max-height: 30px;

	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	transition: 0.5s all;

	&:hover {
		-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
		filter: grayscale(0%);
		transition: 0.5s all;
	}
}

.footer--icons {

	display: block;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;

	@include tablet-down {
		margin: 0 0 45px;
	}

	* {
		line-height: 30px !important;
		text-decoration: none;
	}

	span.footer--icons--separator {
		display: inline-block;
		height: 30px;
		width: 2px;
		margin: 0 10px 0 5px;
		border-right: 2px solid;
		border-color: colour("gray-600");
		content: "";
	}

	a {

		display: inline-block;
		position: relative;

		margin: 0;
		margin-right: 10px;
		padding: 0;

		svg.footer--icons--social {
			display: block;
			position: relative;

			height: 30px;
			width: 30px;
			margin: 0;
			padding: 0;

			path {
				fill: colour("gray-600");
			}
		}


		&:link svg path {
			fill: colour("gray-600");
		}
		&:visited svg path {
			fill: colour("gray-600");
		}
		&:hover svg path {
			background: colour("white");
			fill: colour("cyan");
			text-decoration: none;
		}
		&:focus {
			outline-offset: 0;
			outline: 5px solid;
		}
		&:focus svg path {
			background: colour("cyan");
			fill: colour("white");
			outline: none;
		}
		&:active svg path {
			text-decoration: 	none;
		}

	}
}
