footer#site-footer {
	@include toggleColor(background, "background");
	@include toggleSizes(
		padding-top,
		$footer--padding-top--xs,
		$footer--padding-top--sm,
		$footer--padding-top--md,
		$footer--padding-top--lg,
		$footer--padding-top--xl
	);
	@include toggleSizes(
		padding-bottom,
		$footer--padding-bottom--xs,
		$footer--padding-bottom--sm,
		$footer--padding-bottom--md,
		$footer--padding-bottom--lg,
		$footer--padding-bottom--xl
	);
}

aside#footer--wordmark {
	@include toggleSizes(
		float,
		none,
		left,
		left,
		left,
		left
	);
	@include toggleSizes(
		width,
		100%,
		50%,
		50%,
		50%,
		50%
	);
	
	p.footer--wordmark {
		font-weight: 	bold;
		padding-bottom: 0;
		@include font($footer-wordmark);
	}
	
	p.footer--wordmark a {
		&:link, 
		&:visited {
			text-decoration: none;
		}
	}
	a.footer--site-link {
		@include font($footer-wordmark);	
	}
	
}

nav#footer--links {

	@include toggleSizes(
		float,
		none,
		right,
		right,
		right,
		right
	);
	@include toggleSizes(
		width,
		100%,
		50%,
		50%,
		50%,
		50%
	);

	a {
		font-weight: 		normal;
		text-decoration: 	none;
		
		&:link {
			@include toggleColor(color, "subtle-link-color");
		}
		&:visited {
			@include toggleColor(color, "subtle-link-color");
		}
		&:hover {
			@include toggleColor(color, "link-color--hover");
			text-decoration: 	underline;
		}
		&:focus {
			@include toggleColor(color, "link-color--focus");
			@include toggleColor(background, "link-background--focus");
			outline: 2px solid;
			@include toggleColor(outline-color, "outline-color");
		}
		&:active {
			text-decoration: 	none;
		}
	}	
	
	li {
		display: inline-block;
		position: relative;
		
		width: 50%;
		float: left;
		
		border: none !important;
		
		@include font($footer-body);
		
		&:last-child {
			@include toggleSizes(
				float,
				left,
				right,
				right,
				right,
				right
			);
		}
		
	}
	
	ul {
		padding: 0;
		margin: 0;
		
		list-style: none;
		
		@include toggleSizes(
	float,
	left,
	right,
	right,
	right,
	right
);
		@include clearfix;
	}

}

footer#site-footer {
	@include clearfix;
}

footer#site-footer img.footer--memoji {
	
	display: block;
	position: relative;
	
	margin: 0;
	padding: 0;
	
	max-width: 30px;
	max-height: 30px;
	
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	
	&:hover {
		-webkit-filter: none; /* Safari 6.0 - 9.0 */
		filter: none;
	}
}

.footer--icons {
	
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	
	@include md-down() {
		margin: 0 0 45px;	
	}	
	
	* {
		line-height: 30px !important;
		text-decoration: none;
	}
	
	span.footer--icons--separator {
		display: inline-block;
		height: 30px;
		width: 2px;
		margin: 0 10px 0 5px;
		border-right: 2px solid;
		@include toggleColor(border-color, "border-color");
		content: "";
	}
	
	a {
		
		display: inline-block;
		position: relative;
		
		margin: 0;
		margin-right: 10px;
		padding: 0;
		
		svg.footer--icons--social {
			display: block;
			position: relative;
			
			height: 30px;
			width: 30px;
			margin: 0;
			padding: 0;
						
			path {
				@include toggleColor(fill, "color");
			}
		}
		
		
		&:link svg path {
			fill: map-get($colors, "gray-400");
		}
		&:visited svg path {
			fill: map-get($colors, "gray-400");
		}
		&:hover svg path {
			@include toggleColor(fill, "link-color--hover");
			text-decoration: none;
		}
		&:focus svg {
			background: transparent;
			border: none;
			outline: none;
		}
		&:focus svg path {
			fill: white;
			outline: none;
		}
		&:active svg path {
			text-decoration: 	none;
		}
		
	}
}