header#site-header {
    display: block;
    z-index: 999999;
    @include supports-sticky() {
        top: 0;
        &::before {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            @include glass(20px, false, true, --translucent-background, false);
        }
        border-bottom: 1px solid var(--background);
    }

}
header#site-header nav#header--site-nav {

    @include typography($p, "default");
    text-align: center;
    line-height: 1 !important;
    padding: $container-padding !important;
    font-weight: 900 !important;
    @include clearfix();

    p#header--wordmark {
        position: relative;
        display: inline-block;
        z-index: 10000;

        float: left;

        font-size: 26px;
        @include tablet {
            font-size: 28px;
        }
        @include desktop {
            font-size: 30px;
        }
        padding: 0;


        a.header--wordmark-link {
            display: inline-block;
            font-weight: bold;

            &:link {
                color: var(--link-color);
                text-decoration: none;
            }
            &:visited {
                color: var(--link-color);
            }
            &:hover {
                color: var(--link-hoverColor);
                text-decoration: underline;
            }
            &:focus {
                color: var(--link-focusColor);
                background: var(--link-focusBackground);
                outline: 2px solid;
                outline-color: var(--link-outlineColor);
            }
            &:active {
                text-decoration: underline;
            }
        }
    }

    details#header-menu-button--details {

        display: inline;
        position: relative;
        width: auto;
        margin: 0;
        padding: 0;
        float: right;

        @include clearfix();

        &[open] > summary::-webkit-details-marker,
        &[open] > summary::marker {
            display: none;
            list-style-image: none;
            content: '';
        }

        &[open] > summary:before {
            content: '';
        }

    }

    summary#header-menu-button--summary {

        display: block;
        position: relative;
        text-align: left;
        box-sizing: border-box;
        margin: 0;
        right: 0;
        border: none;
        border-radius: 10px;
        border: 0;
        background: none;
        box-shadow: none;
        padding: 4px;
        width: 27px;
        height: 27px;
        @include tablet {
            padding: 4px;
            width: 30px;
            height: 30px;
        }
        @include desktop {
            padding: 0 7px;
            width: 36px;
            height: 36px;
        }

        @include clearfix();
        &:before {
            display: none;
        }
        margin: 0 !important;
        border-radius: $border-radius;
		transform: none !important;
        @include clearfix;

    }

    ul#header-menu-items {
        display: block;
        position: absolute;
        z-index: 100;
        right: -($container-padding);
        box-sizing: border-box;
        padding: $container-padding;
        list-style: none;
        text-align: center;
        max-height: calc(100vh - 100px);
        overflow-y: scroll;
        @include glass(20px, 2, true, --glass-background);
        margin: $container-padding * 2 $container-padding;

        min-width: 30vw;
        width: 100%;
        max-width: 100%;
        min-width: calc(100vw - (#{$container-padding} * 2));
        @include tablet-up {
            min-width: 400px;
            max-width: breakpoints("tablet");
        }
    }

    li.header-link {
        display: block;
        position: relative;

        width: 100%;
        height: auto;

        box-sizing: border-box;
        margin-bottom: $container-padding;

        &:last-child {
            margin: 0;
        }
    }

    li.header-link a {

        &:link {
            text-align: center;
            border: none;
            padding: $container-padding !important;
            outline-offset: form("outline-offset");
            margin: 0 !important;

            display: block;
            width: 100%;
            border-radius: 10px;
            text-decoration: none;
        }

        &:hover {
            background: var(--dropdownButton-hoverBackground);
            color: var(--dropdownButton-hoverColor);
        }

        &:focus {
            color: var(--dropdownButton-focusColor);
            background: transparent;
            outline: form("border-width") solid var(--details--outlineColor);
        }

        &:hover:focus {
            background: var(--dropdownButton-hoverBackground);
            color: var(--dropdownButton-hoverColor);
        }

        &:active {
            background: var(--dropdownButton-hoverBackground);
            color: var(--dropdownButton-hoverColor);
        }

        &:disabled,
        &:disabled:focus, &:disabled:hover, &:disabled:active {
            background: var(--dropdownButton-disabledBackground);
            color: var(--dropdownButton-disabledColor);
            text-align: center;
            cursor: unset;
            outline: none;
        }
    }

    svg {
        position: relative;
        display: inline-block;
        width: 19px;
        @include tablet {
            width: 20px;
        }
        @include desktop {
            width: 22px;
        }
    }

    details summary svg {
        transform: rotate(0deg);
        transform-origin: center;
        transition: 0.2s all;
    }

    details[open] summary svg {
        transform: rotate(45deg);
        transform-origin: center;
        transition: 0.2s all;
    }

    details:active svg path#menuicon {
        color: var(--cyan);
    }

    summary svg path#menuicon {
        fill: var(--color);
    }

    summary:hover svg path#menuicon {
        fill: var(--cyan);
    }

    summary:focus {
        outline: none;
    }

    summary:focus svg path#menuicon {
        fill: var(--cyan);
    }

}
