figure {
	display: block;
	position: relative;
	box-sizing: 	content-box;
	
	@include toggleColor(color, "color");
	@include toggleSizes(
		margin-bottom, 
		22px,
		22px,
		22px,
		26px,
		30px
	);
	margin-top: 0;
	
	@include toggleSizes(
		width,
		100%,
		100%,
		(container("md") + 100px),
		(container("lg") + 150px),
		(container("xl") + 200px)
	);
	@include toggleSizes(
		max-width,
		100%,
		100%,
		unset,
		unset,
		unset
	);

	@include toggleSizes(margin-left, 0, 0, -50px, -90px, -115px);
	@include toggleSizes(margin-right, 0, 0, -50px, -90px, -115px);
	
	figcaption {
		margin-top: $container-padding;
		max-width: 500px;
		@include font($body--small);
		padding-top: $container-padding * 0.5 !important;
		padding-bottom: 0 !important;
		text-transform: none !important;
			
		@include toggleColor(color, "figcaption-color");
		font-style: italic;	
		
		&:before {
			position: relative;
			display: block;
			border-top: 5px solid;
			@include toggleColor(color, "figcaption-color");
			width: 150px;
			padding-top: $container-padding;
			content: "";
		}
		
		a {			
			&:link {
				@include toggleColor(color, "figcaption-link-color");
			}
			&:visited {
				@include toggleColor(color, "figcaption-link-color");
			}
			&:hover {
				@include toggleColor(color, "link-color--hover");
				text-decoration: 	underline;
			}
			&:focus {
				@include toggleColor(color, "link-color--focus");
				@include toggleColor(background, "link-background--focus");
				outline: 2px solid;
				@include toggleColor(outline-color, "outline-color");
			}
			&:active {
				text-decoration: 	underline;
			}
		}
		
	}
	
	img {
		display: block;
		position: relative;
		box-sizing: 	content-box;
		
		width: 100%;
		max-width: 100%;		
		height: auto;
		
		margin: 0;
		@include toggleSizes(
			margin-bottom,
			11px,
			11px,
			11px,
			13px,
			15px
		);
	
	}
	
}

p > img {
	display: block;
	position: relative;
	
	@include toggleSizes(
		width,
		100%,
		100%,
		(container("md") + 100px),
		(container("lg") + 150px),
		(container("xl") + 200px)
	);
	@include toggleSizes(max-width, 100%, 100%, unset, unset, unset);
	@include toggleSizes(margin-left, 0, 0, -50px, -90px, -115px);
	@include toggleSizes(margin-right, 0, 0, -50px, -90px, -115px);
	@include toggleSizes(left, 0, 0, 0, 0, 0);
	@include toggleSizes(right, 0, 0, 0, 0, 0);
}

svg.hero-image {
	display: block;
	position: relative;
		
	@include toggleSizes(
		width,
		100%,
		100%,
		(container("md") + 100px),
		(container("lg") + 150px),
		(container("xl") + 200px)
	);
	
	@include toggleColor(fill, "color");
	@include toggleSizes(max-width, 100%, 100%, unset, unset, unset);
	@include toggleSizes(margin-left, 0, 0, -50px, -90px, -115px);
	@include toggleSizes(margin-right, 0, 0, -50px, -90px, -115px);
	@include toggleSizes(
		margin-bottom, 
		22px,
		22px,
		22px,
		26px,
		30px
	);
	margin-top: 0;
	@include toggleSizes(left, 0, 0, 0, 0, 0);
	@include toggleSizes(right, 0, 0, 0, 0, 0);
}