figure {
	display: block;
	position: relative;
	box-sizing: 	content-box;
	
	@include toggleColor(color, "color");
	@include toggleSizes(
		margin-bottom, 
		$font-size--p--xs,
		$font-size--p--sm,
		$font-size--p--md,
		$font-size--p--lg,
		$font-size--p--xl
	);
	margin-top: 0;
	
	@include toggleSizes(
		width,
		100%,
		100%,
		(container("md") - 66px),
		(container("lg") - 50px),
		(container("xl") - 100px)
	);
	@include toggleSizes(
		max-width,
		100%,
		100%,
		unset,
		unset,
		unset
	);
	@include toggleSizes(
	margin-left,
		0,
		0,
		-65px,
		-90px,
		-115px
	);
	@include toggleSizes(
	margin-right,
		0,
		0,
		-65px,
		-90px,
		-115px
	);
	
	figcaption {
		margin-top: $container-padding;
		max-width: 500px;
		@include toggleSizes(
	font-size,
		($font-size--p--xs * 0.8),
		($font-size--p--sm * 0.8),
		($font-size--p--md * 0.8),
		($font-size--p--lg * 0.8),
		($font-size--p--xl * 0.8)
	);
		@include toggleSizes(
	line-height,
		$line-height--p--xs,
		$line-height--p--sm,
		$line-height--p--md,
		$line-height--p--lg,
		$line-height--p--xl
	);
		padding-top: $container-padding * 0.5;
		padding-bottom: 0;
			
		@include toggleColor(color, "figcaption-color");
		font-style: italic;	
		
		&:before {
			position: relative;
			display: block;
			border-top: 5px solid;
			@include toggleColor(color, "figcaption-color");
			width: 150px;
			padding-top: $container-padding;
			content: "";
		}
		
		a {			
			&:link {
				@include toggleColor(color, "figcaption-link-color");
			}
			&:visited {
				@include toggleColor(color, "figcaption-link-color");
			}
			&:hover {
				@include toggleColor(color, "link-color--hover");
				text-decoration: 	underline;
			}
			&:focus {
				@include toggleColor(color, "link-color--focus");
				@include toggleColor(background, "link-background--focus");
				outline: 2px solid;
				@include toggleColor(outline-color, "outline-color");
			}
			&:active {
				text-decoration: 	underline;
			}
		}
		
	}
	
	img {
		display: block;
		position: relative;
		box-sizing: 	content-box;
		
		width: 100%;
		max-width: 100%;		
		height: auto;
		
		margin: 0;
		@include toggleSizes(
			margin-bottom,
			($font-size--p--xs * 0.5),
			($font-size--p--sm * 0.5),
			($font-size--p--md * 0.5),
			($font-size--p--lg * 0.5),
			($font-size--p--xl * 0.5)
		);
	
	}
	
}

img {
	display: block;
	position: relative;
	box-sizing: 	content-box;
	
	@include toggleSizes(
		width,
		100%,
		100%,
		(container("md") - 66px),
		(container("lg") - 50px),
		(container("xl") - 100px)
	);
	@include toggleSizes(
		max-width,
		100%,
		100%,
		unset,
		unset,
		unset
	);
	@include toggleSizes(
		margin-left,
		0,
		0,
		-65px,
		-90px,
		-115px
	);
	@include toggleSizes(
		margin-right,
		0,
		0,
		-65px,
		-90px,
		-115px
	);
			
	height: auto;
}