a.music-link {
    display: block;
    position: relative;
    
    &:focus {
        background: var(--link-focusBackground);
        outline: none;
        text-decoration: none;
    }
}

.music-post .music-title {
    padding: $container-padding * 2 0;
}

.ipod-nano {
    display: grid;
    
    margin: 0 auto;
    
    width: 100%;
    max-width: 400px;
    
    align-content: center;
    aspect-ratio: 806/763;
    background-image: url('/assets/images/site/nano-bg.svg');
    
    &::after {
        position: absolute;
        display: block;
        
        width: 100%;
        max-width: 400px;
        
        aspect-ratio: 806/763;
        content: "";
        background-image: url('/assets/images/site/nano-fore.svg');    
    }

}

.music-artwork {
    justify-self: center;
    max-width: 63%;
    border-radius: 2px;
}

h1.music-metadata-title {
    @include typography($large, "default");
}

h1.music-metadata-title,
p.music-metadata-artist,
.star-rating {
    text-align: center;
    padding: 0;
    margin: 0;
}


.star-rating {
    --star-size: 30px;
    --percent: calc(var(--rating) / 5 * 100%);

    display: block;
    font-size: var(--star-size);
    font-family: Times; // make sure ★ appears correctly
    
    line-height: 1;
    margin: $container-padding 0;

    &::before {
        content: '★★★★★';
        letter-spacing: 3px;
        background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
