nav.pagination {

    position: relative;
    display: grid;

    width:  100%;

	padding: $container-padding;

	grid-template-columns: 1fr 1fr !important;
	grid-template-rows: 1fr;
	grid-gap: $container-padding;

	grid-template: 'prev next';

	span.pagination--prev {
		grid-area: prev;
	}
	span.pagination--next {
		grid-area: next;
	}

	span.pagination--prev a,
	span.pagination--next a {
		align-content: center;
		height: 100%;
	}

}
