nav.pagination {

    position: relative;
    display: grid;

    width:  100%;

    margin: $container-padding * 2 0 0;
	
	grid-template-columns: 1fr 1fr !important;
	grid-gap: $container-padding;
	
	grid-template: 'prev next';
	
	span.pagination--prev {
		grid-area: prev;
	}
	span.pagination--next {
		grid-area: next;
	}

}
