fieldset.radios {

    padding: 15px 10px 10px;
    margin-bottom: 20px;

    @include tablet-up {
        padding: 20px;
    }

    legend {
        @include sr-only;
    }

    div.radio-input {

        display: inline-block;
        width: 100%;

        margin-bottom: 10px;

        @include tablet-up {
            float: left;
            clear: none;
            width: 50%;

            &:nth-of-type(3),
            &:nth-of-type(4) {
                margin-bottom: 0px;
            }
        }

    }

    @include clearfix;

}

input[type="radio"] {
    $input-offset: (form("touch-target-size") - form("radios-size")) * 0.5;
    cursor: pointer;

    position: absolute;

    z-index: 1;
    top: $input-offset * -1;
    left: $input-offset * -1;

    width: form("touch-target-size");
    height: form("touch-target-size");
    margin: 0;

    opacity: 0;

    ~ label {
        display: inline-block;
        height: form("input-size");
		line-height: form("input-size");
        margin-top: 0;
        margin-bottom: 0;
        padding: 0px form("radios-label-padding-left-right");
        cursor: pointer;
        // remove 300ms pause on mobile
        touch-action: manipulation;

        font-weight:    600;

        &::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;

            width: form("radios-size");
            height: form("radios-size");
            border: 2px solid var(--color);
            border-radius: 50%;
            background: var(--background);
        }

        &::after {
            content: "";

            position: absolute;
            top: 8px;
            left: 8px;

            width: 0;
            height: 0;

            border: 12px solid var(--radio-color);
            border-radius: 50%;
            opacity: 0;
            background: var(--color);
        }

    }

    &:focus + label::before {
        border-width: 4px;
        box-shadow: 0 0 0 3px var(--radio-color);
    }

    &:hover + label::before {
        box-shadow: 0 0 0 3px var(--radio-color);
        background: var(--background);
        border-width: 2px;
    }

    &:checked + label::after {
        opacity: 1;
    }

    ~ .label-hint,  {
        padding-right: form("radios-label-padding-left-right");
        padding-left: form("radios-label-padding-left-right");
    }

    ~ input[type="text"]  {
        margin-left: form("radios-label-padding-left-right");
        width: calc(100% - #{form("radios-label-padding-left-right")});
    }

}


.radio-input {
    display: block;
    position: relative;

    min-height: form("input-size");

    @extend p;
    padding: 0;

    margin-bottom: 30px;
    clear: left;

    padding-left: map-get($form-elements, "radios-size");

    &:last-child,
    &:last-of-type {
        margin-bottom: 0;
    }
}
