.speech-bubble {
	width: 100%;
	padding: $container-padding 0;
    @include tablet-up {
        padding: $container-padding $container-padding * 0.5;
    }
	@include typography($p);
}

.speech-bubble .content + .content {
	margin-top: $container-padding;
}

.speech-bubble.from-them .content,
.speech-bubble.from-me .content {
	position: relative;
	display: inline-block;

    width: auto;
	&.full-width {
		width: 100%;
	}
    @include tablet() {
        max-width: 500px;
    }
    @include desktop {
        max-width: 600px;
    }
    clear: both;

	text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    &:before,
    &:after {
        content: "";
        position: absolute;
    }

    &:after {
        -webkit-transform: translate(-30px, -2px);
        background:var(--background);
        width: 10px;
        height: 20px;
    }

	p,
	li {
	    padding-bottom: $container-padding;

    	&:last-of-type,
    	&:last-child {
        	padding-bottom:  0;
    	}
	}

	> *:first-child {
    	border-top-left-radius: $border-radius * 2;
		border-top-right-radius: $border-radius * 2;
	}

	> *:last-child {
    	border-bottom-left-radius: $border-radius * 2;
		border-bottom-right-radius: $border-radius * 2;
	}

	img {
		background: none !important;
		width: 100%;
	}
}

.speech-bubble.from-them .content {
    color: var(--speechBubble-fromThemColor);

    &:before {
		z-index: 2;
        bottom: -2px;
        left: -7px;
        height: 15px;
        border-left: 20px solid var(--speechBubble-fromThemBackground);
        border-bottom-right-radius: 16px 14px;
        -webkit-transform: translate(0, -2px);
    }

    &:after {
        z-index: 3;
        bottom: -2px;
        left: 20px;
        border-bottom-right-radius: 10px;
    }

    * {
		color: var(--speechBubble-fromThemColor);
	}
    blockquote, header, .post-title, .text {
	    background: var(--speechBubble-fromThemBackground);
    }
}

.speech-bubble.from-me .content {
	margin-left: auto;
	margin-right: 0;

    &:before {
        z-index: 2;
        bottom: -2px;
        right: -7px;
        height: 15px;
        border-right: 20px solid var(--speechBubble-fromMeBackground);
        border-bottom-left-radius: $border-radius * 2 $border-radius * 2 - 3px;
        -webkit-transform: translate(0, -2px);
    }

    &:after {
        z-index: 3;
        bottom: -2px;
        right: -40px;
        width: 10px;
        height: 20px;
        border-bottom-left-radius: $border-radius * 2;
    }

	* {
		color: var(--speechBubble-fromMeColor);
	}
    blockquote, header, .post-title, .text {
	    background: var(--speechBubble-fromMeBackground);
    }
}

.speech-bubble.from-them .content a {
    &:link,
	&:visited {
        color: var(--speechBubble-fromThemLinkColor);
    }
    &:focus {
        color: var(--speechBubble-fromThemLinkColor);
        background: var(--speechBubble-fromThemLinkBackground);
        outline: 3px solid var(--speechBubble-fromThemLinkBackground);
    }
}

.speech-bubble.from-me .content a {
	background: none;
    &:link,
	&:visited {
        color: var(--speechBubble-fromMeLinkColor);
    }
    &:focus {
        color: var(--speechBubble-fromMeLinkFocusColor);
        background: var(--speechBubble-fromMeLinkBackground);
        outline: 3px solid var(--speechBubble-fromMeLinkBackground);
    }
}

.speech-bubble.from-them .content a,
.speech-bubble.from-me .content a, {
	&:link,
	&:visited {
		text-decoration: underline;
	}
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: underline;
	}
}

.speech-bubble .content .text {
    padding: $container-padding * 0.5 $container-padding;
}

.speech-bubble .post-title {
    @include typography($card-title);
	padding: $container-padding * 0.5 $container-padding !important;
}

.speech-bubble .post-title + .text {
	padding-top: 0;
}
