.stream--item--share .quote {
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "to" "msg";

    @include tablet-up {
        grid-template-rows: auto auto;
        grid-template-columns: auto 1fr;
        grid-template-areas: "to to" "msg .";
    }
    grid-row-gap: $container-padding * 0.5;
    grid-column-gap: $container-padding;
    padding: 0;
    float: left;
}

.stream--item--share .quote .stream--item--quoted--author {
    grid-area: to;
    padding: 0 0 0 $container-padding;
}
.stream--item--share .quote .stream--item--quote {
    grid-area: msg;
    max-width: 600px;
    justify-self: flex-end;
    border-radius: $border-radius;
    clear: both;
    @include glass(20px, 2);
    h1.post-title {
        @include typography($h2, "default");
        padding: $container-padding !important;
    }
    p {
        padding: 0 $container-padding $container-padding;
    }
    margin-bottom: $container-padding;
}

.stream--item--share .quote .stream--item--quote blockquote {
    background: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}
