.mobile-overflow {
    @include mobile {
        overflow-x: auto;
    }
}

table {
    @include typography($p);
    @include glass(20px, 2, false);
    border-collapse: collapse;
    width: 100%;
    @include tablet {
        width: containers("tablet") + 100px;
        margin-right: -50px;
        margin-left: -50px;
    }
    @include desktop {
        margin-bottom: 30px;
        width: containers("desktop") + 200px;
        margin-right: -115px;
        margin-left: -115px;
    }
    border: none;

    tr {
        border-bottom: 1px solid var(--secondary-borderColor);

        &:last-child {
            border-bottom: none !important;
        }
    }

    th, td {
        padding: $container-padding;
        vertical-align: top;

        border-left: 1px solid var(--secondary-borderColor);

        &:first-child {
            border-left: none;
        }
    }

    thead,
    tfoot {
        @extend strong;
        text-align: left;
    }

    thead {
        border-bottom: 2px solid var(--color);
    }

    tfoot {
        border-bottom: 2px solid var(--color);
    }

    caption {
        display: table-caption;
        caption-side: bottom;

        @include typography($p, "default");
        text-align: left;

        margin: $container-padding 0;
        padding: $container-padding;
    }

}
