textarea {
    @extend p;
    box-sizing: border-box;
    width: 100%;

    margin-bottom: $container-padding * 2;
    padding: form("input-padding");

    border: form("border-width") solid var(--color, colour("black"));
    border-radius: form("border-radius");

    background: var(--background, colour("white"));
    color: var(--color, colour("black"));

    // Disable inner shadow and remove rounded corners
    -webkit-appearance: none;
    appearance: none;


    &:hover {
        outline: form("border-width") solid var(--cyan, colour("cyan"));
        outline-offset: 0px;
        border: form("border-width") solid;
    }
    &:focus {
        outline: form("border-width") solid var(--cyan, colour("cyan"));
        outline-offset: 3px;
        color: var(--color, colour("black"));
        box-shadow: inset 0 0 0 form("border-focus-width");
        border: form("border-width") solid var(--color, colour("black"));
    }

    &:invalid {
        border: form("border-width") solid var(--red, colour("red"));
    }
    overflow: visible;
}
