div.twitter-tweet {

	margin-left: auto;
	margin-right: auto;

	-webkit-font-feature-settings: normal !important;
	   -moz-font-feature-settings: normal !important;
		   -o-font-feature-settings: normal !important;
			font-feature-settings:    normal !important;
	padding:0 0 $container-padding 0;
}
