/* Webmention Section */

.webmentions {
    display: grid;
    position: relative;
    margin: 0;
    padding: 0;
    
    height: 100%;
    align-content: center;
    
    * {
        display: block;
        position: relative;
    }
}

.webmentions__facepile {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.webmentions__face {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    flex: none;
    border: 1px solid;
    @include toggleColor(border-color, "icon-color");
}
.webmentions__list {
    display: grid;
    grid-auto-columns: 50px;
    grid-auto-rows: 50px; 
    grid-gap: $container-padding;
    grid-auto-flow: column; 

    list-style-type: none;
    padding:0;
}
.webmentions__item {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Single Webmention */

.webmention {
    display:block;
}
.webmention__meta {
    margin-bottom: $container-padding;
}
.webmention__author {
    margin-right: $container-padding;
}
.webmention__author__photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: $container-padding;
    border: 1px solid;
    @include toggleColor(border-color, "icon-color");
}
.webmention__pubdate {
    font-style: italic;
}

.webmention__author .u-url {
    display: inline-block;
}

.post-activity-icon svg {
    display: block;
    position: relative;
                
    path {
        @include toggleColor(fill, "icon-color");
    }
}