---
layout: page
---
{{ content }}

{% assign collection = site.now | sort: date | reverse %}

{% for item in collection limit: 1 %}
<article id="post-content" class="now-post h-entry no-border">
	
	<h2 class="post-title p-name dt-published"><time datetime="{{ page.date | date: '%Y-%m-%d' }}"><a href="{{ item.url }}" title="Read {{ item.date | date: '%B %Y' }}" class="u-url">{{ item.date | date: '%B %Y' }}</a></time></h2>
	
	<section class="post-body e-content">
		{{ item.content }}
	</section>

</article>
{% endfor %}

{% if collection.size > 1 %}
<h1 class="page-title">Then</h1>
{% for item in collection offset: 1 %}
<article class="collection--list-item h-entry">
	<h2 class="collection--list--item-title p-name dt-published"><time datetime="{{ page.date | date: '%Y-%m-%d' }}"><a href="{{ item.url }}" title="Read {{ item.date | date: '%B %Y' }}" class="u-url">{{ item.date | date: '%B %Y' }}</a></time></h2>
	{% if item.excerpt %}
	{{ item.excerpt | markdownify }}
	{% endif %}
</article>
{% endfor %}
{% endif %}