---
layout: default
---

{% include header.html %}

<nav id="editor-toolbar" class="">
  <div class="container container-flex">
    <details id="editor-toolbar--file" class="dropdown-menu">
      <summary class="dropdown-menu"><p>⌘</p></summary>
      <!-- Buttons -->
      <ul class="dropdown-menu">
        
        <section id="actionsList" class="dropdown-menu--section">
          <li><button type="button" id="newFileButton" class="button dropdown-menu--button">New file</button></li>
          <!-- <li><button id="openFileButton" class="button dropdown-menu--button">Open file</button></li> -->
          <li><button type="button" id="saveButton" class="button dropdown-menu--button button-action">Save file</button></li>
          <li><button type="button" id="deleteButton" class="button dropdown-menu--button button-warning">Delete file</button></li>
        </section>
                
        <section id="accountList" class="dropdown-menu--section">
          <li><button type="button" id="accountName" class="button dropdown-menu--button" disabled>Account</button></li>
          <li><button type="button" id="clearButton" class="button dropdown-menu--button button-warning">Log out</button></li>
        </section>
        
      </ul>
    </details>
    
    <details id="editor-toolbar--folder" class="dropdown-menu full-width">
      <summary class="dropdown-menu"><p id="folderName">File browser</p></summary>
      <!-- Buttons -->
      <ul class="dropdown-menu">
        
        <section id="foldersList" class="dropdown-menu--section">
          <li><button id="" class="button dropdown-menu--button" disabled>Folders</button></li>
        </section>
        
        <section id="filesList" class="dropdown-menu--section">
          <li><button id="" class="button dropdown-menu--button" disabled>Files</button></li>
        </section>
        
      </ul>
    </details>

  </div>
</nav>

<main id="content" class="container">
  
  <section id="section-githubLogin" class="hidden">
    
    <form id="form-githubLogin">
        
      <h1 class="page-title">{{ page.title | smartify }}</h1>
        
      <fieldset id="fields-githubLogin">
      
        <legend>Log in</legend>
                
        <!-- Input fields for GitHub credentials -->
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" placeholder="Username" value="">
        
        <label for="token" class="sr-only">Personal Access Token</label>
        <input type="password" id="token" placeholder="Personal Access Token" value="">
      
      </fieldset>
      
      <!-- Button to trigger the login action -->
      <button type="button" id="loginButton" class="button">Log in</button>
      
      <!-- Button to trigger the login action -->
      <p class="get-token"><a class="link link-secondary" href="https://github.com/settings/tokens/new">Get a new Personal Access Token</a></p>
    
    </form>
    
  </section>
    
  <section id="section-githubFileContent" class="">
    
      <!-- Input field for file path -->
      <label for="fileName" class="sr-only">File name and path</label>
      <input type="text" id="fileName" placeholder="File name" value="">
      
      <!-- Input field for file content -->
      <label for="textEditor" class="sr-only">Content</label>
      <textarea id="textEditor" rows="20" placeholder="Start writing..." autofocus></textarea>
    
  </section>
  
</main>

{% include footer.html %}

<script src="https://unpkg.com/github-api/dist/GitHub.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/edit.js" defer></script>