---
layout: default
---

<main id="content" class="container">

	<section id="page-content">

		{% if paginator.page == 1 %}
		<h1 class="page-title">Photos</h1>
		{{ page.content | markdownify }}
		{% endif %}

		{% for page in paginator.posts %}
			{% assign collection = page.collection %}
			<article class="h-entry stream--item stream--item--{{ page.collection }}">
				<aside class="stream--item--author">
					{% if page.date %}On <time class="dt-published" datetime="{{ page.date | date: '%FT%T%:z' }}">{{ page.date | date: '%d %B %Y' }}</time>, {% endif %}
					<span class="h-card p-author">
						<img class="photo u-photo memoji" alt="A Memoji avatar of John Peart" src="{{ site.url | append: '/assets/images/me/memoji.png' }}">
						<span class="p-name author--name"><a rel="author" class="p-author u-url u-uid" href="{{ site.url }}">John Peart</a></span>
					</span>
					{% if page.collection == "photo" -%}<a href="{{ page.url }}" class="u-url">posted a photo</a>
					{% elsif page.collection == "note" -%}<a href="{{ page.url }}" class="u-url">wrote a note</a>
					{% elsif page.collection == "list" -%}<a href="{{ page.url }}" class="u-url">wrote a list</a>
					{% else -%}<a href="{{ page.url }}" class="u-url">posted</a>{%- endif -%}
				</aside>
				<section class="e-content stream--item--content stream--item--{{ page.collection }}--content">
					{% include formats/stream.html format=collection %}
				</section>
				{% include webmentions.html type="count" %}
			</article>
		{% endfor %}

		{% include pagination.html %}

	</section>

</main>
