---
layout: default
---

{% include header.html %}

<main id="content" class="container">
						
	<article id="post-content" class="h-entry">
		
		<header class="post-title">
			
			<aside class="post-published-date">
				<p><a href="{{ page.url }}" class="post-published-date u-url"><time datetime="{{page.date | date: '%Y-%m-%d'}}" class="dt-published">{{ page.date | date: "%-d %B %Y" }}</time></a></p>
			</aside>
			<h1 class="post-title p-name">{{ page.title | smartify }}</h1>

		</header>

		<section class="post-body e-content">
			
			{{ content }}
				
		</section>
		
		
		<footer class="post-meta">
			
			<div class="post-author-card h-card">
											
				{% include me/memoji.html %}
				
				<div class="author-details">
					<p class="p-name author--wordmark"><a href="{{ site.url }}" rel="author" class="p-author "><span class="p-given-name">John</span> <span class="p-family-name">Peart</span></a></p>
	
					<p><a href="//www.johnpe.art/" class="u-url footer--site-link">{{ site.url | remove: "https://" | remove: "http://" }}</a></p>
					
					<div class="author--icons">
						{% include social-icons/mastodon.html %}
						{% include social-icons/linkedin.html %}
						{% include social-icons/github.html %}
						<span class="footer--icons--separator"></span>
						{% include social-icons/buymeacoffee.html %}
					</div>
				</div>
				
			</div>
			
			<dl class="meta-data">
				<dt class="post-date">Published</dt>
				<dd>{{ page.date | date: '%-d %B %Y' }}</dd>
			
				{% if page.categories %}
				<dt class="post-categories">Categories</dt>
				<dd>{% for categories in page.categories %}<span class="p-category">{{ categories }}</span>{% if forloop.last==false %}, {% endif %}{% endfor %}</dd>
				{% endif %}
			</dl>
						
		</footer>
		
	</article>
	
</main>

{% include footer.html %}