---
layout: default
---

<main id="content" class="container">

	<article id="post-content" class="{{ page.collection }}-post h-entry">

		{% assign collection = page.collection %}
		{% include formats/headers.html format=collection %}

		<section class="post-body e-content">
			{{ content }}
			{% include formats/eurovision.html %}
			{% include formats/photo-metadata.html %}
			{% include formats/about-details.html %}
		</section>

		{% include webmentions.html type="post" %}
		{% include footer.html type="post" %}

	</article>

</main>


