---
layout: default
---

{% include header.html %}

<main id="content" class="container">
						
	<article id="post-content" class="h-entry">
		
		<header class="post-title">
			
			<aside class="post-published-date">
				<p><a href="{{ page.url }}" class="post-published-date u-url u-uid"><time datetime="{{page.date | date: '%Y-%m-%d'}}" class="dt-published">{{ page.date | date: "%-d %B %Y" }}</time></a></p>
			</aside>
			<h1 class="post-title p-name">{{ page.title | smartify }}</h1>

		</header>

		<section class="post-body e-content">
			
			{{ content }}
			
			<h2>The entries</h2>
			
			{% include blog/eurovision.html %}
			
			{% if page.summing-up %}
			<h2>Summing up</h2>
			{{ page.summing-up | markdownify }}
			{% endif %}
				
		</section>
				
		{% include blog/footer.html %}
		
	</article>
	
</main>

{% include footer.html %}

<script type="text/javascript" src="{{ site.url | append: site.baseurl | append: site.js-path | append: '/blog/eurovision.js' }}" async></script>