---
layout: page
---

{{ content }}

{% assign projects = site.projects | group_by: "type" | sort: "name" %}
{% for project in projects %}
	<section>

		<header>
			<h2 class="projects-header projects-{{ project.name | slugify }}">{{ project.name }}</h2>
		</header>

		{% for item in project.items %}
		{% unless item.hidden == true %}
		<article class="project-entry">
			<h3 class="project-name"><a href="{{ item.link }}" class="project-url">{{ item.title | smartify }}</a></h3>
			{{ item.content | smartify }}
		</article>
		{% endunless %}
		{% endfor %}

	</section>
{% endfor %}
