---
layout: default
---

{% include header.html %}

<main id="content" class="container">	
	<article class="social h-entry">
		<section class="e-content">
		{% include {{ page.collection | append: '.html' | prepend: 'stream/' }} %}
		{% if page.content.size > 0 %}
			<section class="post--body">
				{{ page.content }}
			</section>
		{% endif %}
		{% if page.collection == 'polaroid' %}
		<aside class="post--exif">
			<dl class="exif">
				<span class="dl-item">
				<dt>Date taken:</dt>
				<dd>{{ page.date | date: "%d %B %Y" }}</dd>
				</span>
				
				{% for EXIF in page.EXIF %}
					
					<span class="dl-item">
					{% if EXIF.camera != "" %}
					<dt>Camera:</dt>
					<dd>{{ EXIF.camera }}</dd>
					{% endif %}
					</span>
					
					<span class="dl-item">
					{% if EXIF.apeture != "" %}
					<dt>Apeture:</dt>
					<dd>{{ EXIF.apeture | prepend: "ƒ/"}}</dd>
					{% endif %}
					</span>
					
					<span class="dl-item">
					{% if EXIF.shutter != "" %}
					<dt>Shutter speed:</dt>
					{% if EXIF.shutter < 1 %}
					<dd>{{ 1 | divided_by: EXIF.shutter | round: 0  | prepend: '1/' }}</dd>
					{% else %}
					<dd>{{ EXIF.shutter | round: 0 | append: '”' }}</dd>
					{% endif %}
					{% endif %}
					</span>
					
					<span class="dl-item">
					{% if EXIF.focallength != "" %}
					<dt>Focal length:</dt>
					<dd>{{ EXIF.focallength | append: "mm" }}</dd>
					{% endif %}
					</span>
					
					<span class="dl-item">
					{% if EXIF.iso != "" %}
					<dt>ISO:</dt>
					<dd>{{ EXIF.iso }}</dd>
					{% endif %}
					</span>
					
				{% endfor %}
			</dl>
		</aside>
		{% endif %}
		</section>
	{% include blog/footer.html %}
	</article>
</main>

{% include footer.html %}