---
layout: default
---

<main id="content" class="container">

	<section id="page-content">

		{% if paginator.page == 1 %}
		<h1 class="page-title">{{ page.title | smartify }}</h1>
		{{ page.content | markdownify }}
		<hr>
		{% endif %}

		{% for page in paginator.posts %}
			{% assign collection = page.collection %}
			{% if collection == "blogpost" %}
			<article class="h-entry stream--item stream--item--blogpost">
				<aside class="stream--item--author">
					{% if page.date %}On <time class="dt-published" datetime="{{ page.date | date: '%FT%T%:z' }}">{{ page.date | date: '%d %B %Y' }}</time>, {% endif %}
					<span class="h-card p-author">
						<img class="photo u-photo memoji" alt="A Memoji avatar of John Peart" src="{{ site.url | append: '/assets/images/me/memoji.png' }}">
						<span class="p-name author--name"><a rel="author" class="p-author u-url u-uid" href="{{ site.url }}">John Peart</a></span>
					</span>
					<a href="{{ page.url }}" class="u-url">wrote a blogpost</a></span>
				</aside>
				<section class="e-content stream--item--content">
					{% if page.image %}<img class="post-image" loading="lazy" src="{{ page.image | prepend: '/assets/images' }}">{% else %}<img class="post-image" loading="lazy" src="/assets/images/site/social-media-blogpost.png">{% endif %}
					<h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
					{{ page.excerpt | markdownify }}
				</section>
				{% include webmentions.html type="count-and-replies" %}
			</article>
			{% elsif collection == "reply" %}
			<article class="h-entry stream--item conversation-item stream--item--reply">
				{% include cite.html %}
				{% include reply.html %}
				{% include webmentions.html type="count-and-replies" %}
			</article>
			{% elsif collection == "share" %}
			<article class="h-entry stream--item stream--item--share">
				{% include cite.html %}
				{% include reply.html %}
				{% include webmentions.html type="count-and-replies" %}
			</article>
			{% else %}
			<article class="h-entry stream--item stream--item--{{ collection }}">
				<aside class="stream--item--author">
					{% if page.date %}On <time class="dt-published" datetime="{{ page.date | date: '%FT%T%:z' }}">{{ page.date | date: '%d %B %Y' }}</time>, {% endif %}
					<span class="h-card p-author">
						<img class="photo u-photo memoji" alt="A Memoji avatar of John Peart" src="{{ site.url | append: '/assets/images/me/memoji.png' }}">
						<span class="p-name author--name"><a rel="author" class="p-author u-url u-uid" href="{{ site.url }}">John Peart</a></span>
					</span>
					{% if collection == "photo" -%}<a href="{{ page.url }}" class="u-url">posted a photo</a>
					{% elsif collection == "note" -%}<a href="{{ page.url }}" class="u-url">wrote a note</a>
					{% elsif collection == "list" -%}<a href="{{ page.url }}" class="u-url">wrote a list</a>
					{% elsif collection == "music" -%}<a href="{{ page.url }}" class="u-url">shared some music</a>
					{% else -%}<a href="{{ page.url }}" class="u-url">posted</a>{%- endif -%}
				</aside>
				<section class="e-content stream--item--content stream--item--{{ collection }}--content">
					{% include /formats/stream.html format=collection %}
				</section>
				{% include webmentions.html type="count-and-replies" %}
			</article>
			{% endif %}
			<hr>
		{% endfor %}

		{% include pagination.html %}

	</section>

</main>
