---
layout: default
---

<main id="content" class="container">

	<section id="page-content">

		<h1 class="page-title">Wishlist</h1>

		<aside class="intro-text">

			{{ content }}

		</aside>

		{% assign wishlists = site.wishlist | group_by: 'list' | sort: 'name' %}
		{% for list in wishlists %}

		<section>

			<header>
				<h2 class="wishlist-header wishlist-{{ list.name | slugify }}">
					{{ list.name | smartify }}
				</h2>
			</header>

			<ul>
			{% assign items = list.items | sort: 'price' %}
			{% for item in items %}
				{% if item.purchased == false %}
				<li class="wishlist-item">
					<div class="item-info">
						<p class="item-name">{% if item.link %}<a href="{{ item.link }}" class="item-link" target="_blank" rel="noopener noreferrer">{{ item.name | smartify }}</a>{% else %}{{ item.name | smartify }}{% endif %}</p>
						{% assign content = item.content | strip_newlines %}
						{% if content != "" %}
						{{ content | smartify }}
						{% endif %}
					</div>
					<aside class="item-metadata">
						{% if item.gift-idea == true %}
						<span class="chiplet item-giftidea">Gift idea</span>
						{% endif %}
						{% if item.price == 0.00 %}
						<span class="item-price">Varies</span>
						{% else %}
						<span class="item-price">{{ item.price | round | prepend: "£" }}</span>
						{% endif %}
					</aside>
				</li>
				{% elsif item.purchased == true %}
				<li class="wishlist-item item-purchased hidden">
					<div class="item-info">
						<p class="item-name">{% if item.link %}<a href="{{ item.link }}" class="item-link" target="_blank" rel="noopener noreferrer">{{ item.name | smartify }}</a>{% else %}{{ item.name | smartify }}{% endif %}</p>
						{% assign content = item.content | strip_newlines %}
						{% if content != "" %}
						{{ content | smartify }}
						{% endif %}
					</div>
					<aside class="item-metadata">
						<span class="chiplet chiplet-green item-purchased">Purchased</span>
						{% if item.price == 0.00 %}
						<span class="item-price">Varies</span>
						{% else %}
						<span class="item-price">{{ item.price | round | prepend: "£" }}</span>
						{% endif %}
					</aside>
				</li>
				{% endif %}

			{% endfor %}
			</ul>

		</section>


		{% endfor %}

	</section>

	<fieldset id="toggle-purchased">
		<legend>Toggle purchased items</legend>

		<div class="radio-input">
			<input type="radio" name="toggle-purchased" id="show-purchased" value="show">
			<label for="show-purchased">Show</label>
		</div>

		<div class="radio-input">
			<input type="radio" name="toggle-purchased" id="hide-purchased" value="hide" checked>
			<label for="hide-purchased">Hide</label>
		</div>

	</fieldset>

</main>

<script type="text/javascript" src="{{ site.url | append: site.baseurl | append: site.js-path | append: '/wishlist/toggle-purchased.js' }}" async></script>
