---
layout: default
---

{% include header.html %}

<main id="content" class="container">

	<section id="page-content">

		<h1 class="page-title">Image Store</h1>

		<aside class="intro-text">

			{{ content }}



		</aside>



		<details class="collection">

			<summary><h2>🔗 Social graph images</h2></summary>

			{% assign images = site.static_files | where: "image", true | where: "image-collection", "social" | reverse %}
			{% for image in images %}

				{% assign label = image.label %}
				{% assign image-collection = image.image-collection %}

				{% assign file-basename = image.basename %}
				{% assign file = image.name | prepend: '/' %}
				{% assign file-date = image.modified_time %}
				{% assign filename = image.basename | remove: image.extname | remove: "+" | replace: "-", " " | replace: "lgbti", "LGBTI" | replace: "lgbt", "LGBT" %}

				{% assign folder-base = image-collection | prepend: "/assets/images/" %}
				{% assign folder-name = image.path | remove: folder-base | remove: file %}
				{% assign current-folder = image.path | remove: folder-base | remove: file %}
				{% assign no-folder = image.path | remove: folder-base | remove: file | remove: "/" %}

				{% assign folder-name--no-date = folder-name | remove: '/' %}

				{% if current-folder != folder %}

				{% unless forloop.first %}
				</details>
				{% endunless %}

				<details class="folder">
					{% if no-folder == "" %}
					<summary class="foldername">
						<h3>🗂 Unfiled </h3>
					</summary>
					{% else %}
					<summary class="foldername">
						<h3>🗂 {{ folder-name--no-date }}</h3>
					</summary>

					<div class="folder-info container">

						<div class="file-buttons">
							<a class="file-button" href="{{ 'https://github.com/johnpeart/images/tree/master' | append: image.path | remove: file }}" title="Open the "{{ folder-name }}" folder on Github" target="_blank">Open this folder</a>
							<a class="file-button" href="{{ 'https://github.com/johnpeart/images/upload/master' | append: image.path | remove: file }}" title="Open GitHub and upload to the "{{ folder-name }}" folder" target="_blank">Upload to this folder</a>
						</div>

					</div>

					{% endif %}

					<div class="container">


				{% assign folder = current-folder %}
				{% endif %}

					<details class="file">
						<summary class="file-info">
							<span class="filename">🌅 {{ filename }}</span>
							<span class="filedate">{{ image.modified_time | date:'%Y-%m-%d  %H:%M' }}</span>
						</summary>

						<div class="file-buttons">
							<a class="file-button" href="{{ site.url | append: site.baseurl | append: image.path }}" title="Open "{{ filename }}" on Github" target="_blank">View file</a>

							<a class="file-button" onclick="copyURL('{{ site.url | append: site.baseurl | append: image.path }}');" title="Copy "{{ filename }}" URL to clipboard" href="javascript:void(0); target="_blank">Copy file URL</a>
						</div>
					</details>

				{% if forloop.last %}
					</div>
				</details>
				{% endif %}

			{% endfor %}

		</details>









		<details class="collection">

			<summary><h2>✍🏻 Blog post images</h2></summary>

			{% assign images = site.static_files | where: "image", true | where: "image-collection", "posts" | reverse %}
			{% for image in images %}

				{% assign label = image.label %}
				{% assign image-collection = image.image-collection %}

				{% assign file-basename = image.basename %}
				{% assign file = image.name | prepend: '/' %}
				{% assign file-date = image.modified_time %}
				{% assign filename = image.basename | remove: image.extname | remove: "+" | replace: "-", " " | replace: "lgbti", "LGBTI" | replace: "lgbt", "LGBT" %}

				{% assign folder-base = image-collection | prepend: "/assets/images/" %}
				{% assign folder-name = image.path | remove: folder-base | remove: file %}
				{% assign current-folder = image.path | remove: folder-base | remove: file %}
				{% assign no-folder = image.path | remove: folder-base | remove: image.basename | remove: image.extname %}

				{% assign year = folder-name | slice: 1, 4 %}
				{% assign month = folder-name | slice: 6, 2 %}
				{% assign day = folder-name | slice: 9, 2 %}
				{% assign folder-date = '/' | append: year | append: '/' | append: month | append: '/' | append: day | append: '/' %}

				{% assign folder-name--no-date = folder-name | remove: folder-date %}

				{% if current-folder != folder %}

				{% unless forloop.first %}
				</details>
				{% endunless %}

				<details class="folder">
					{% if no-folder == "" %}
					<summary class="foldername">
						<h3>🗂 Unfiled</h3>
					</summary>
					{% else %}
					<summary class="foldername">
						<h3>🗂 {{ folder-name--no-date }}</h3>
					</summary>

					<div class="folder-info container">

						<div class="file-buttons">
							<a class="file-button" href="{{ 'https://github.com/johnpeart/images/tree/master' | append: image.path | remove: file }}" title="Open the “{{ folder-name }}” folder on Github" target="_blank">Open this folder</a>
							<a class="file-button" href="{{ 'https://github.com/johnpeart/images/upload/master' | append: image.path | remove: file }}" title="Open GitHub and upload to the “{{ folder-name }}” folder" target="_blank">Upload to this folder</a>
						</div>

					</div>

					{% endif %}

					<div class="container">


				{% assign folder = current-folder %}
				{% endif %}

					<details class="file">
						<summary class="file-info">
							<span class="filename">🌅 {{ filename }}</span>
							<span class="filedate">{{ image.modified_time | date:'%Y-%m-%d  %H:%M' }}</span>
						</summary>

						<div class="file-buttons">
							<a class="file-button" href="{{ site.url | append: site.baseurl | append: image.path }}" title="Open “{{ filename }}” on Github" target="_blank">🔎 View file</a>

							<a class="file-button" onclick="copyURL('{{ site.url | append: site.baseurl | append: image.path }}');" title="Copy “{{ filename }}” URL to clipboard" href="javascript:void(0); target="_blank">📋 Copy file URL</a>
						</div>
					</details>

				{% if forloop.last %}
					</div>
				</details>
				{% endif %}

			{% endfor %}

		</details>







		<details class="collection">

			<summary><h2>🛠 Guides images</h2></summary>

			{% assign images = site.static_files | where: "image", true | where: "image-collection", "guides" | reverse %}
			{% for image in images %}

				{% assign label = image.label %}
				{% assign image-collection = image.image-collection %}

				{% assign file-basename = image.basename %}
				{% assign file = image.name | prepend: '/' %}
				{% assign file-date = image.modified_time %}
				{% assign filename = image.basename | remove: image.extname | remove: "+" | replace: "-", " " | replace: "lgbti", "LGBTI" | replace: "lgbt", "LGBT" %}

				{% assign folder-base = image-collection | prepend: "/assets/images/" %}
				{% assign folder-name = image.path | remove: folder-base | remove: file %}
				{% assign current-folder = image.path | remove: folder-base | remove: file %}
				{% assign no-folder = image.path | remove: folder-base | remove: image.basename | remove: image.extname %}

				{% assign folder-name--no-date = folder-name | remove: '/' %}

				{% if current-folder != folder %}

				{% unless forloop.first %}
				</details>
				{% endunless %}

				<details class="folder">
					{% if no-folder == "" %}
					<summary class="foldername">
						<h3>🗂 Unfiled</h3>
					</summary>
					{% else %}
					<summary class="foldername">
						<h3>🗂 {{ folder-name--no-date }}</h3>
					</summary>

					<div class="folder-info container">

						<div class="file-buttons">
							<a class="file-button" href="{{ 'https://github.com/johnpeart/images/tree/master' | append: image.path | remove: file }}" title="Open the “{{ folder-name }}” folder on Github" target="_blank">Open this folder</a>
							<a class="file-button" href="{{ 'https://github.com/johnpeart/images/upload/master' | append: image.path | remove: file }}" title="Open GitHub and upload to the “{{ folder-name }}” folder" target="_blank">Upload to this folder</a>
						</div>

					</div>

					{% endif %}

					<div class="container">


				{% assign folder = current-folder %}
				{% endif %}

					<details class="file">
						<summary class="file-info">
							<span class="filename">🌅 {{ filename }}</span>
							<span class="filedate">{{ image.modified_time | date:'%Y-%m-%d  %H:%M' }}</span>
						</summary>

						<div class="file-buttons">
							<a class="file-button" href="{{ site.url | append: site.baseurl | append: image.path }}" title="Open “{{ filename }}” on Github" target="_blank">View file</a>

							<a class="file-button" onclick="copyURL('{{ site.url | append: site.baseurl | append: image.path }}');" title="Copy “{{ filename }}” URL to clipboard" href="javascript:void(0); target="_blank">Copy file URL</a>
						</div>
					</details>

				{% if forloop.last %}
					</div>
				</details>
				{% endif %}

			{% endfor %}

		</details>


	</section>

</main>

{% include footer.html %}
