body#about-home {
	
	section#page-content > section {
		@include toggleSizes(padding-bottom, 0, 0, ($font-size--p--md * 1.5), ($font-size--p--lg * 1.5), ($font-size--p--xl * 1.5));
		
		@include clearfix;
	}
				
	h1.page-title {
		@include toggleSizes(font-size, ($font-size--h1--xs * 1.25), $font-size--h1--sm, $font-size--h1--md, ($font-size--h1--lg * 1.75), ($font-size--h1--xl * 1.5));
		@include toggleSizes(padding-bottom, 15px, 30px, 45px, 45px, 45px);
	}
				
	h2.about-header {
		
		text-align: 		left;
		
		@include toggleSizes(font-size, ($font-size--h2--xs * 1.25), ($font-size--h2--sm *1.25), ($font-size--h2--md * 1.5), ($font-size--h2--lg * 1.5), ($font-size--h2--xl * 1.5));
		
		&.about-career {
			padding-top: 0;
		}
		
	}
				
	h3.about-organisation {
		
		@include toggleSizes(font-size, ($font-size--h3--xs * 1.15), ($font-size--h3--sm * 1.25), ($font-size--h3--md * 1.2), ($font-size--h3--lg * 1.25), ($font-size--h3--xl * 1.3));
		
		a {
			text-decoration: none;
		}
		
	}
	 
	article:first-of-type > h3.about-organisation {
		padding-top: 0;
	}
				
	h4.about-job-title {
		
		display: inline-block;
		
		text-align: left;
		padding: 0;
		font-style: normal;
		
		@include toggleSizes(font-size, $font-size--h4--xs, $font-size--h4--sm, $font-size--h4--md, $font-size--h4--lg, $font-size--h4--xl);
		@include toggleSizes(line-height, $line-height--h4--xs, $line-height--h4--sm, $line-height--h4--md, $line-height--h4--lg, $line-height--h4--xl);
		
	}
	
	p.about-time {
		padding: 0;
	}
	
	h5.about-job-projects {
		
		text-align: 		left;
		
		@include toggleSizes(font-size, $font-size--h5--xs, $font-size--h5--sm, $font-size--h5--md, $font-size--h5--lg, $font-size--h5--xl);
		@include toggleSizes(line-height, $line-height--h5--xs, $line-height--h5--sm, $line-height--h5--md, $line-height--h5--lg, $line-height--h5--xl);
		@include toggleSizes(padding, $padding--h5--xs, $padding--h5--sm, $padding--h5--md, $padding--h5--lg, $padding--h5--xl);
		
	}
	
	summary.about-job-entry {
		
		/* Hide the marker completely. */
		list-style-image: none;
		&::-webkit-details-marker {
			display: none;
		}
		
		&:before {
			display: block;
			position: relative;
			top: 0;
			right: 0;
			left: auto;
			content: '+';
			width: 30px;
			float: right;
			
			text-align: right;
			font-weight: bold;
			@include toggleSizes(font-size, $font-size--h4--xs, $font-size--h4--sm, $font-size--h4--md, $font-size--h4--lg, $font-size--h4--xl);
			line-height: 1;
		}
		
		display: block;
		position: relative;
		width: 100%;
		text-align: left;
		box-sizing: content-box;
	
		@include toggleSizes(padding, ($font-size--p--xs * 0.5) 0, ($font-size--p--sm * 0.5) 0, ($font-size--p--md * 0.5) 0, ($font-size--p--lg * 0.5) 0, ($font-size--p--xl * 0.5) 0);
	
		@include toggleDarkMode(border-top, 1px solid $gray-400, 1px solid $gray-700);
		
		h4.about-job-title {
			max-width: calc(100% - 30px);
			float: left;
		}
		
		p.about-time {
			display: block;
			position: relative;
			width: 100%;
			clear: both;
		}
		
		&:hover {
			@include toggleDarkMode(color, $accordian-color--hover, $accordian-color--hover-dark);
		}
		&:focus {
			@include toggleDarkMode(color, $accordian-color--focus, $accordian-color--focus-dark);
			@include toggleDarkMode(background, $accordian-background--focus, $accordian-background--focus-dark);
			@include toggleDarkMode(border-top, $accordian-border--active, $accordian-border--active-dark);
			@include toggleDarkMode(outline, $accordian-outline--focus, $accordian-outline--focus-dark);
			outline-offset: 3px;
		}
		&:active {
			@include toggleDarkMode(color, $accordian-color--active, $accordian-color--active-dark);
			@include toggleDarkMode(background, $accordian-background--active, $accordian-background--active-dark);
			@include toggleDarkMode(border-top, $accordian-border--active, $accordian-border--active-dark);
			@include toggleDarkMode(outline, $accordian-outline--active, $accordian-outline--active-dark);
			outline-offset: 0px;
		}
		
		@include clearfix;
	}
	
	
	
	details.about-job-entry {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		
		&[open] summary::-webkit-details-marker {
			display: none;
		}
		
		&[open] summary:before {
			content: '–';
		}
	}
	
	div.about-job-entry {
		@include toggleSizes(padding, ($font-size--p--xs * 0.5) 0, ($font-size--p--sm * 0.5) 0, ($font-size--p--md * 0.5) 0, ($font-size--p--lg * 0.5) 0, ($font-size--p--xl * 0.5) 0);
		@include toggleDarkMode(border-top, 1px solid $gray-400, 1px solid $gray-700);
	}
	
	section.about-details {
		
		padding-top: 20px;
		padding-bottom: 20px;
		
		p:last-of-type {
			padding-bottom: 0;
		}
	}
	
	ul.about-job-projects {
		
		padding-left: 0;
		padding-top: 0;
		@include toggleSizes(padding-bottom, $font-size--p--xs, $font-size--p--sm, $font-size--p--md, $font-size--p--lg, $font-size--p--xl);
		
		list-style: none;
		
		li {
			
			@include toggleSizes(padding-left, ($font-size--p--xs * 1.5), ($font-size--p--sm * 1.5), ($font-size--p--md * 1.25), ($font-size--p--lg * 1.25), ($font-size--p--xl * 1.25));
			padding-bottom: 0;
		
			&::before {
				display: block;
				position: absolute;
				content: "\2014";
		
				@include toggleSizes(left, $font-size--p--xs, ($font-size--p--sm / 2), ($font-size--p--md / 2), ($font-size--p--lg / 2), ($font-size--p--xl / 2));
			}
			
		}
		
	}
	
}
